Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/production-apps-approvals, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/ctsc, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/rse, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce

Notes added by 'git notes add'
  33/dd/ae30564502259cd745c10d70a0f3cd801035
Owners: none

Auto-release hmctspublic.azurecr.io/cmc/claim-store:prod-4dc459d-20210819132833
  k8s/aat/common/money-claims/claim-store.yaml
Owners: @hmcts/cmc

Notes added by 'git notes add'
  68/87/54a7821fa5c8f60d3311cb135c49d457beb5
Owners: none

Notes added by 'git notes add'
  60/80/46877d8ed7b110d169cce11767f817c02175
Owners: none

Auto-release hmctspublic.azurecr.io/cmc/claim-store:prod-4dc459d-20210819132833
  k8s/demo/common/money-claims/cmc-demo.yaml
Owners: none

Notes added by 'git notes add'
  27/0c13b71fa12858c4eac06547be6aa9e0b438fe
Owners: none

BAU: Updating idam-api image
  apps/idam/idam-api/preview.yaml
Owners: @hmcts/platform-operations

Auto-release hmctsprivate.azurecr.io/docmosis:ithc-d20afbe-167134
  k8s/namespaces/docmosis/docmosis/ithc.yaml
Owners: @hmcts/platform-operations

Notes added by 'git notes add'
  53/cb9900e412100ba21244d0281c85be1cc6dee0
Owners: none

Notes added by 'git notes add'
  ed/f8558b0fc3f166441679bfb4d85403b54caef8
Owners: none

Notes added by 'git notes add'
  96/bab556ad24922972b9ddd69a0a1fb5f565d383
Owners: none

Increase ccd-definition-store-transaction timeout
  k8s/perftest/common/ccd/definition-store-api.yaml
Owners: @hmcts/cdm

Notes added by 'git notes add'
  19/9c/824da34c66f472075d9f1ec8ce4a70d984a3
Owners: none

Notes added by 'git notes add'
  f4/5f/01467bd1afb37401a0ff40c118b6208ddc74
Owners: none

Auto-release hmctsprivate.azurecr.io/docmosis:demo-d20afbe-167134
  k8s/namespaces/docmosis/docmosis/demo.yaml
Owners: @hmcts/platform-operations

Auto-release hmctsprivate.azurecr.io/docmosis:prod-d20afbe-167134
  k8s/namespaces/docmosis/docmosis/docmosis.yaml
Owners: @hmcts/platform-operations

Notes added by 'git notes add'
  24/458db5f09bcc6d6420fe9c1b7e1069fdf6e135
Owners: none

Notes added by 'git notes add'
  ef/03/7d3899d98ae0035cfadacc7757effd64f3b8
Owners: none

Auto-release hmctsprivate.azurecr.io/docmosis:aat-d20afbe-167134
  k8s/namespaces/docmosis/docmosis/aat.yaml
Owners: @hmcts/platform-operations

hmctsprivate.azurecr.io/docmosis:prod-d20afbe-167134
  apps/docmosis/docmosis/docmosis.yaml
Owners: @hmcts/platform-operations

Auto-release hmctsprivate.azurecr.io/docmosis:sandbox-d20afbe-167134
  k8s/namespaces/docmosis/docmosis/perftest.yaml
Owners: @hmcts/platform-operations

Notes added by 'git notes add'
  2b/a7ce292fa1412675704b2b807984b314e7b48c
Owners: none

Notes added by 'git notes add'
  bf/fb06e0198627926aac4941b86603732b7729fc
Owners: none

Auto-release hmctspublic.azurecr.io/ia/aip-frontend:prod-8d31730-20210819140719
  k8s/demo/common/ia/aip-frontend.yaml
Owners: @hmcts/immigration-asylum

Notes added by 'git notes add'
  37/2b7473f16778bad052836012589e747db4b169
Owners: none

Notes added by 'git notes add'
  f0/cb/820bfd91d528347f7eaf57bd81eb1c207c23
Owners: none

Notes added by 'git notes add'
  c2/de/6c38cfca5e55f1b76e3fa9baa779af4a2b35
Owners: none

Notes added by 'git notes add'
  45/3fa274c30cd5c9146e0f39ebeb8663fac83bc5
Owners: none

Notes added by 'git notes add'
  b8/cf2ab4b727f07ee7542a38c5282c722a5996ae
Owners: none

Notes added by 'git notes add'
  c3/745324914963b7291d0d7d00e3d47376e8bb7c
Owners: none

Auto-release hmctspublic.azurecr.io/ia/aip-frontend:prod-8d31730-20210819140719
  k8s/perftest/common/ia/aip-frontend.yaml
Owners: @hmcts/immigration-asylum

Notes added by 'git notes add'
  90/828ef07f55e79e7784ee4b360832ba12b7799b
Owners: none

Notes added by 'git notes add'
  c8/bf/b266b35ba0825b05b86479e2945a540e37f7
Owners: none

Auto-release hmctspublic.azurecr.io/ia/aip-frontend:prod-8d31730-20210819140719
  k8s/prod/common/ia/aip-frontend.yaml
Owners: @hmcts/immigration-asylum

Notes added by 'git notes add'
  4a/3f/025dde9941c1131da7b61aa6556663607ca3
Owners: none

Notes added by 'git notes add'
  1f/e1/c42ad3e79eb65a24545ef3dcaf7da806e9cb
Owners: none

Notes added by 'git notes add'
  dc/83/612b1c17d93e15e50beb25a91e5d473aaec2
Owners: none

Auto-release hmctspublic.azurecr.io/ia/aip-frontend:prod-8d31730-20210819140719
  k8s/aat/common/ia/aip-frontend.yaml
Owners: @hmcts/immigration-asylum

Auto-release hmctspublic.azurecr.io/nfdiv/case-api:prod-387038f-20210819141420
  k8s/namespaces/nfdiv/nfdiv-case-api/nfdiv-case-api.yaml
Owners: @hmcts/no-fault-divorce

Notes added by 'git notes add'
  a7/60/65e6e9e18ad9fe1334502e78c504dbda9fe1
Owners: none

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations

# Restricting access to platops will we cleanup
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations

# AAT applications
## environment rules
k8s/aat/ @hmcts/platform-operations

# Production applications
## environment rules
k8s/prod/ @hmcts/production-apps-approvals

## Platform rules

k8s/common/ @hmcts/platform-operations
k8s/namespaces/ @hmcts/platform-operations
k8s/**/*-overlay/ @hmcts/platform-operations
k8s/prod/*/kube-system/ @hmcts/platform-operations
k8s/**/common/monitoring/ @hmcts/platform-operations
k8s/scripts/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations

### Next team

## application rules

### RPE
k8s/namespaces/rpe/ @hmcts/platform-operations
k8s/namespaces/camunda/ @hmcts/platform-operations
k8s/**/common/rpe/identity.yaml @hmcts/platform-operations
k8s/**/common/**/tests-values.yaml @hmcts/platform-operations

k8s/**/common/neuvector/ @hmcts/platform-operations

k8s/**/common/admin/ @hmcts/platform-operations


### Bulk Print
k8s/**/common/rpe/send-letter-identity.yaml @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

### Next team

##CCD
k8s/namespaces/ccd/ @hmcts/cdm
k8s/demo/common/ccd/*.yaml @hmcts/cdm
k8s/**/common/ccd/identity.yaml @hmcts/cdm
k8s/**/common/ccd/data-store-api.yaml @hmcts/cdm
k8s/**/common/ccd/definition-store-api.yaml @hmcts/cdm
k8s/**/common/ccd/user-profile-api.yaml @hmcts/cdm
k8s/**/common/ccd/api-gateway-web.yaml @hmcts/cdm
k8s/**/common/ccd/case-print-service.yaml @hmcts/cdm
k8s/**/common/ccd/admin-web.yaml @hmcts/cdm
k8s/aat/common/ccd/test-stubs-service.yaml @hmcts/cdm
k8s/**/common/ccd/case-activity-api.yaml @hmcts/cdm
k8s/**/common/ccd/case-management-web.yaml @hmcts/cdm

##AAC - CDM
k8s/namespaces/aac/ @hmcts/cdm
k8s/**/common/aac/identity.yaml @hmcts/cdm

##HMC - CDM
k8s/namespaces/hmc/ @hmcts/cdm
k8s/**/common/hmc/identity.yaml @hmcts/cdm

##CPO - CDM
k8s/namespaces/cpo/ @hmcts/cdm
k8s/**/common/cpo/identity.yaml @hmcts/cdm

##CMC
k8s/namespaces/money-claims/ @hmcts/cmc
k8s/**/common/money-claims/identity.yaml @hmcts/cmc
k8s/**/common/money-claims/claim-store.yaml @hmcts/cmc
k8s/**/common/money-claims/cmc-citizen-frontend.yaml @hmcts/cmc
k8s/**/common/money-claims/cmc-legal-frontend.yaml @hmcts/cmc

## I&A
k8s/namespaces/ia/ @hmcts/immigration-asylum
k8s/**/common/ia/identity.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-documents-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-notifications-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/aip-frontend.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/home-office-integration-api.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/home-office-mock-api.yaml @hmcts/immigration-asylum
k8s/ithc/common/ia/home-office-integration-api.yaml @hmcts/immigration-asylum
k8s/ithc/common/ia/home-office-mock-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/timed-event-service.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/case-payments-api.yaml @hmcts/immigration-asylum
k8s/demo/common/ia/case-payments-api.yaml @hmcts/immigration-asylum

## Divorce
k8s/namespaces/divorce/ @hmcts/divorce
k8s/demo/common/divorce/*.yaml @hmcts/divorce
k8s/**/common/divorce/identity.yaml @hmcts/divorce
k8s/**/common/divorce/div-emca.yaml @hmcts/divorce
k8s/**/common/divorce/div-cms.yaml @hmcts/divorce
k8s/**/common/divorce/div-dgs.yaml @hmcts/divorce
k8s/**/common/divorce/div-cos.yaml @hmcts/divorce
k8s/**/common/divorce/div-fps.yaml @hmcts/divorce
k8s/**/common/divorce/div-da.yaml @hmcts/divorce
k8s/**/common/divorce/div-dn.yaml @hmcts/divorce
k8s/**/common/divorce/div-rfe.yaml @hmcts/divorce
k8s/**/common/divorce/div-pfe.yaml @hmcts/divorce
k8s/**/common/divorce/div-cfs.yaml @hmcts/divorce


## Financial Remedy
k8s/namespaces/financial-remedy/ @hmcts/financial-remedy
k8s/**/common/financial-remedy/identity.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-ns.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-emca.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-cos.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-ps.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-dgcs.yaml @hmcts/financial-remedy

## Document Generation
k8s/namespaces/dg/ @hmcts/dts-dev
k8s/**/common/dg/identity.yaml @hmcts/dts-dev

## Document Management
k8s/namespaces/dm-store/ @hmcts/evidence
k8s/**/common/dm-store/identity.yaml @hmcts/evidence

## Evidence Management
k8s/namespaces/em/ @hmcts/evidence
k8s/**/common/em/identity.yaml @hmcts/evidence
k8s/aat/common/em/em-showcase.yaml @hmcts/evidence
k8s/**/common/em/em-icp.yaml @hmcts/evidence
k8s/**/cluster-*/em/em-icp.yaml @hmcts/evidence

## Probate
k8s/namespaces/probate/ @hmcts/probate
k8s/**/common/probate/identity.yaml @hmcts/probate
k8s/**/common/probate/business-service.yaml @hmcts/probate
k8s/**/common/probate/orchestrator-service.yaml @hmcts/probate
k8s/**/common/probate/submit-service.yaml @hmcts/probate
k8s/**/common/probate/probate-caveats-fe.yaml @hmcts/probate
k8s/**/common/probate/probate-frontend.yaml @hmcts/probate
k8s/**/common/probate/probate-back-office.yaml @hmcts/probate

## Reference Data
k8s/namespaces/rd/ @hmcts/ref-data
k8s/**/common/rd/identity.yaml @hmcts/ref-data
k8s/**/common/rd/professional-api.yaml @hmcts/ref-data
k8s/**/common/rd/profile-sync.yaml @hmcts/ref-data
k8s/**/cluster-00/rd/judicial-data-load.yaml @hmcts/ref-data @hmcts/ref-data
k8s/**/cluster-01/rd/judicial-data-load.yaml @hmcts/ref-data @hmcts/ref-data

## SSCS
k8s/namespaces/sscs/ @hmcts/sscs
k8s/**/common/sscs/identity.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tribunals-api.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-evidence-share.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tya-notif.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-bulk-scan.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-ccd-callback-orchestrator.yaml @hmcts/sscs
k8s/**/cluster-*/sscs/sscs-case-loader.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tribunals-frontend.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-cor-frontend.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-track-appeal-redirect-ingress.yaml @hmcts/sscs

## FPLA
k8s/namespaces/family-public-law/ @hmcts/fpl-admins
k8s/**/common/family-public-law/identity.yaml @hmcts/fpl-admins
k8s/**/common/family-public-law/fpl-case-service.yaml @hmcts/fpl-admins

### Adoption
k8s/namespaces/adoption/ @hmcts/fpl-admins
k8s/aat/common/adoption/identity.yaml @hmcts/fpl-admins
k8s/aat/common/adoption/adoption-frontend.yaml @hmcts/fpl-admins
k8s/aat/common/adoption/adoption-backend.yaml @hmcts/fpl-admins

## CTSC
k8s/namespaces/ctsc/ @hmcts/ctsc
k8s/**/common/ctsc/identity.yaml @hmcts/ctsc
k8s/**/common/ctsc/work-allocation.yaml @hmcts/ctsc

## cc-pay
k8s/namespaces/fees-pay/ @hmcts/Fees
k8s/**/common/fees-pay/identity.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-bulkscanning-app.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-payment-app.yaml @hmcts/Fees
k8s/**/common/fees-pay/fees-register-api.yaml @hmcts/Fees
k8s/**/common/fees-pay/fees-register-frontend.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-bubble-frontend.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-callback-function.yaml @hmcts/Fees

k8s/**/cluster-*/fees-pay/bar-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/card-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/finrem-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/pba-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/status-payment-job.yaml @hmcts/Fees

## bar
k8s/namespaces/bar/ @hmcts/Fees
k8s/**/common/bar/bar-app.yaml @hmcts/Fees
k8s/**/common/bar/bar-web.yaml @hmcts/Fees
k8s/**/common/bar/identity.yaml @hmcts/Fees

# IDAM
k8s/namespaces/idam/ @hmcts/idam
k8s/**/common/idam/idam-api.yaml @hmcts/idam
k8s/**/common/idam/idam-web-public.yaml @hmcts/idam
k8s/**/common/idam/idam-web-admin.yaml @hmcts/idam
k8s/**/common/idam/identity.yaml @hmcts/idam

## AM
k8s/namespaces/am/ @hmcts/am-devs
k8s/**/common/am/identity.yaml @hmcts/am-devs
k8s/aat/common/am/accessmgmt-api.yaml @hmcts/am-devs
k8s/perftest/common/am/accessmgmt-api.yaml @hmcts/am-devs
k8s/aat/common/am/am-role-assignment-service.yaml @hmcts/am-devs
k8s/aat/common/am/am-judicial-booking-service.yaml @hmcts/am-devs
k8s/aat/cluster-**/am/role-assignment-batch.yaml @hmcts/am-devs
k8s/aat/cluster-**/am/judicial-booking-batch-service.yaml @hmcts/am-devs
k8s/demo/common/am/am-role-assignment-service.yaml @hmcts/am-devs
k8s/perftest/common/am/am-role-assignment-service.yaml @hmcts/am-devs

## Ethos
k8s/namespaces/ethos/ @hmcts/ethos
k8s/**/common/ethos/identity.yaml @hmcts/ethos
k8s/**/common/ethos/repl-docmosis-service.yaml @hmcts/ethos
k8s/**/common/ethos/ecm-consumer.yaml @hmcts/ethos

### Bulk scan
k8s/namespaces/bsp/ @hmcts/bulk-scan
k8s/**/common/bsp/identity.yaml @hmcts/bulk-scan
k8s/aat/common/bsp/bulk-scan-sample-app.yaml @hmcts/bulk-scan
k8s/demo/common/bsp/bsp-demo.yaml @hmcts/bulk-scan
k8s/demo/common/bsp/bulk-scan-sample-app.yaml @hmcts/bulk-scan

### BSP but separate namespace and identity
k8s/namespaces/reform-scan/ @hmcts/bulk-scan
k8s/**/common/reform-scan/identity.yaml @hmcts/bulk-scan

### XUI
k8s/namespaces/xui/ @hmcts/xui
k8s/**/common/xui/identity.yaml @hmcts/xui
k8s/**/common/xui/xui-tc.yaml @hmcts/xui
k8s/**/common/xui/webapp.yaml @hmcts/xui
k8s/**/common/xui/manage-organisations.yaml @hmcts/xui
k8s/**/common/xui/approve-org.yaml @hmcts/xui
k8s/aat/common/xui/share-case.yaml @hmcts/xui
k8s/**/common/xui/register-org-ingress.yaml @hmcts/xui
k8s/perftest/common/xui/share-case.yaml @hmcts/xui

### PCQ
k8s/namespaces/pcq/ @hmcts/pcq-admins
k8s/**/common/pcq/identity.yaml @hmcts/pcq-admins
k8s/**/common/pcq/pcq-frontend.yaml @hmcts/pcq-admins
k8s/**/common/pcq/pcq-backend.yaml @hmcts/pcq-admins
k8s/**/cluster-*/pcq/pcq-consolidation-service.yaml @hmcts/pcq-admins
k8s/aat/cluster-*/pcq/pcq-loader.yaml @hmcts/pcq-admins
k8s/demo/cluster-*/pcq/pcq-loader.yaml @hmcts/pcq-admins

### RSE
k8s/namespaces/rse/ @hmcts/rse
k8s/aat/common/rse/check.yaml @hmcts/rse

### Civil
k8s/namespaces/civil/ @hmcts/civil-admins
k8s/aat/common/civil/identity.yaml @hmcts/civil-admins
k8s/demo/common/civil/identity.yaml @hmcts/civil-admins

### WORK ALLOCATION
k8s/namespaces/wa/ @hmcts/work-allocation
k8s/**/common/wa/identity.yaml @hmcts/work-allocation

### FACT
k8s/namespaces/fact/ @hmcts/fact
k8s/**/common/fact/identity.yaml @hmcts/fact

### NO FAULT DIVORCE
k8s/namespaces/nfdiv/ @hmcts/no-fault-divorce
k8s/**/common/nfdiv/identity.yaml @hmcts/no-fault-divorce

### Kustomization control

k8s/namespaces/**/kustomization.yaml @hmcts/platform-operations
