Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/production-apps-approvals, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

hmctspublic.azurecr.io/et/sya:pr-429-c0647f7-20221215095349
  apps/et/et-sya/perftest.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/nfdiv/frontend:prod-e0f5582-20221215095107
  k8s/namespaces/nfdiv/nfdiv-frontend/demo.yaml
  k8s/namespaces/nfdiv/nfdiv-frontend/nfdiv-frontend.yaml
Owners: @hmcts/no-fault-divorce

hmctspublic.azurecr.io/adoption/cos-api:pr-249-4f8dc7e-20221215104356
  apps/adoption/adoption-cos-api/demo.yaml
Owners: @hmcts/reform-adoption

hmctspublic.azurecr.io/probate/back-office:prod-0056781-20221215103033
  apps/probate/probate-back-office/perftest.yaml
  apps/probate/probate-back-office/probate-back-office.yaml
  apps/probate/probate-cron-make-dormant-cases/demo/00.yaml
  apps/probate/probate-cron-make-dormant-cases/perftest/00.yaml
  apps/probate/probate-cron-make-dormant-cases/probate-cron-make-dormant-cases.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/demo/00.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/perftest/00.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/probate-cron-reactivate-dormant-cases.yaml
  apps/probate/probate-cron-smee-and-ford-extract/demo/demo.yaml
  apps/probate/probate-cron-smee-and-ford-extract/probate-cron-smee-and-ford-extract.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/em/media-viewer:prod-846134a-20221215102204
  k8s/namespaces/em/em-media-viewer/em-media-viewer.yaml
Owners: @hmcts/evidence

changing payment demo and increase schedule for pba report
  apps/fees-pay/ccpay-payment-app/demo-int-image-policy.yaml
  k8s/namespaces/fees-pay/pba-payment-job-int/demo.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/fpl/case-service:prod-961f80e-20221215104924
  apps/family-public-law/fpl-case-service/fpl-case-service.yaml
  apps/family-public-law/fpl-case-service/ithc.yaml
Owners: @hmcts/fpl-admins

DTSPB-3219 Adhoc Time
  apps/probate/probate-cron-reactivate-dormant-cases/prod/00.yaml
Owners: @hmcts/probate

DTSPB-3219 Adhoc Time (#19904)
  apps/probate/probate-cron-reactivate-dormant-cases/prod/00.yaml
Owners: @hmcts/probate

nfdiv-1705: deploy PR-2709 onto demo
  k8s/namespaces/nfdiv/nfdiv-case-api/demo.yaml
Owners: @hmcts/no-fault-divorce

DFPL-1084: Refresh Pods for onboarding
  apps/family-public-law/fpl-case-service/prod.yaml
Owners: @hmcts/fpl-admins

nfdiv-1705: deploy PR-2709 onto demo (#19905)
  k8s/namespaces/nfdiv/nfdiv-case-api/demo.yaml
Owners: @hmcts/no-fault-divorce

Revert "DTSPB-3219 Adhoc Time (#19904)"
  apps/probate/probate-cron-reactivate-dormant-cases/prod/00.yaml
Owners: @hmcts/probate

Revert "DTSPB-3219 Adhoc Time (#19904)" (#19907)
  apps/probate/probate-cron-reactivate-dormant-cases/prod/00.yaml
Owners: @hmcts/probate

XUI Add image policy for demo integration
  apps/xui/automation/kustomization.yaml
  apps/xui/xui-webapp-integration/demo.yaml
Owners: @hmcts/platform-operations, @hmcts/xui

XUI Add image policy for demo integration
  apps/xui/xui-webapp-integration/demo-image-policy.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/fact/api:prod-7c2a643-20221215113359
  apps/fact/fact-api/fact-api.yaml
Owners: @hmcts/fact

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations

# Restricting access to platops till we cleanup
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations

# AAT applications
## environment rules
k8s/aat/ @hmcts/platform-operations

# Production applications
## environment rules
k8s/prod/ @hmcts/production-apps-approvals

## Platform rules

k8s/namespaces/ @hmcts/platform-operations
k8s/**/*-overlay/ @hmcts/platform-operations
k8s/prod/*/kube-system/ @hmcts/platform-operations
k8s/scripts/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations

### Next team

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations

apps/neuvector/ @hmcts/platform-operations

apps/admin/ @hmcts/platform-operations


### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print


##CCD
k8s/namespaces/ccd/ @hmcts/cdm
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce


## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
k8s/namespaces/em/ @hmcts/evidence
k8s/**/cluster-*/em/em-icp.yaml @hmcts/evidence
apps/em/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
k8s/namespaces/rd/ @hmcts/ref-data
k8s/**/cluster-00/rd/judicial-data-load.yaml @hmcts/ref-data @hmcts/ref-data
k8s/**/cluster-01/rd/judicial-data-load.yaml @hmcts/ref-data @hmcts/ref-data
apps/rd/ @hmcts/ref-data

## SSCS
k8s/namespaces/sscs/ @hmcts/sscs
k8s/**/cluster-*/sscs/sscs-case-loader.yaml @hmcts/sscs
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
k8s/namespaces/fees-pay/ @hmcts/Fees

k8s/**/cluster-*/fees-pay/bar-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/card-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/finrem-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/pba-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/status-payment-job.yaml @hmcts/Fees
apps/fees-pay/ @hmcts/Fees

## bar
k8s/namespaces/bar/ @hmcts/Fees
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
k8s/namespaces/am/ @hmcts/am-devs
k8s/aat/cluster-**/am/role-assignment-batch.yaml @hmcts/am-devs
k8s/aat/cluster-**/am/judicial-booking-batch-service.yaml @hmcts/am-devs
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
k8s/namespaces/pcq/ @hmcts/pcq-admins
k8s/**/cluster-*/pcq/pcq-consolidation-service.yaml @hmcts/pcq-admins
k8s/aat/cluster-*/pcq/pcq-loader.yaml @hmcts/pcq-admins
k8s/demo/cluster-*/pcq/pcq-loader.yaml @hmcts/pcq-admins
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins
k8s/namespaces/ccd/ccd-case-disposer @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
k8s/namespaces/wa/ @hmcts/work-allocation
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact
k8s/namespaces/fact/fact-admin/prod.yaml  @hmcts/fact

### NO FAULT DIVORCE
k8s/namespaces/nfdiv/ @hmcts/no-fault-divorce
k8s/aat/cluster-**/nfdiv/ @hmcts/no-fault-divorce
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse
apps/dtsse-ardoq-adapter @hmcts/rse

### Add new changes here

### Kustomization control

k8s/namespaces/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations
### Do not add after this, add before Kustomization control
