Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control

hmctspublic.azurecr.io/pcq/consolidation-service:prod-6165e48-20230217153429
  apps/pcq/pcq-consolidation-service/pcq-consolidation-service.yaml
Owners: @hmcts/pcq-admins

hmctspublic.azurecr.io/sptribs/case-api:prod-7c4ac6c-20230217153848
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/pcq/consolidation-service:prod-d79b25a-20230217154336
  apps/pcq/pcq-consolidation-service/pcq-consolidation-service.yaml
Owners: @hmcts/pcq-admins

hmctspublic.azurecr.io/bar/api:prod-b788b5d-20230215164917 hmctspublic.azurecr.io/bar/api:prod-b788b5d-20230215164917
  apps/bar/bar-api-int/bar-api-int.yaml
  apps/bar/bar-api-int/demo.yaml
  apps/bar/bar-api/bar-api.yaml
  apps/bar/bar-api/demo.yaml
  apps/bar/bar-api/perftest.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/sptribs/case-api:prod-996f069-20230217155652
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/reform-scan/notification-service:prod-bf4c294-20230217160745
  apps/reform-scan/reform-scan-notification-service/reform-scan-notification-service.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/reform-scan/blob-router:prod-5a9c32e-20230217160827
  apps/reform-scan/reform-scan-blob-router/reform-scan-blob-router.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/nfdiv/case-api:prod-3752dc8-20230217160504 hmctspublic.azurecr.io/nfdiv/case-api:prod-3752dc8-20230217160504
  apps/nfdiv/nfdiv-case-api/demo.yaml
  apps/nfdiv/nfdiv-case-api/nfdiv-case-api.yaml
  apps/nfdiv/nfdiv-cron-alert-application-not-reviewed/nfdiv-cron-alert-application-not-reviewed.yaml
  apps/nfdiv/nfdiv-cron-applicant-can-sts-after-intention-fo/nfdiv-cron-applicant-can-sts-after-intention-fo.yaml
  apps/nfdiv/nfdiv-cron-application-approved-reminder/nfdiv-cron-application-approved-reminder.yaml
  apps/nfdiv/nfdiv-cron-bulk-list-create/nfdiv-cron-bulk-list-create.yaml
  apps/nfdiv/nfdiv-cron-eligible-for-switch-to-sole/nfdiv-cron-eligible-for-switch-to-sole.yaml
  apps/nfdiv/nfdiv-cron-js-disputed-answer-overdue/nfdiv-cron-js-disputed-answer-overdue.yaml
  apps/nfdiv/nfdiv-cron-migrate-bulk-cases/nfdiv-cron-migrate-bulk-cases.yaml
  apps/nfdiv/nfdiv-cron-migrate-cases/nfdiv-cron-migrate-cases.yaml
  apps/nfdiv/nfdiv-cron-notify-applicant-dispute-form-overdue/nfdiv-cron-notify-applicant-dispute-form-overdue.yaml
  apps/nfdiv/nfdiv-cron-notify-applicants-apply-co/nfdiv-cron-notify-applicants-apply-co.yaml
  apps/nfdiv/nfdiv-cron-notify-respondent-apply-final-order/nfdiv-cron-notify-respondent-apply-final-order.yaml
  apps/nfdiv/nfdiv-cron-partner-not-applied-for-final-order/nfdiv-cron-partner-not-applied-for-final-order.yaml
  apps/nfdiv/nfdiv-cron-process-cases-to-be-removed/nfdiv-cron-process-cases-to-be-removed.yaml
  apps/nfdiv/nfdiv-cron-process-failed-pronounced-cases/nfdiv-cron-process-failed-pronounced-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-scheduled-cases/nfdiv-cron-process-failed-scheduled-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-to-unlink-cases/nfdiv-cron-process-failed-to-unlink-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-cases-to-aos-overdue/nfdiv-cron-progress-cases-to-aos-overdue.yaml
  apps/nfdiv/nfdiv-cron-progress-held-cases/nfdiv-cron-progress-held-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-to-awaiting-final-order/nfdiv-cron-progress-to-awaiting-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-applicant2/nfdiv-cron-remind-applicant2.yaml
  apps/nfdiv/nfdiv-cron-remind-applicants-apply-for-fo/nfdiv-cron-remind-applicants-apply-for-fo.yaml
  apps/nfdiv/nfdiv-cron-remind-awaiting-joint-final-order/nfdiv-cron-remind-awaiting-joint-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-respondent-solicitor/nfdiv-cron-remind-respondent-solicitor.yaml
  apps/nfdiv/nfdiv-cron-resend-co-pronounced-cover-letters/nfdiv-cron-resend-co-pronounced-cover-letters.yaml
Owners: @hmcts/no-fault-divorce

hmctspublic.azurecr.io/pcq/frontend:prod-fe8e8f7-20230217161435
  apps/pcq/pcq-frontend-int/pcq-frontend-int.yaml
  apps/pcq/pcq-frontend/pcq-frontend.yaml
Owners: @hmcts/pcq-admins

hmctspublic.azurecr.io/bulk-scan/orchestrator:prod-a1bf69c-20230217160806
  apps/bsp/bulk-scan-orchestrator/bulk-scan-orchestrator.yaml
Owners: @hmcts/bulk-scan

test 5362
  apps/money-claims/cmc-claim-store/demo-image-policy.yaml
  apps/money-claims/cmc-claim-store/demo.yaml
Owners: @hmcts/cmc

DSTPB-2794 update application chart to probate-cron
  apps/probate/probate-cron-ccd-data-migration-tool/probate-cron-ccd-data-migration-tool.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/pcq/frontend:prod-b70ced7-20230217164047
  apps/pcq/pcq-frontend-int/pcq-frontend-int.yaml
  apps/pcq/pcq-frontend/pcq-frontend.yaml
Owners: @hmcts/pcq-admins

DTSPB-3235: point to demo
  apps/probate/probate-back-office/demo.yaml
Owners: @hmcts/probate

DSTPB-2794 update application chart to probate-cron
  apps/probate/probate-cron-ccd-data-migration-tool/demo/01.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/cmc/claim-store:pr-2689-aa2fff4-20230217144932
  apps/money-claims/cmc-claim-store/demo.yaml
Owners: @hmcts/cmc

hmctspublic.azurecr.io/cmc/claim-store:pr-2703-aa2fff4-20230217144932
  apps/money-claims/cmc-claim-store/demo.yaml
Owners: @hmcts/cmc

DSTPB-2794 update application chart to probate-cron
  apps/probate/probate-cron-ccd-data-migration-tool/probate-cron-ccd-data-migration-tool.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/probate/back-office:pr-2184-f3fd3ae-20230213145618
  apps/probate/probate-back-office/demo.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/pcq/frontend:prod-e65dd96-20230217165001
  apps/pcq/pcq-frontend-int/pcq-frontend-int.yaml
  apps/pcq/pcq-frontend/pcq-frontend.yaml
Owners: @hmcts/pcq-admins

hmctspublic.azurecr.io/lau/frontend:prod-4875b14-20230217162222
  apps/lau/lau-frontend-int/demo.yaml
  apps/lau/lau-frontend-int/lau-frontend-int.yaml
  apps/lau/lau-frontend/lau-frontend.yaml
Owners: @hmcts/lau-admins

hmctspublic.azurecr.io/finrem/cos:prod-27e7bb0-20230217164721
  apps/financial-remedy/finrem-cos/finrem-cos.yaml
Owners: @hmcts/financial-remedy

hmctspublic.azurecr.io/dm/store:prod-dd05cb1-20230217165206
  apps/dm-store/dm-store-cdam/dm-store-cdam.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/dm/store:prod-dd05cb1-20230217165206 hmctspublic.azurecr.io/dm/store:prod-dd05cb1-20230217165206 hmctspublic.azurecr.io/dm/store:prod-dd05cb1-20230217165206
  apps/ccd/ccd-int/ccd-int.yaml
  apps/dm-store/dm-store/demo.yaml
  apps/dm-store/dm-store/dm-store.yaml
  apps/dm-store/dm-store/perftest.yaml
  apps/money-claims/cmc-ccd/demo.yaml
Owners: @hmcts/cdm, @hmcts/evidence, @hmcts/cmc

hmctspublic.azurecr.io/em/anno:prod-f7890a6-20230217165232
  apps/ccd/ccd-int/ccd-int.yaml
  apps/em/em-anno/em-anno.yaml
Owners: @hmcts/cdm, @hmcts/evidence

hmctspublic.azurecr.io/adoption/cos-api:pr-677-12739c8-20230216155440
  apps/adoption/adoption-cron-multi-child-draft-application-alert/demo.yaml
Owners: @hmcts/reform-adoption

Added hmc-judicial-payment-service to cnp-flux-config
  apps/hmc/hmc-judicial-payment-service/aat.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/em/npa:prod-b2a7c50-20230217165456 hmctspublic.azurecr.io/em/npa:prod-b2a7c50-20230217165456
  apps/em/em-npa/demo.yaml
  apps/em/em-npa/em-npa.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/stitching:prod-6d424b1-20230217165608 hmctspublic.azurecr.io/em/stitching:prod-6d424b1-20230217165608 hmctspublic.azurecr.io/em/stitching:prod-6d424b1-20230217165608
  apps/em/em-stitching/demo.yaml
  apps/em/em-stitching/em-stitching.yaml
  apps/em/em-stitching/perftest.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/adoption/cos-api:pr-677-7691531-20230217170710 hmctspublic.azurecr.io/adoption/cos-api:pr-677-7691531-20230217170710
  apps/adoption/adoption-cos-api/demo.yaml
  apps/adoption/adoption-cos-api/ithc.yaml
  apps/adoption/adoption-cron-draft-case-deletion-alert/demo.yaml
  apps/adoption/adoption-cron-multi-child-draft-application-alert/demo.yaml
Owners: @hmcts/reform-adoption

ADOP-2191 changes
  apps/adoption/adoption-cron-multi-child-draft-application-alert/adoption-cron-multi-child-draft-application-alert.yaml
  apps/adoption/adoption-cron-multi-child-draft-application-alert/demo.yaml
Owners: @hmcts/reform-adoption

hmctspublic.azurecr.io/xui/webapp:pr-2783-af4860a-20230217165527
  apps/xui/xui-webapp-wa-integration/demo.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/ia/case-api:pr-1273-8aa548f-20230217171053
  apps/ia/ia-case-api/ithc.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/civil/service:prod-1c89899-20230217133049
  apps/civil/civil-service/civil-service.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/wa/task-management-api:prod-ff7d5e4-20230217170505
  apps/wa/wa-task-management-api/ithc.yaml
  apps/wa/wa-task-management-api/perftest.yaml
  apps/wa/wa-task-management-api/wa-task-management-api.yaml
Owners: @hmcts/work-allocation

hmctspublic.azurecr.io/sptribs/case-api:prod-5ee01eb-20230217173306
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/em/npa:prod-4920c70-20230217181451 hmctspublic.azurecr.io/em/npa:prod-4920c70-20230217181451
  apps/em/em-npa/demo.yaml
  apps/em/em-npa/em-npa.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/stitching:prod-489061d-20230217181545 hmctspublic.azurecr.io/em/stitching:prod-489061d-20230217181545 hmctspublic.azurecr.io/em/stitching:prod-489061d-20230217181545
  apps/em/em-stitching/demo.yaml
  apps/em/em-stitching/em-stitching.yaml
  apps/em/em-stitching/perftest.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/xui/webapp:pr-2734-ea62eb5-20230217190333
  apps/xui/xui-webapp-integration/demo.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/em/hrs-ingestor:prod-0036f5e-20230217203000
  apps/em/em-hrs-ingestor/em-hrs-ingestor.yaml
Owners: @hmcts/evidence
