Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control

hmctspublic.azurecr.io/dg/docassembly:prod-65f3a32-20230214192615
  apps/dg/dg-docassembly/dg-docassembly.yaml
  apps/money-claims/cmc-dg-docassembly/cmc-dg-docassembly.yaml
Owners: @hmcts/dts-dev, @hmcts/evidence, @hmcts/cmc

hmctspublic.azurecr.io/em/stitching:prod-70eb605-20230214192656 hmctspublic.azurecr.io/em/stitching:prod-70eb605-20230214192656 hmctspublic.azurecr.io/em/stitching:prod-70eb605-20230214192656
  apps/em/em-stitching/demo.yaml
  apps/em/em-stitching/em-stitching.yaml
  apps/em/em-stitching/perftest.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/dm/store:prod-4f43a61-20230214192446
  apps/dm-store/dm-store-cdam/dm-store-cdam.yaml
Owners: @hmcts/evidence

SSCS-11393 : Turn S&L on again (#20948)
  apps/sscs/sscs-hearings-api/prod.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/em/npa:prod-853e520-20230214203811 hmctspublic.azurecr.io/em/npa:prod-853e520-20230214203811
  apps/em/em-npa/demo.yaml
  apps/em/em-npa/em-npa.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/hmc/cft-hearing-service:prod-cfaa8f8-20230214221605 hmctspublic.azurecr.io/hmc/cft-hearing-service:prod-cfaa8f8-20230214221605
  apps/hmc/hmc-cft-hearing-service-int/demo.yaml
  apps/hmc/hmc-cft-hearing-service/demo.yaml
  apps/hmc/hmc-cft-hearing-service/hmc-cft-hearing-service.yaml
Owners: @hmcts/cdm

SSCS-11393 backout
  apps/sscs/sscs-hearings-api/prod.yaml
Owners: @hmcts/sscs

Sscs-11393 : Backout S&L again
  apps/sscs/sscs-hearings-api/prod.yaml
Owners: @hmcts/sscs

Sscs-11393 : Backout S&L again (#20957)
  apps/sscs/sscs-hearings-api/prod.yaml
Owners: @hmcts/sscs

DTSPB-3097 removed spaces
  tests/flux-v2-image-automation.sh
Owners: @hmcts/platform-operations

DTSPB-3097 Added Hmrc dev configs
  apps/probate/demo/00/kustomization.yaml
  apps/probate/demo/01/kustomization.yaml
  apps/probate/demo/base/kustomization.yaml
  apps/probate/probate-cron-hmrc-extract/demo/00.yaml
  apps/probate/probate-cron-hmrc-extract/demo/01.yaml
  apps/probate/probate-cron-hmrc-extract/image-policy.yaml
  apps/probate/probate-cron-hmrc-extract/image-repo.yaml
  apps/probate/probate-cron-hmrc-extract/probate-cron-hmrc-extract.yaml
  tests/flux-v2-image-automation.sh
Owners: @hmcts/platform-operations, @hmcts/probate

hmctspublic.azurecr.io/civil/general-applications:prod-055528b-20230215073216
  apps/civil/civil-general-applications/civil-general-applications.yaml
  apps/civil/civil-general-applications/demo.yaml
Owners: @hmcts/civil-admins

Revert "Revert bulk-scan-processor PR deployment"
  apps/bsp/bulk-scan-processor/demo-image-policy.yaml
  apps/bsp/bulk-scan-processor/demo.yaml
Owners: @hmcts/bulk-scan

Refresh bulk-scan-processor demo pods
  apps/bsp/bulk-scan-processor/demo.yaml
Owners: @hmcts/bulk-scan

initial
  apps/flux-system/aat/base/aks-sops-aadpodidentity.yaml
  apps/flux-system/aat/base/kustomization.yaml
  apps/flux-system/demo/base/aks-sops-aadpodidentity.yaml
  apps/flux-system/demo/base/kustomization.yaml
  apps/flux-system/ithc/base/aks-sops-aadpodidentity.yaml
  apps/flux-system/ithc/base/kustomization.yaml
  apps/flux-system/perftest/base/aks-sops-aadpodidentity.yaml
  apps/flux-system/perftest/base/kustomization.yaml
  apps/flux-system/preview/base/aks-sops-aadpodidentity.yaml
  apps/flux-system/preview/base/kustomization.yaml
  apps/flux-system/prod/base/aks-sops-aadpodidentity.yaml
  apps/flux-system/ptl-intsvc/base/aks-sops-aadpodidentity.yaml
  apps/flux-system/ptl-intsvc/base/kustomization.yaml
  clusters/aat/base/kustomization.yaml
  clusters/demo/base/kustomization.yaml
  clusters/ithc/base/kustomization.yaml
  clusters/perftest/base/kustomization.yaml
  clusters/preview/base/kustomization.yaml
Owners: @hmcts/platform-operations

revert
  apps/flux-system/ptl-intsvc/base/kustomization.yaml
Owners: @hmcts/platform-operations

revert
  apps/flux-system/ptl-intsvc/base/kustomization.yaml
Owners: @hmcts/platform-operations

revert
  apps/flux-system/ptl-intsvc/base/kustomization.yaml
Owners: @hmcts/platform-operations

revert
  apps/flux-system/ptl-intsvc/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/civil/general-applications:prod-fa7e784-20230215082236
  apps/civil/civil-general-applications/civil-general-applications.yaml
  apps/civil/civil-general-applications/demo.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/ethos/repl-docmosis-backend:pr-2014-0fe268b-20230215091330
  apps/ethos/repl-docmosis-service/demo.yaml
Owners: @hmcts/ethos

hmctspublic.azurecr.io/sptribs/case-api:prod-0b92dc2-20230215091339
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctsprivate.azurecr.io/camunda/bpm:prod-c361f6a-20230215092642
  apps/camunda/camunda-api/camunda-api.yaml
  apps/camunda/camunda-ui/camunda-ui.yaml
Owners: @hmcts/platform-operations

DTSPB-3097 Modified as per review comment
  apps/probate/probate-cron-hmrc-extract/probate-cron-hmrc-extract.yaml
  tests/flux-v2-image-automation.sh
Owners: @hmcts/probate, @hmcts/platform-operations

hmctspublic.azurecr.io/wa/task-management-api:prod-d917904-20230215092145
  apps/wa/wa-task-management-api/ithc.yaml
  apps/wa/wa-task-management-api/perftest.yaml
  apps/wa/wa-task-management-api/wa-task-management-api.yaml
Owners: @hmcts/work-allocation

demo deployment
  apps/sscs/sscs-tribunals-api/demo-image-policy.yaml
  apps/sscs/sscs-tribunals-api/demo.yaml
  apps/sscs/sscs-tya-notif/demo-image-policy.yaml
  apps/sscs/sscs-tya-notif/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/sscs/tya-notif:pr-2264-eb5d568-20230210121223 hmctspublic.azurecr.io/sscs/tribunals-api:pr-3117-7289214-20230213161114
  apps/sscs/sscs-tribunals-api/demo.yaml
  apps/sscs/sscs-tya-notif/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/draft-store/service:prod-351a367-20230215094018
  apps/ccd/ccd-int/ccd-int.yaml
  apps/rpe/draft-store-service/draft-store-service.yaml
Owners: @hmcts/cdm, @hmcts/platform-operations

DTSPB-3097 Added Hmrc dev configs (#20960)
  apps/probate/demo/00/kustomization.yaml
  apps/probate/demo/01/kustomization.yaml
  apps/probate/demo/base/kustomization.yaml
  apps/probate/probate-cron-hmrc-extract/demo/00.yaml
  apps/probate/probate-cron-hmrc-extract/demo/01.yaml
  apps/probate/probate-cron-hmrc-extract/image-policy.yaml
  apps/probate/probate-cron-hmrc-extract/image-repo.yaml
  apps/probate/probate-cron-hmrc-extract/probate-cron-hmrc-extract.yaml
  tests/flux-v2-image-automation.sh
Owners: @hmcts/platform-operations, @hmcts/probate

hmctspublic.azurecr.io/probate/back-office:pr-2102-7221666-20230214151633
  apps/probate/probate-cron-hmrc-extract/demo/00.yaml
  apps/probate/probate-cron-hmrc-extract/demo/01.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/prl/cos:pr-998-72e6992-20230215101318 hmctspublic.azurecr.io/prl/cos:pr-998-72e6992-20230215101318
  apps/private-law/prl-cos/ithc.yaml
  apps/private-law/prl-cos/perftest.yaml
Owners: @hmcts/private-law

hmctspublic.azurecr.io/probate/submit-service:prod-862faea-20230215101950 hmctspublic.azurecr.io/probate/submit-service:prod-862faea-20230215101950
  apps/probate/probate-submit-service/perftest.yaml
  apps/probate/probate-submit-service/probate-submit-service.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/et/sya-api:prod-6bdddf1-20230215102604
  apps/et/et-sya-api/et-sya-api.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/et/sya:pr-647-99604c9-20230215102546
  apps/et/et-sya/perftest.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/lau/idam-backend:prod-0082592-20230215103235
  apps/lau/lau-idam-backend-int/lau-idam-backend-int.yaml
  apps/lau/lau-idam-backend/lau-idam-backend.yaml
Owners: @hmcts/lau-admins

hmctspublic.azurecr.io/et/sya-api:pr-193-887c911-20230215103902
  apps/et/et-sya-api/demo.yaml
Owners: @hmcts/employment-tribunals

Update ithc.yaml
  apps/private-law/prl-cos/ithc.yaml
Owners: @hmcts/private-law

hmctspublic.azurecr.io/et/sya-api:pr-242-b674e2d-20230215104320
  apps/et/et-sya-api/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/reform-scan/blob-router:prod-3c4d0f2-20230215104218
  apps/reform-scan/reform-scan-blob-router/reform-scan-blob-router.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/probate/business-service:prod-b02f4fa-20230215110036
  apps/probate/probate-business-service/probate-business-service.yaml
Owners: @hmcts/probate
