Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control

hmctspublic.azurecr.io/dm/store:prod-c47fbd7-20230227192238 hmctspublic.azurecr.io/dm/store:prod-c47fbd7-20230227192238 hmctspublic.azurecr.io/dm/store:prod-c47fbd7-20230227192238
  apps/ccd/ccd-int/ccd-int.yaml
  apps/dm-store/dm-store/demo.yaml
  apps/dm-store/dm-store/dm-store.yaml
  apps/dm-store/dm-store/perftest.yaml
  apps/money-claims/cmc-ccd/demo.yaml
Owners: @hmcts/cdm, @hmcts/evidence, @hmcts/cmc

hmctspublic.azurecr.io/dm/store:prod-c47fbd7-20230227192238
  apps/dm-store/dm-store-cdam/dm-store-cdam.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/am/role-assignment-batch-service:prod-a0387f9-20230227192319
  apps/am/am-role-assignment-batch-service/am-role-assignment-batch-service.yaml
Owners: @hmcts/am-devs

hmctspublic.azurecr.io/am/judicial-booking-service:prod-814120b-20230227192340
  apps/am/am-judicial-booking-service/am-judicial-booking-service.yaml
Owners: @hmcts/am-devs

hmctspublic.azurecr.io/am/org-role-mapping-service:prod-74b6433-20230227192042
  apps/am/am-org-role-mapping-service/am-org-role-mapping-service.yaml
Owners: @hmcts/am-devs

hmctspublic.azurecr.io/em/stitching:prod-13cdfcd-20230227192603 hmctspublic.azurecr.io/em/stitching:prod-13cdfcd-20230227192603
  apps/em/em-stitching/em-stitching.yaml
  apps/em/em-stitching/perftest.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/dtsse/dashboard-ingestion:prod-80ff918-20230227195434
  apps/dtsse/dtsse-dashboard-ingestion/dtsse-dashboard-ingestion.yaml
Owners: @hmcts/rse

hmctspublic.azurecr.io/xui/webapp:pr-2734-c21cfb2-20230227192925
  apps/xui/xui-webapp-integration/demo.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/ccpay/bubble-frontend:pr-755-2af0c19-20230227195515
  apps/fees-pay/ccpay-bubble-frontend-int/demo.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/dm/store:prod-a4f4213-20230227200337 hmctspublic.azurecr.io/dm/store:prod-a4f4213-20230227200337 hmctspublic.azurecr.io/dm/store:prod-a4f4213-20230227200337
  apps/ccd/ccd-int/ccd-int.yaml
  apps/dm-store/dm-store/demo.yaml
  apps/dm-store/dm-store/dm-store.yaml
  apps/dm-store/dm-store/perftest.yaml
  apps/money-claims/cmc-ccd/demo.yaml
Owners: @hmcts/cdm, @hmcts/evidence, @hmcts/cmc

hmctspublic.azurecr.io/dm/store:prod-a4f4213-20230227200337
  apps/dm-store/dm-store-cdam/dm-store-cdam.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/stitching:prod-c28c622-20230227204607 hmctspublic.azurecr.io/em/stitching:prod-c28c622-20230227204607
  apps/em/em-stitching/em-stitching.yaml
  apps/em/em-stitching/perftest.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/bulk-scan/sample-app:prod-e1873b5-20230227210956
  apps/bsp/bulk-scan-sample-app/bulk-scan-sample-app.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/em/stitching:pr-1408-b13fe34-20230227212204
  apps/em/em-stitching/demo.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/npa:prod-58d55ea-20230227212212 hmctspublic.azurecr.io/em/npa:prod-58d55ea-20230227212212
  apps/em/em-npa/demo.yaml
  apps/em/em-npa/em-npa.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/stitching:prod-5bfd184-20230227212147 hmctspublic.azurecr.io/em/stitching:prod-5bfd184-20230227212147
  apps/em/em-stitching/em-stitching.yaml
  apps/em/em-stitching/perftest.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/rpe/send-letter-service:prod-f81e1f6-20230227210928
  apps/money-claims/cmc-send-letter-service/cmc-send-letter-service.yaml
  apps/rpe/rpe-send-letter-service/rpe-send-letter-service.yaml
Owners: @hmcts/cmc, @hmcts/bulk-print

hmctspublic.azurecr.io/probate/business-service:prod-59b4d37-20230227230440
  apps/probate/probate-business-service/probate-business-service.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/probate/business-service:prod-9b4b94a-20230227233911
  apps/probate/probate-business-service/probate-business-service.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/prl/cos:prod-c78cb38-20230228004015
  apps/private-law/prl-cos/aat.yaml
  apps/private-law/prl-cos/prl-cos.yaml
  apps/private-law/prl-cos/prod.yaml
Owners: @hmcts/private-law

DTSPO-10291
  apps/admin/preview/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctsprivate.azurecr.io/docmosis:prod-036bb1d-344774
  apps/docmosis/docmosis/docmosis.yaml
Owners: @hmcts/platform-operations

DTSPO-10291 disable csi_driver
  clusters/sbox/base/kustomization.yaml
Owners: @hmcts/platform-operations

DTSPO-10291 csi_driver
  apps/admin/sbox/base/kustomization.yaml
Owners: @hmcts/platform-operations

Update kustomization.yaml
  apps/admin/sbox/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/adoption/cos-api:pr-677-7abe830-20230228081902 hmctspublic.azurecr.io/adoption/cos-api:pr-677-7abe830-20230228081902
  apps/adoption/adoption-cos-api/demo.yaml
  apps/adoption/adoption-cos-api/ithc.yaml
  apps/adoption/adoption-cron-draft-case-deletion-alert/demo.yaml
  apps/adoption/adoption-cron-multi-child-draft-application-alert/demo.yaml
Owners: @hmcts/reform-adoption

hmctspublic.azurecr.io/probate/back-office:pr-2102-cfd643b-20230228090348
  apps/probate/probate-back-office/demo.yaml
  apps/probate/probate-cron-hmrc-extract/demo/00.yaml
  apps/probate/probate-cron-hmrc-extract/demo/01.yaml
  apps/probate/probate-cron-make-dormant-cases/demo/01.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/demo/01.yaml
Owners: @hmcts/probate

first commit
  apps/sscs/sscs-hearings-api/demo-image-policy.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/sptribs/case-api:prod-a0934ba-20230228091049
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/ia/case-api:pr-1273-c8b74ef-20230228091302
  apps/ia/ia-case-api/demo.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/sscs/hearings-api:pr-354-090ff6d-20230224102043
  apps/sscs/sscs-hearings-api/demo.yaml
Owners: @hmcts/sscs

Update demo int2 tag
  apps/xui/xui-webapp-integration2/demo-image-policy.yaml
Owners: @hmcts/xui

Update demo int2 tag (#21228)
  apps/xui/xui-webapp-integration2/demo-image-policy.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/xui/webapp:pr-2818-6723865-20230227161116
  apps/xui/xui-webapp-integration2/demo.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/ia/case-api:pr-1273-13dec59-20230228093719
  apps/ia/ia-case-api/demo.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/sptribs/case-api:prod-2c16bf5-20230228094459
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/am/role-assignment-refresh-batch:prod-cca5907-20230228094927
  apps/am/am-role-assignment-refresh-batch/am-role-assignment-refresh-batch.yaml
Owners: @hmcts/am-devs

hmctspublic.azurecr.io/finrem/ns:prod-fbda944-20230228094955
  apps/financial-remedy/finrem-ns/demo.yaml
  apps/financial-remedy/finrem-ns/finrem-ns.yaml
Owners: @hmcts/financial-remedy

hmctspublic.azurecr.io/am/role-assignment-batch-service:prod-4542ef8-20230228095139
  apps/am/am-role-assignment-batch-service/am-role-assignment-batch-service.yaml
Owners: @hmcts/am-devs

DTSPO-10291 csi_driver
  apps/admin/sbox/base/kustomization.yaml
Owners: @hmcts/platform-operations
