Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

hmctspublic.azurecr.io/em/anno:prod-7c2f953-20230217181402
  apps/ccd/ccd-int/ccd-int.yaml
  apps/em/em-anno/em-anno.yaml
Owners: @hmcts/cdm, @hmcts/evidence

hmctspublic.azurecr.io/dtsse/dashboard-ingestion:prod-d2ade16-20230218080131
  apps/dtsse/dtsse-dashboard-ingestion/dtsse-dashboard-ingestion.yaml
Owners: @hmcts/rse

hmctspublic.azurecr.io/bulk-scan/processor:prod-be77d1c-20230217160851
  apps/bsp/bulk-scan-processor/bulk-scan-processor.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/reform-scan/notification-service:prod-2f56fd1-20230218092101
  apps/reform-scan/reform-scan-notification-service/reform-scan-notification-service.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/bulk-scan/sample-app:prod-e52010e-20230217144323
  apps/bsp/bulk-scan-sample-app/bulk-scan-sample-app.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/bulk-scan/payment-processor:prod-c762ead-20230217150458
  apps/bsp/bulk-scan-payment-processor/bulk-scan-payment-processor.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/bulk-scan/orchestrator:prod-1f92457-20230218092207
  apps/bsp/bulk-scan-orchestrator/bulk-scan-orchestrator.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/rpe/send-letter-service:prod-fed2a43-20230218092124
  apps/money-claims/cmc-send-letter-service/cmc-send-letter-service.yaml
  apps/rpe/rpe-send-letter-service/rpe-send-letter-service.yaml
Owners: @hmcts/cmc, @hmcts/bulk-print

hmctspublic.azurecr.io/bulk-scan/payment-processor:prod-5b63372-20230218105800
  apps/bsp/bulk-scan-payment-processor/bulk-scan-payment-processor.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/reform-scan/notification-service:prod-26d74d2-20230218105836
  apps/reform-scan/reform-scan-notification-service/reform-scan-notification-service.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/reform-scan/blob-router:prod-6344a49-20230218092145
  apps/reform-scan/reform-scan-blob-router/reform-scan-blob-router.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/bulk-scan/orchestrator:prod-3536b8a-20230218105820
  apps/bsp/bulk-scan-orchestrator/bulk-scan-orchestrator.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/reform-scan/blob-router:prod-a8b6a5a-20230218110702
  apps/reform-scan/reform-scan-blob-router/reform-scan-blob-router.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/bulk-scan/processor:prod-8c31de8-20230218105901
  apps/bsp/bulk-scan-processor/bulk-scan-processor.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/rpe/slack-help-bot:prod-6bba41e-20230219163041
  apps/slack-help-bot/slack-help-bot/slack-help-bot.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/rpe/slack-help-bot:prod-177a510-20230219182920
  apps/slack-help-bot/slack-help-bot/slack-help-bot.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/dm/store:prod-1622b08-20230219193909 hmctspublic.azurecr.io/dm/store:prod-1622b08-20230219193909 hmctspublic.azurecr.io/dm/store:prod-1622b08-20230219193909
  apps/ccd/ccd-int/ccd-int.yaml
  apps/dm-store/dm-store/demo.yaml
  apps/dm-store/dm-store/dm-store.yaml
  apps/dm-store/dm-store/perftest.yaml
  apps/money-claims/cmc-ccd/demo.yaml
Owners: @hmcts/cdm, @hmcts/evidence, @hmcts/cmc

hmctspublic.azurecr.io/dm/store:prod-1622b08-20230219193909
  apps/dm-store/dm-store-cdam/dm-store-cdam.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/anno:prod-5a72524-20230219193948
  apps/ccd/ccd-int/ccd-int.yaml
  apps/em/em-anno/em-anno.yaml
Owners: @hmcts/cdm, @hmcts/evidence

hmctspublic.azurecr.io/em/npa:prod-4448886-20230219195817 hmctspublic.azurecr.io/em/npa:prod-4448886-20230219195817
  apps/em/em-npa/demo.yaml
  apps/em/em-npa/em-npa.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/dg/docassembly:prod-eeb5aac-20230219195850
  apps/dg/dg-docassembly/dg-docassembly.yaml
  apps/money-claims/cmc-dg-docassembly/cmc-dg-docassembly.yaml
Owners: @hmcts/dts-dev, @hmcts/evidence, @hmcts/cmc

hmctspublic.azurecr.io/em/ccdorc:prod-16cc866-20230219195741 hmctspublic.azurecr.io/em/ccdorc:prod-16cc866-20230219195741
  apps/em/em-ccd-orchestrator/demo.yaml
  apps/em/em-ccd-orchestrator/em-ccd-orchestrator.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/stitching:prod-2e5d4aa-20230219195925 hmctspublic.azurecr.io/em/stitching:prod-2e5d4aa-20230219195925 hmctspublic.azurecr.io/em/stitching:prod-2e5d4aa-20230219195925
  apps/em/em-stitching/demo.yaml
  apps/em/em-stitching/em-stitching.yaml
  apps/em/em-stitching/perftest.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/hrs-ingestor:prod-562f30f-20230219200041
  apps/em/em-hrs-ingestor/em-hrs-ingestor.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/hrs-ingestor:prod-83ea0a8-20230219203953
  apps/em/em-hrs-ingestor/em-hrs-ingestor.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/anno:prod-ed3683e-20230219204043
  apps/ccd/ccd-int/ccd-int.yaml
  apps/em/em-anno/em-anno.yaml
Owners: @hmcts/cdm, @hmcts/evidence

hmctspublic.azurecr.io/em/ccdorc:prod-6ea4200-20230219204143 hmctspublic.azurecr.io/em/ccdorc:prod-6ea4200-20230219204143
  apps/em/em-ccd-orchestrator/demo.yaml
  apps/em/em-ccd-orchestrator/em-ccd-orchestrator.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/dg/docassembly:prod-0680171-20230219204230
  apps/dg/dg-docassembly/dg-docassembly.yaml
  apps/money-claims/cmc-dg-docassembly/cmc-dg-docassembly.yaml
Owners: @hmcts/dts-dev, @hmcts/evidence, @hmcts/cmc

hmctspublic.azurecr.io/em/npa:prod-98532e2-20230219204210 hmctspublic.azurecr.io/em/npa:prod-98532e2-20230219204210
  apps/em/em-npa/demo.yaml
  apps/em/em-npa/em-npa.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/dm/store:prod-372b0dc-20230219204022 hmctspublic.azurecr.io/dm/store:prod-372b0dc-20230219204022 hmctspublic.azurecr.io/dm/store:prod-372b0dc-20230219204022
  apps/ccd/ccd-int/ccd-int.yaml
  apps/dm-store/dm-store/demo.yaml
  apps/dm-store/dm-store/dm-store.yaml
  apps/dm-store/dm-store/perftest.yaml
  apps/money-claims/cmc-ccd/demo.yaml
Owners: @hmcts/cdm, @hmcts/evidence, @hmcts/cmc

hmctspublic.azurecr.io/em/stitching:prod-9876e72-20230219204251 hmctspublic.azurecr.io/em/stitching:prod-9876e72-20230219204251 hmctspublic.azurecr.io/em/stitching:prod-9876e72-20230219204251
  apps/em/em-stitching/demo.yaml
  apps/em/em-stitching/em-stitching.yaml
  apps/em/em-stitching/perftest.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/dm/store:prod-372b0dc-20230219204022
  apps/dm-store/dm-store-cdam/dm-store-cdam.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/anno:prod-e52d0e0-20230219211823
  apps/ccd/ccd-int/ccd-int.yaml
  apps/em/em-anno/em-anno.yaml
Owners: @hmcts/cdm, @hmcts/evidence

chore: Updated the content of the file "/tmp/updatecli/github/hmcts/c...
  apps/jenkins/jenkins/ptl-intsvc/jenkins.yaml
  apps/jenkins/jenkins/sbox-intsvc/jenkins.yaml
Owners: @hmcts/platform-operations

chore: Update key "jobs.updatecli.steps[1].with.version" from file "/...
  .github/workflows/run-updatecli.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/em/hrs-ingestor:prod-7f36b84-20230220071923
  apps/em/em-hrs-ingestor/em-hrs-ingestor.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/bulk-scan/processor:prod-7fbedac-20230220072547
  apps/bsp/bulk-scan-processor/bulk-scan-processor.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/bulk-scan/orchestrator:prod-a78f455-20230220072611 hmctspublic.azurecr.io/reform-scan/blob-router:prod-5c37186-20230220072650
  apps/bsp/bulk-scan-orchestrator/bulk-scan-orchestrator.yaml
  apps/reform-scan/reform-scan-blob-router/reform-scan-blob-router.yaml
Owners: @hmcts/bulk-scan

Update demo.yaml
  apps/et/et-sya/demo.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/nfdiv/case-api:prod-7acffba-20230220082723 hmctspublic.azurecr.io/et/sya:prod-34088dc-20230216151007 hmctspublic.azurecr.io/nfdiv/case-api:prod-7acffba-20230220082723
  apps/et/et-sya/demo.yaml
  apps/nfdiv/nfdiv-case-api/demo.yaml
  apps/nfdiv/nfdiv-case-api/nfdiv-case-api.yaml
  apps/nfdiv/nfdiv-cron-alert-application-not-reviewed/nfdiv-cron-alert-application-not-reviewed.yaml
  apps/nfdiv/nfdiv-cron-applicant-can-sts-after-intention-fo/nfdiv-cron-applicant-can-sts-after-intention-fo.yaml
  apps/nfdiv/nfdiv-cron-application-approved-reminder/nfdiv-cron-application-approved-reminder.yaml
  apps/nfdiv/nfdiv-cron-bulk-list-create/nfdiv-cron-bulk-list-create.yaml
  apps/nfdiv/nfdiv-cron-eligible-for-switch-to-sole/nfdiv-cron-eligible-for-switch-to-sole.yaml
  apps/nfdiv/nfdiv-cron-js-disputed-answer-overdue/nfdiv-cron-js-disputed-answer-overdue.yaml
  apps/nfdiv/nfdiv-cron-migrate-bulk-cases/nfdiv-cron-migrate-bulk-cases.yaml
  apps/nfdiv/nfdiv-cron-migrate-cases/nfdiv-cron-migrate-cases.yaml
  apps/nfdiv/nfdiv-cron-notify-applicant-dispute-form-overdue/nfdiv-cron-notify-applicant-dispute-form-overdue.yaml
  apps/nfdiv/nfdiv-cron-notify-applicants-apply-co/nfdiv-cron-notify-applicants-apply-co.yaml
  apps/nfdiv/nfdiv-cron-notify-respondent-apply-final-order/nfdiv-cron-notify-respondent-apply-final-order.yaml
  apps/nfdiv/nfdiv-cron-partner-not-applied-for-final-order/nfdiv-cron-partner-not-applied-for-final-order.yaml
  apps/nfdiv/nfdiv-cron-process-cases-to-be-removed/nfdiv-cron-process-cases-to-be-removed.yaml
  apps/nfdiv/nfdiv-cron-process-failed-pronounced-cases/nfdiv-cron-process-failed-pronounced-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-scheduled-cases/nfdiv-cron-process-failed-scheduled-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-to-unlink-cases/nfdiv-cron-process-failed-to-unlink-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-cases-to-aos-overdue/nfdiv-cron-progress-cases-to-aos-overdue.yaml
  apps/nfdiv/nfdiv-cron-progress-held-cases/nfdiv-cron-progress-held-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-to-awaiting-final-order/nfdiv-cron-progress-to-awaiting-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-applicant2/nfdiv-cron-remind-applicant2.yaml
  apps/nfdiv/nfdiv-cron-remind-applicants-apply-for-fo/nfdiv-cron-remind-applicants-apply-for-fo.yaml
  apps/nfdiv/nfdiv-cron-remind-awaiting-joint-final-order/nfdiv-cron-remind-awaiting-joint-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-respondent-solicitor/nfdiv-cron-remind-respondent-solicitor.yaml
  apps/nfdiv/nfdiv-cron-resend-co-pronounced-cover-letters/nfdiv-cron-resend-co-pronounced-cover-letters.yaml
Owners: @hmcts/employment-tribunals, @hmcts/no-fault-divorce

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control
