Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-engineering, @hmcts/devops, @hmcts/production-apps-approvals, @hmcts/ccd-demo, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/Fees

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-engineering @hmcts/devops

# AAT applications
## environment rules
k8s/aat/ @hmcts/platform-engineering @hmcts/devops

## application rules

k8s/admin/ @hmcts/platform-engineering @hmcts/devops
k8s/kured/ @hmcts/platform-engineering @hmcts/devops
k8s/neuvector/ @hmcts/platform-engineering @hmcts/devops
k8s/**/cluster-*-overlay/ @hmcts/platform-engineering

### Next team

# Production applications
## environment rules
k8s/prod/ @hmcts/production-apps-approvals

## application rules

### RPE
k8s/**/common/rpe/namespace.yaml @hmcts/platform-engineering
k8s/**/common/rpe/identity.yaml @hmcts/platform-engineering
k8s/**/common/rpe/draft-store-service.yaml @hmcts/platform-engineering
k8s/aat/common/rpe/rpe-service-auth-provider.yaml @hmcts/platform-engineering
k8s/aat/common/rpe/pdf-service.yaml @hmcts/platform-engineering

k8s/*/*-base/kustomization.yaml @hmcts/platform-engineering

k8s/**/common/neuvector/fluentbit-log.yaml @hmcts/platform-engineering
k8s/**/common/neuvector/nv-storage-secret.yaml @hmcts/platform-engineering
k8s/**/common/neuvector/identity.yaml @hmcts/platform-engineering

### Next team

##ccd-demo
k8s/demo/common/ccd/*.yaml @hmcts/ccd-demo

##CMC
k8s/aat/common/money-claims/claim-store.yaml @hmcts/cmc

## I&A
k8s/**/common/ia/namespace.yaml @hmcts/immigration-asylum
k8s/**/common/ia/identity.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/case-documents-api.yaml @hmcts/immigration-asylum

## Divorce
k8s/**/common/divorce/namespace.yaml @hmcts/divorce
k8s/**/common/divorce/identity.yaml @hmcts/divorce
k8s/aat/common/divorce/div-emca.yaml @hmcts/divorce
k8s/aat/common/divorce/div-cms.yaml @hmcts/divorce
k8s/aat/common/divorce/div-dgs.yaml @hmcts/divorce
k8s/aat/common/divorce/div-cos.yaml @hmcts/divorce
k8s/aat/common/divorce/div-fps.yaml @hmcts/divorce

## Probate
k8s/**/common/probate/namespace.yaml @hmcts/probate
k8s/**/common/probate/identity.yaml @hmcts/probate
k8s/aat/common/probate/business-service.yaml @hmcts/probate

## Reference Data
k8s/**/common/rd/namespace.yaml @hmcts/ref-data
k8s/**/common/rd/identity.yaml @hmcts/ref-data
k8s/aat/common/rd/professional-api.yaml @hmcts/ref-data

## SSCS
k8s/**/common/sscs/namespace.yaml @hmcts/sscs
k8s/**/common/sscs/identity.yaml @hmcts/sscs
k8s/aat/common/sscs/sscs-tribunals-api.yaml @hmcts/sscs
k8s/aat/common/sscs/sscs-evidence-share.yaml @hmcts/sscs

## FPLA
k8s/**/common/family-public-law/namespace.yaml @hmcts/fpl-admins
k8s/**/common/family-public-law/identity.yaml @hmcts/fpl-admins
k8s/aat/common/family-public-law/fpl-case-service.yaml @hmcts/fpl-admins

## cc-pay
k8s/**/common/ccpay/namespace.yaml @hmcts/Fees
k8s/**/common/ccpay/identity.yaml @hmcts/Fees
k8s/aat/common/ccpay/ccpay-bulkscanning-app.yaml @hmcts/Fees

Notes added by 'git notes add'
  ef/021739d7d0ac14c8c3ea30cc335a2236d9d652
Owners: none

Auto-release hmctspublic.azurecr.io/div/emca:prod-a5def1f9
  k8s/perftest/common/divorce/div-emca.yaml
Owners: none

Notes added by 'git notes add'
  9e/a0c6157d087ac8da7447c36feb78be91d0eefd
Owners: none

Notes added by 'git notes add'
  3b695c34750a75747e86f4ed3b8d5eb99178aa45
Owners: none

Auto-release hmctspublic.azurecr.io/div/emca:prod-a5def1f9
  k8s/aat/common/divorce/div-emca.yaml
Owners: @hmcts/divorce

Notes added by 'git notes add'
  30/5dcae344792cb76806cc4087242a0a20760fdc
Owners: none

Notes added by 'git notes add'
  2a918ff0cb325064bb0878785edabaecb38afb30
Owners: none

Feeandpayaksmigration (#512)
  k8s/aat/common/ccpay/ccpay-bulkscanning-app.yaml
Owners: @hmcts/Fees
