Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

hmctspublic.azurecr.io/adoption/web:pr-956-abc7215-20230228154516
  apps/adoption/adoption-web/demo.yaml
  apps/adoption/adoption-web/ithc.yaml
Owners: @hmcts/reform-adoption

Revert "DTSPO-10291 update csi-driver"
  clusters/aat/base/kustomization.yaml
Owners: @hmcts/platform-operations

Revert "Dtspo-10291 Prod: update csi-driver"
  clusters/prod/base/kustomization.yaml
Owners: @hmcts/platform-operations

Disable external-dns in CFT Demo
  apps/admin/demo/00/kustomization.yaml
  apps/admin/demo/01/kustomization.yaml
  apps/admin/demo/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/ia/case-api:pr-1273-a2f4e59-20230228155940
  apps/ia/ia-case-api/demo.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/fis/hmc-api:pr-163-cc9f56f-20230228160240
  apps/fis/fis-hmc-api/demo.yaml
Owners: @hmcts/family-integration

hmctspublic.azurecr.io/hmc/hmi-outbound-adapter:prod-57bca27-20230228160739 hmctspublic.azurecr.io/hmc/hmi-outbound-adapter:prod-57bca27-20230228160739
  apps/hmc/hmc-hmi-outbound-adapter-int/demo.yaml
  apps/hmc/hmc-hmi-outbound-adapter/hmc-hmi-outbound-adapter.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/hmc/hmi-inbound-adapter:prod-77a2203-20230228160557 hmctspublic.azurecr.io/hmc/hmi-inbound-adapter:prod-77a2203-20230228160557
  apps/hmc/hmc-hmi-inbound-adapter-int/demo.yaml
  apps/hmc/hmc-hmi-inbound-adapter/hmc-hmi-inbound-adapter.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/hmc/cft-hearing-service:prod-7ccbdd1-20230228160445 hmctspublic.azurecr.io/hmc/cft-hearing-service:prod-7ccbdd1-20230228160445
  apps/hmc/hmc-cft-hearing-service-int/demo.yaml
  apps/hmc/hmc-cft-hearing-service/demo.yaml
  apps/hmc/hmc-cft-hearing-service/hmc-cft-hearing-service.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/fis/hmc-api:pr-163-c8060ec-20230228161304
  apps/fis/fis-hmc-api/demo.yaml
Owners: @hmcts/family-integration

hmctspublic.azurecr.io/et/sya-api:pr-242-c638379-20230228162047
  apps/et/et-sya-api/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/rd/location-ref-data-load:prod-b754edf-20230228162111
  apps/rd/rd-location-ref-data-load/rd-location-ref-data-load.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/location-ref-data-load:prod-b754edf-20230228162111
  apps/rd/rd-location-ref-data-load-integration/rd-location-ref-data-load-integration.yaml
Owners: @hmcts/ref-data

RDCC-6447: Whitelisting `civil_service` in JRD `prod.yaml`
  apps/rd/rd-judicial-api/prod.yaml
Owners: @hmcts/ref-data

RDCC-6447: Whitelisting `civil_service` in JRD `prod.yaml`
  apps/rd/rd-judicial-api/prod.yaml
Owners: @hmcts/ref-data

Update demo.yaml
  apps/cpo/case-payment-orders-api/demo.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/rd/commondata-dataload:prod-dcabda9-20230228162446 hmctspublic.azurecr.io/rd/judicial-data-load:prod-f0db627-20230228162654
  apps/rd/rd-commondata-dataload/rd-commondata-dataload.yaml
  apps/rd/rd-judicial-data-load/rd-judicial-data-load.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/user-profile-api:prod-a54c32b-20230228162446
  apps/rd/rd-user-profile-api/rd-user-profile-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/et/sya-api:pr-267-9913956-20230228163653
  apps/et/et-sya-api/perftest.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/rd/judicial-data-load:prod-f0db627-20230228162654
  apps/rd/rd-judicial-data-load-integration/rd-judicial-data-load-integration.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/user-profile-api:prod-a54c32b-20230228162446
  apps/rd/rd-user-profile-api-integration/rd-user-profile-api-integration.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/et/sya-api:pr-242-b9cb5f0-20230228163709
  apps/et/et-sya-api/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/civil/service:pr-2323-e42f70e-20230228163814
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

add identity for preview (#21250)
  apps/ia/preview/base/kustomization.yaml
Owners: @hmcts/platform-operations

deploying SSCS-11395 to Demo
  apps/sscs/sscs-tribunals-api/demo-image-policy.yaml
  apps/sscs/sscs-tribunals-api/demo.yaml
Owners: @hmcts/sscs

push CCD-4338 to Demo (#21244)
  apps/ccd/ccd-case-print-service/demo-image-policy.yaml
  apps/ccd/ccd-case-print-service/demo.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/ccd/case-print-service:prod-f8610f5-20230228112729
  apps/ccd/ccd-case-print-service/demo.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/ccd/case-print-service:pr-459-e071bfd-20230224123044
  apps/ccd/ccd-case-print-service/demo.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/rd/profile-sync:prod-c05586b-20230228165723
  apps/rd/rd-profile-sync/rd-profile-sync.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/profile-sync:prod-c05586b-20230228165723
  apps/rd/rd-profile-sync-integration/rd-profile-sync-integration.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/ccd/next-hearing-date-updater:prod-6d556f0-20230228171105 hmctspublic.azurecr.io/ccd/next-hearing-date-updater:prod-6d556f0-20230228171105
  apps/ccd/ccd-next-hearing-date-updater/ccd-next-hearing-date-updater.yaml
  apps/ccd/ccd-next-hearing-date-updater/demo/00.yaml
  apps/ccd/ccd-next-hearing-date-updater/demo/01.yaml
Owners: @hmcts/cdm

Update demo.yaml
  apps/sscs/sscs-tya-notif/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/sscs/tribunals-api:pr-3151-06801f4-20230227145735
  apps/sscs/sscs-tribunals-api/demo.yaml
Owners: @hmcts/sscs

notifications pr
  apps/sscs/sscs-tya-notif/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/sscs/tya-notif:prod-da2a958-20230223141601
  apps/sscs/sscs-tya-notif/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/rd/commondata-api:prod-f96e68e-20230228171740
  apps/rd/rd-commondata-api/rd-commondata-api.yaml
Owners: @hmcts/ref-data

Add secrets
  apps/et/et-sya-api/ithc.yaml
Owners: @hmcts/employment-tribunals

bump chart
  apps/azure-devops/azure-devops-agent/azure-devops-agent.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/rd/judicial-api:prod-a4cac11-20230228171928
  apps/rd/rd-judicial-api/demo.yaml
  apps/rd/rd-judicial-api/rd-judicial-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/professional-api:prod-a49f3d1-20230228171740
  apps/rd/rd-professional-api/rd-professional-api.yaml
Owners: @hmcts/ref-data

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control
