Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control

hmctspublic.azurecr.io/fpl/case-service:prod-ca2de6c-20230217113656
  apps/family-public-law/fpl-case-service/fpl-case-service.yaml
  apps/family-public-law/fpl-case-service/ithc.yaml
Owners: @hmcts/fpl-admins

hmctspublic.azurecr.io/sptribs/case-api:prod-ab2b405-20230217120719
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/finrem/cos:prod-dd84940-20230217120512
  apps/financial-remedy/finrem-cos/finrem-cos.yaml
Owners: @hmcts/financial-remedy

hmctspublic.azurecr.io/pcq/backend:prod-66ba163-20230217121550
  apps/pcq/pcq-backend-int/pcq-backend-int.yaml
  apps/pcq/pcq-backend/pcq-backend.yaml
Owners: @hmcts/pcq-admins

hmctspublic.azurecr.io/pcq/backend:prod-2ab717e-20230217122849
  apps/pcq/pcq-backend-int/pcq-backend-int.yaml
  apps/pcq/pcq-backend/pcq-backend.yaml
Owners: @hmcts/pcq-admins

hmctspublic.azurecr.io/pcq/frontend:prod-2de3326-20230217124246
  apps/pcq/pcq-frontend-int/pcq-frontend-int.yaml
  apps/pcq/pcq-frontend/pcq-frontend.yaml
Owners: @hmcts/pcq-admins

hmctspublic.azurecr.io/sptribs/case-api:prod-397d188-20230217125638
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/pcq/backend:prod-afb23bd-20230217125629
  apps/pcq/pcq-backend-int/pcq-backend-int.yaml
  apps/pcq/pcq-backend/pcq-backend.yaml
Owners: @hmcts/pcq-admins

hmctspublic.azurecr.io/pcq/frontend:prod-3bdb3e2-20230217132527
  apps/pcq/pcq-frontend-int/pcq-frontend-int.yaml
  apps/pcq/pcq-frontend/pcq-frontend.yaml
Owners: @hmcts/pcq-admins

restart bar aat
  apps/bar/bar-api/aat.yaml
Owners: @hmcts/Fees

restart bar aat (#21029)
  apps/bar/bar-api/aat.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/pcq/frontend:prod-72762fd-20230217141307
  apps/pcq/pcq-frontend-int/pcq-frontend-int.yaml
  apps/pcq/pcq-frontend/pcq-frontend.yaml
Owners: @hmcts/pcq-admins

XUI Update wa demo int tag
  apps/xui/xui-webapp-wa-integration/demo-image-policy.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/pcq/loader:prod-3e537fa-20230217141711
  apps/pcq/pcq-loader/pcq-loader.yaml
Owners: @hmcts/pcq-admins

DTSPB-3235: pointed to demo
  apps/probate/probate-back-office/demo.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/plum/frontend:prod-90a79df-20230217143118
  apps/cnp/plum-frontend/plum-frontend-demo-publicaccess.yaml
  apps/cnp/plum-frontend/plum-frontend.yaml
Owners: @hmcts/platform-operations

XUI Update wa demo int tag (#21030)
  apps/xui/xui-webapp-wa-integration/demo-image-policy.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/xui/webapp:pr-2783-674baaa-20230217134347
  apps/xui/xui-webapp-wa-integration/demo.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/pcq/loader:prod-a48af9e-20230217144101
  apps/pcq/pcq-loader/pcq-loader.yaml
Owners: @hmcts/pcq-admins

DFPL-1230: Add FPL DMN repo to Jenkins dashboard
  apps/jenkins/jenkins/ptl-intsvc/jenkins.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/civil/service:pr-2181-02dae45-20230217144302
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/cmc/claim-store:pr-2689-aa2fff4-20230217144932
  apps/money-claims/cmc-claim-store/demo.yaml
Owners: @hmcts/cmc

Update to fix EM url
  apps/ia/ia-case-documents-api/ithc.yaml
Owners: @hmcts/immigration-asylum

updating readme
  README.md
  docs/new-cluster.md
  docs/secrets-sops-encryption.md
  prometheus-values.enc.yaml
  values.yaml
Owners: @hmcts/platform-operations

updating readme
  docs/secrets-sops-encryption.md
  prometheus-values.enc.yaml
  values.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/civil/service:pr-2181-b956c50-20230217150711
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/em/ccdorc:prod-9859b2e-20230217150722 hmctspublic.azurecr.io/em/ccdorc:prod-9859b2e-20230217150722
  apps/em/em-ccd-orchestrator/demo.yaml
  apps/em/em-ccd-orchestrator/em-ccd-orchestrator.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/dg/docassembly:prod-9a2db1f-20230217150837
  apps/dg/dg-docassembly/dg-docassembly.yaml
  apps/money-claims/cmc-dg-docassembly/cmc-dg-docassembly.yaml
Owners: @hmcts/dts-dev, @hmcts/evidence, @hmcts/cmc

hmctspublic.azurecr.io/dm/store:prod-c6e149c-20230217150617 hmctspublic.azurecr.io/dm/store:prod-c6e149c-20230217150617 hmctspublic.azurecr.io/dm/store:prod-c6e149c-20230217150617
  apps/ccd/ccd-int/ccd-int.yaml
  apps/dm-store/dm-store/demo.yaml
  apps/dm-store/dm-store/dm-store.yaml
  apps/dm-store/dm-store/perftest.yaml
  apps/money-claims/cmc-ccd/demo.yaml
Owners: @hmcts/cdm, @hmcts/evidence, @hmcts/cmc

hmctspublic.azurecr.io/dm/store:prod-c6e149c-20230217150617
  apps/dm-store/dm-store-cdam/dm-store-cdam.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/anno:prod-3e26efb-20230217150644
  apps/ccd/ccd-int/ccd-int.yaml
  apps/em/em-anno/em-anno.yaml
Owners: @hmcts/cdm, @hmcts/evidence

hmctsprivate.azurecr.io/docmosis:demo-cd80be4-339819 hmctsprivate.azurecr.io/docmosis:perftest-cd80be4-339819
  apps/docmosis/docmosis/demo.yaml
  apps/docmosis/docmosis/perftest.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/civil/service:pr-2181-9050840-20230217151533
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/em/npa:prod-9e64e2d-20230217150756 hmctspublic.azurecr.io/em/npa:prod-9e64e2d-20230217150756
  apps/em/em-npa/demo.yaml
  apps/em/em-npa/em-npa.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/pcq/consolidation-service:prod-3bf7de3-20230217151802
  apps/pcq/pcq-consolidation-service/pcq-consolidation-service.yaml
Owners: @hmcts/pcq-admins

hmctspublic.azurecr.io/em/stitching:prod-cfb2ff1-20230217150900 hmctspublic.azurecr.io/em/stitching:prod-cfb2ff1-20230217150900 hmctspublic.azurecr.io/em/stitching:prod-cfb2ff1-20230217150900
  apps/em/em-stitching/demo.yaml
  apps/em/em-stitching/em-stitching.yaml
  apps/em/em-stitching/perftest.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/pcq/frontend:prod-adf60e6-20230217151905
  apps/pcq/pcq-frontend-int/pcq-frontend-int.yaml
  apps/pcq/pcq-frontend/pcq-frontend.yaml
Owners: @hmcts/pcq-admins

adding namespace field
  apps/admin/aad-pod-id/mic-exception.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/sptribs/case-api:prod-ea37095-20230217152242
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/rpe/send-letter-service:prod-75a769c-20230217150522
  apps/money-claims/cmc-send-letter-service/cmc-send-letter-service.yaml
  apps/rpe/rpe-send-letter-service/rpe-send-letter-service.yaml
Owners: @hmcts/cmc, @hmcts/bulk-print
