Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

DTSPO-10559
  apps/admin/ptl-intsvc/base/kube-slack-values.yaml
  apps/backstage/ptl-intsvc/base/backstage-github-app.yaml
  apps/backstage/ptl-intsvc/base/backstage-values.yaml
  apps/flux-system/ptl-intsvc/base/git-credentials.yaml
  apps/kured/ptl-intsvc/base/kured-values.yaml
  apps/monitoring/ptl-intsvc/base/opentelemetry-values.yaml
  apps/monitoring/ptl-intsvc/base/prometheus-values.yaml
  apps/response/ptl-intsvc/base/response-secret.yaml
  apps/vsts/ptl-intsvc/base/vsts-token.yaml
Owners: @hmcts/platform-operations

DSTPB-2794 update DTSPB-2794 Perftest Running Time
  apps/probate/probate-cron-ccd-data-migration-tool/perftest/00.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/sptribs/case-api:prod-5acf848-20230220142957
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/rpe/service-auth-provider:prod-5cc3475-20230220143240
  apps/ccd/ccd-int/ccd-int.yaml
  apps/rpe/rpe-service-auth-provider/rpe-service-auth-provider.yaml
Owners: @hmcts/cdm, @hmcts/platform-operations

Update demo.yaml
  apps/ia/ia-case-api/demo.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/rpe/service-auth-provider:prod-5cc3475-20230220143240
  apps/money-claims/cmc-s2s/cmc-s2s.yaml
Owners: @hmcts/cmc

DTSPO-10559
  apps/admin/prod/base/kube-slack-values.yaml
  apps/ccd/prod/base/logstash-secret.yaml
  apps/ccd/prod/base/probatemandb.yaml
  apps/docmosis/prod/base/docmosis-secret.yaml
  apps/dynatrace/prod/base/dynakube-secret.yaml
  apps/fees-pay/prod/base/ccpay-callback-function.yaml
  apps/flux-system/prod/base/git-credentials.yaml
  apps/kured/prod/base/kured-values.yaml
  apps/monitoring/prod/base/acr-sync.yaml
  apps/monitoring/prod/base/botkube-values.yaml
  apps/monitoring/prod/base/monitoring-values.yaml
  apps/monitoring/prod/base/oneagent-values.yaml
  apps/monitoring/prod/base/prometheus-values.yaml
  apps/neuvector/prod/base/fluentbit-log.yaml
  apps/neuvector/prod/base/nv-storage-secret.yaml
Owners: @hmcts/platform-operations, @hmcts/cdm, @hmcts/Fees

hmctspublic.azurecr.io/dtsse/dashboard-ingestion:prod-07ae374-20230220144228
  apps/dtsse/dtsse-dashboard-ingestion/dtsse-dashboard-ingestion.yaml
Owners: @hmcts/rse

hmctspublic.azurecr.io/idam/hmcts-access:prod-a81296a-20230220144148
  apps/idam/idam-hmcts-access/idam-hmcts-access.yaml
Owners: @hmcts/idam

DTSPO-10559
  apps/flux-system/preview/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/idam/user-dashboard:prod-6d2cd46-20230220144028
  apps/idam/idam-user-dashboard/idam-user-dashboard.yaml
Owners: @hmcts/idam

DTSPO-10559
  apps/flux-system/perftest/base/kustomization.yaml
Owners: @hmcts/platform-operations

DTSPO-10559
  apps/flux-system/demo/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/reform-scan/blob-router:prod-f75f809-20230220144150
  apps/reform-scan/reform-scan-blob-router/reform-scan-blob-router.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/probate/back-office:prod-109f89a-20230220143159
  apps/probate/probate-back-office/demo.yaml
  apps/probate/probate-back-office/probate-back-office.yaml
  apps/probate/probate-cron-make-dormant-cases/demo/00.yaml
  apps/probate/probate-cron-make-dormant-cases/perftest/00.yaml
  apps/probate/probate-cron-make-dormant-cases/probate-cron-make-dormant-cases.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/demo/00.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/perftest/00.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/probate-cron-reactivate-dormant-cases.yaml
  apps/probate/probate-cron-smee-and-ford-extract/demo/demo.yaml
  apps/probate/probate-cron-smee-and-ford-extract/probate-cron-smee-and-ford-extract.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/et/cos:pr-670-65d940e-20230220145156
  apps/et/et-cos/perftest.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/hmc/hmi-outbound-adapter:prod-1bfd3c4-20230220145600 hmctspublic.azurecr.io/hmc/hmi-outbound-adapter:prod-1bfd3c4-20230220145600
  apps/hmc/hmc-hmi-outbound-adapter-int/demo.yaml
  apps/hmc/hmc-hmi-outbound-adapter/hmc-hmi-outbound-adapter.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/hmc/cft-hearing-service:prod-023818c-20230220145350 hmctspublic.azurecr.io/hmc/cft-hearing-service:prod-023818c-20230220145350
  apps/hmc/hmc-cft-hearing-service-int/demo.yaml
  apps/hmc/hmc-cft-hearing-service/demo.yaml
  apps/hmc/hmc-cft-hearing-service/hmc-cft-hearing-service.yaml
Owners: @hmcts/cdm

adding further instructions to readme
  README.md
  docs/secrets-sops-encryption.md
Owners: @hmcts/platform-operations

DTSPB-3235 point to demo
  apps/probate/probate-back-office/demo-image-policy.yaml
Owners: @hmcts/probate

SSCS-11381 - deploy tya to demo
  apps/sscs/sscs-tya-notif/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/bulk-scan/sample-app:prod-30dbec3-20230220150239
  apps/bsp/bulk-scan-sample-app/bulk-scan-sample-app.yaml
Owners: @hmcts/bulk-scan

point
  apps/monitoring/botkube/botkube-helmrepo.yaml
Owners: @hmcts/platform-operations

DTSPO-10559
  apps/flux-system/aat/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/bulk-scan/orchestrator:prod-20544a0-20230220150212
  apps/bsp/bulk-scan-orchestrator/bulk-scan-orchestrator.yaml
Owners: @hmcts/bulk-scan

DTSPO-10559
  apps/flux-system/ptl-intsvc/base/kustomization.yaml
Owners: @hmcts/platform-operations

DTSPO-10559
  apps/flux-system/prod/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/xui/webapp:pr-2783-ba2b5e2-20230220145339
  apps/xui/xui-webapp-wa-integration/demo.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/sscs/tya-notif:pr-2266-193d15a-20230220151917
  apps/sscs/sscs-tya-notif/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/sptribs/case-api:prod-33430b1-20230220151749
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

Update demo.yaml
  apps/probate/probate-back-office/demo.yaml
Owners: @hmcts/probate

DTSPB-3235 point to demo (#21071)
  apps/probate/probate-back-office/demo-image-policy.yaml
  apps/probate/probate-back-office/demo.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/probate/back-office:pr-2102-c78d697-20230216184506
  apps/probate/probate-back-office/demo.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/probate/back-office:pr-2184-f3fd3ae-20230213145618
  apps/probate/probate-back-office/demo.yaml
  apps/probate/probate-cron-hmrc-extract/demo/00.yaml
  apps/probate/probate-cron-hmrc-extract/demo/01.yaml
  apps/probate/probate-cron-make-dormant-cases/demo/01.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/demo/01.yaml
Owners: @hmcts/probate

XUI Update perftest tag
  apps/xui/xui-webapp/perftest-image-policy.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/et/cos:pr-556-086aae4-20230220153327 hmctspublic.azurecr.io/ia/case-api:pr-1238-c8fb97b-20230209112212
  apps/et/et-cos/ithc.yaml
  apps/ia/ia-case-api/demo.yaml
Owners: @hmcts/employment-tribunals, @hmcts/immigration-asylum

hmctspublic.azurecr.io/ia/case-api:pr-1105-f1020af-20230220130531
  apps/ia/ia-case-api/demo.yaml
Owners: @hmcts/immigration-asylum

XUI Update perftest tag (#21078)
  apps/xui/xui-webapp/perftest-image-policy.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/sscs/tya-notif:pr-2266-5dd5ac8-20230220154032
  apps/sscs/sscs-tya-notif/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/xui/webapp:pr-2661-6b9bd3d-20230216140959
  apps/xui/xui-webapp/perftest.yaml
Owners: @hmcts/xui

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control
