Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

hmctspublic.azurecr.io/probate/back-office:pr-2102-d31f46e-20230223134653
  apps/probate/probate-back-office/demo.yaml
  apps/probate/probate-cron-hmrc-extract/demo/00.yaml
  apps/probate/probate-cron-hmrc-extract/demo/01.yaml
  apps/probate/probate-cron-make-dormant-cases/demo/01.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/demo/01.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/rpe/pdf-service:prod-f0636e0-20230224090108
  apps/money-claims/cmc-pdf-service/demo.yaml
  apps/rpe/pdf-service/pdf-service.yaml
Owners: @hmcts/cmc, @hmcts/platform-operations

hmctspublic.azurecr.io/reform-scan/blob-router:prod-2c09df5-20230224085902
  apps/reform-scan/reform-scan-blob-router/reform-scan-blob-router.yaml
Owners: @hmcts/bulk-scan

Update demo-int-image-policy.yaml
  apps/fees-pay/ccpay-payment-app/demo-int-image-policy.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/idam/testing-support-api:prod-3c18886-20230224091706
  apps/idam/idam-testing-support-api/idam-testing-support-api.yaml
Owners: @hmcts/idam

hmctspublic.azurecr.io/sscs/tribunals-api:prod-e20c13e-20230224090712
  apps/sscs/sscs-tribunals-api/sscs-tribunals-api.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/payment/api:pr-1359-5597b20-20230216103939
  apps/fees-pay/ccpay-payment-api-int/demo.yaml
Owners: @hmcts/Fees

set back to demo & updated image
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/ia/case-api:pr-1273-b7b2cbb-20230224093005 hmctspublic.azurecr.io/ia/case-api:pr-1273-b7b2cbb-20230224093005
  apps/ia/ia-case-api/demo.yaml
  apps/ia/ia-case-api/ithc.yaml
Owners: @hmcts/immigration-asylum

New repo added to PRL dashboard
  apps/jenkins/jenkins/ptl-intsvc/jenkins.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/rpe/service-auth-provider:prod-e196edd-20230224093304
  apps/ccd/ccd-int/ccd-int.yaml
  apps/rpe/rpe-service-auth-provider/rpe-service-auth-provider.yaml
Owners: @hmcts/cdm, @hmcts/platform-operations

hmctspublic.azurecr.io/rpe/service-auth-provider:prod-e196edd-20230224093304
  apps/money-claims/cmc-s2s/cmc-s2s.yaml
Owners: @hmcts/cmc

hmctsprivate.azurecr.io/docmosis:prod-f5fcfea-343211
  apps/docmosis/docmosis/docmosis.yaml
Owners: @hmcts/platform-operations

Update demo.yaml
  apps/fees-pay/ccpay-payment-api-int/demo.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/ccd/case-disposer:prod-6d22909-20230224094750
  apps/ccd/ccd-case-disposer/ccd-case-disposer.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/plum/frontend:prod-0b4f4ab-20230224095803
  apps/cnp/plum-frontend/plum-frontend-demo-publicaccess.yaml
  apps/cnp/plum-frontend/plum-frontend.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/lau/case-backend:prod-34ad3fb-20230224094938
  apps/lau/lau-case-backend-int/lau-case-backend-int.yaml
  apps/lau/lau-case-backend/lau-case-backend.yaml
Owners: @hmcts/lau-admins

hmctspublic.azurecr.io/plum/recipe-backend:prod-120c1b5-20230224095909
  apps/cnp/plum-recipe-backend/plum-recipe-backend.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/draft-store/service:prod-c387ba6-20230224095841
  apps/ccd/ccd-int/ccd-int.yaml
  apps/rpe/draft-store-service/draft-store-service.yaml
Owners: @hmcts/cdm, @hmcts/platform-operations

hmctspublic.azurecr.io/plum/recipe-backend:prod-b71f1bd-20230224100016
  apps/cnp/plum-recipe-backend/plum-recipe-backend.yaml
Owners: @hmcts/platform-operations

detach on delete to prevent sb/rg being cleared, renaming
  apps/bsp/azure-service-operator/aso.yaml
  apps/bsp/preview/base/kustomization.yaml
  apps/chart-tests/azure-service-operator/aso.yaml
  apps/chart-tests/preview/base/kustomization.yaml
Owners: @hmcts/bulk-scan, @hmcts/platform-operations

hmctspublic.azurecr.io/civil/service:prod-733f552-20230224100712
  apps/civil/civil-service/civil-service.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/rpe/send-letter-service:prod-e1a2b63-20230224095643
  apps/money-claims/cmc-send-letter-service/cmc-send-letter-service.yaml
  apps/rpe/rpe-send-letter-service/rpe-send-letter-service.yaml
Owners: @hmcts/cmc, @hmcts/bulk-print

reverting tya changes & testing hearings pr
  apps/sscs/sscs-hearings-api/demo-image-policy.yaml
  apps/sscs/sscs-tya-notif/demo-image-policy.yaml
Owners: @hmcts/sscs

better named rgs, old ones to be cleaned up after changed in chart/app
  apps/bsp/azure-service-operator/aso.yaml
  apps/chart-tests/azure-service-operator/aso.yaml
Owners: @hmcts/bulk-scan, @hmcts/platform-operations

hmctspublic.azurecr.io/lau/case-backend:prod-9caa7a9-20230224102941
  apps/lau/lau-case-backend-int/lau-case-backend-int.yaml
  apps/lau/lau-case-backend/lau-case-backend.yaml
Owners: @hmcts/lau-admins

hmctspublic.azurecr.io/lau/idam-backend:prod-e8f14e0-20230224103211
  apps/lau/lau-idam-backend-int/lau-idam-backend-int.yaml
  apps/lau/lau-idam-backend/lau-idam-backend.yaml
Owners: @hmcts/lau-admins

hmctspublic.azurecr.io/ccd/case-disposer:prod-78fcf8a-20230224103108
  apps/ccd/ccd-case-disposer/ccd-case-disposer.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/wa/workflow-api:prod-f2cb6b6-20230223095131
  apps/wa/wa-workflow-api/ithc.yaml
  apps/wa/wa-workflow-api/perftest.yaml
  apps/wa/wa-workflow-api/wa-workflow-api.yaml
Owners: @hmcts/work-allocation

hmctspublic.azurecr.io/sscs/hearings-api:pr-354-090ff6d-20230224102043
  apps/sscs/sscs-hearings-api/demo.yaml
Owners: @hmcts/sscs

Updates to revert prod version in ITHC
  apps/ia/ia-case-api/ithc.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/lau/idam-backend:prod-9a48447-20230224104252
  apps/lau/lau-idam-backend-int/lau-idam-backend-int.yaml
  apps/lau/lau-idam-backend/lau-idam-backend.yaml
Owners: @hmcts/lau-admins

Updates to revert prod version in ITHC
  apps/ia/ia-case-documents-api/ithc.yaml
Owners: @hmcts/immigration-asylum

Updates to revert prod version in ITHC
  apps/ia/ia-case-notifications-api/ithc.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/ccd/case-disposer:prod-458429b-20230224104312
  apps/ccd/ccd-case-disposer/ccd-case-disposer.yaml
Owners: @hmcts/cdm

Updates to revert prod version in ITHC
  apps/ia/ia-case-payments-api/ithc.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/lau/case-backend:prod-49e2027-20230224104342
  apps/lau/lau-case-backend-int/lau-case-backend-int.yaml
  apps/lau/lau-case-backend/lau-case-backend.yaml
Owners: @hmcts/lau-admins

Update prod.yaml
  apps/family-public-law/fpl-case-service/prod.yaml
Owners: @hmcts/fpl-admins

Updates to revert prod version in ITHC
  apps/ia/ia-home-office-integration-api/ithc.yaml
Owners: @hmcts/immigration-asylum

deploy master back onto demo
  apps/financial-remedy/finrem-cos/demo-image-policy.yaml
Owners: @hmcts/financial-remedy

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control
