Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/production-apps-approvals, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/ctsc, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/rse, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce

Notes added by 'git notes add'
  17/2c8a85b65fe5f7c20551c62fc6e54d2c678a6c
Owners: none

Notes added by 'git notes add'
  5c/4b76e7cc2c7f4cf6cc988a391ec635f87ece2a
Owners: none

Notes added by 'git notes add'
  61/c12cc3d20f0a82f0f77c3744dcf59c38d603a2
Owners: none

Notes added by 'git notes add'
  06/be8519dac837ccf25e5484cbf3b2d11b093ec7
Owners: none

Notes added by 'git notes add'
  06/be/8519dac837ccf25e5484cbf3b2d11b093ec7
Owners: none

Notes added by 'git notes add'
  30/9dcb98467fb9383225a95622adbe827b99e66e
Owners: none

Notes added by 'git notes add'
  56/7676708df6209461ec191ff2b99e23a66f2611
Owners: none

Auto-release hmctspublic.azurecr.io/rd/professional-api:prod-5db081e-20210819161817
  k8s/namespaces/rd/rd-professional-api/rd-professional-api.yaml
Owners: @hmcts/ref-data

Notes added by 'git notes add'
  4c/efdd1152dcdbf94f99b7a16c8080a9e3bd6a6c
Owners: none

Notes added by 'git notes add'
  ae/794ff799faa73ca6ea5ff9adcd4ccf4d3175ee
Owners: none

Notes added by 'git notes add'
  98/ce42e05ceea43e3b3da5819a32f5533cb994b8
Owners: none

Notes added by 'git notes add'
  69/46f91bff879467a5caab6eb36736e0729130a9
Owners: none

Notes added by 'git notes add'
  9c/35/c82f5d7837306e5076bac85c8eda809e2030
Owners: none

Auto-release hmctspublic.azurecr.io/rd/professional-api:prod-5db081e-20210819161817
  k8s/namespaces/rd/rd-professional-api-integration/rd-professional-api-integration.yaml
Owners: @hmcts/ref-data

Notes added by 'git notes add'
  68/15a7be591781800d1b9b37b585e56ca0205176
Owners: none

Notes added by 'git notes add'
  f6/98/db3155e5e36fa0a26358289cc202c722e157
Owners: none

Auto-release hmctspublic.azurecr.io/rd/user-profile-api:prod-1093389-20210819161822
  k8s/namespaces/rd/rd-user-profile-api/rd-user-profile-api.yaml
Owners: @hmcts/ref-data

Notes added by 'git notes add'
  6e/d1346738cb44d9d1c652ec6c6ab93d1869c449
Owners: none

Notes added by 'git notes add'
  0b/828e8a3c71dc5b29791c39412d23ab5facd7ba
Owners: none

Notes added by 'git notes add'
  f7/b9371de8fccf00ce6fc256565333cde9323266
Owners: none

Notes added by 'git notes add'
  a8/673289c7e89c56ad5341526a951b534802e0ce
Owners: none

Notes added by 'git notes add'
  cb/332872a295b907f80147dc31d19499a408097f
Owners: none

Notes added by 'git notes add'
  2e/36a2b9f1b373f1e33638a7492ec8d46278e5e3
Owners: none

Notes added by 'git notes add'
  e9/79e7a6bc2c03c4794d6d2235d3d76d36b510e0
Owners: none

Auto-release hmctspublic.azurecr.io/rd/user-profile-api:prod-1093389-20210819161822
  k8s/namespaces/rd/rd-user-profile-api-integration/rd-user-profile-api-integration.yaml
Owners: @hmcts/ref-data

Update data-store-api.yaml
  k8s/perftest/common/ccd/data-store-api.yaml
Owners: @hmcts/cdm

Update data-store-api.yaml
  k8s/perftest/common/ccd/data-store-api.yaml
Owners: @hmcts/cdm

Notes added by 'git notes add'
  ae/195f0fb10d96496e4a8f272190dec3321cea74
Owners: none

Auto-release hmctspublic.azurecr.io/am/role-assignment-service:prod-3f1def0-20210819162619
  k8s/namespaces/am/am-role-assignment-service/am-role-assignment-service.yaml
Owners: @hmcts/am-devs

Notes added by 'git notes add'
  50/f22d2d91bba4b901354c5d10d7bb71195e68a9
Owners: none

Notes added by 'git notes add'
  8e/bf17595180c9d7b76e1dfe4af695023f4fa10c
Owners: none

Notes added by 'git notes add'
  59/61/3efca20b481fcc88fa864d0902ab2c91df0e
Owners: none

Notes added by 'git notes add'
  10/d4/2a18c259be139199e65b29199d659c7f532a
Owners: none

Notes added by 'git notes add'
  e2/61db72ac43e73ea17482c80bad2e3ac4bdbc38
Owners: none

Notes added by 'git notes add'
  f5/5837964a2ae30584fb64990524f0c7c719c278
Owners: none

Auto-release hmctspublic.azurecr.io/am/org-role-mapping-service:prod-1c25128-20210819162616
  k8s/namespaces/am/am-org-role-mapping-service/am-org-role-mapping-service.yaml
Owners: @hmcts/am-devs

Notes added by 'git notes add'
  8f/4629124ed300f0ea5aa202966784e29893a2f3
Owners: none

Notes added by 'git notes add'
  5b/d74649b2b859fcf61f444723756ae2c2d3f535
Owners: none

Notes added by 'git notes add'
  58/52a27ecbd4a360800f4d605a53e1f601dcf5f3
Owners: none

Notes added by 'git notes add'
  23/f3/958963f3a586f385ef38b30d6e993fcccb04
Owners: none

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations

# Restricting access to platops will we cleanup
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations

# AAT applications
## environment rules
k8s/aat/ @hmcts/platform-operations

# Production applications
## environment rules
k8s/prod/ @hmcts/production-apps-approvals

## Platform rules

k8s/common/ @hmcts/platform-operations
k8s/namespaces/ @hmcts/platform-operations
k8s/**/*-overlay/ @hmcts/platform-operations
k8s/prod/*/kube-system/ @hmcts/platform-operations
k8s/**/common/monitoring/ @hmcts/platform-operations
k8s/scripts/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations

### Next team

## application rules

### RPE
k8s/namespaces/rpe/ @hmcts/platform-operations
k8s/namespaces/camunda/ @hmcts/platform-operations
k8s/**/common/rpe/identity.yaml @hmcts/platform-operations
k8s/**/common/**/tests-values.yaml @hmcts/platform-operations

k8s/**/common/neuvector/ @hmcts/platform-operations

k8s/**/common/admin/ @hmcts/platform-operations


### Bulk Print
k8s/**/common/rpe/send-letter-identity.yaml @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

### Next team

##CCD
k8s/namespaces/ccd/ @hmcts/cdm
k8s/demo/common/ccd/*.yaml @hmcts/cdm
k8s/**/common/ccd/identity.yaml @hmcts/cdm
k8s/**/common/ccd/data-store-api.yaml @hmcts/cdm
k8s/**/common/ccd/definition-store-api.yaml @hmcts/cdm
k8s/**/common/ccd/user-profile-api.yaml @hmcts/cdm
k8s/**/common/ccd/api-gateway-web.yaml @hmcts/cdm
k8s/**/common/ccd/case-print-service.yaml @hmcts/cdm
k8s/**/common/ccd/admin-web.yaml @hmcts/cdm
k8s/aat/common/ccd/test-stubs-service.yaml @hmcts/cdm
k8s/**/common/ccd/case-activity-api.yaml @hmcts/cdm
k8s/**/common/ccd/case-management-web.yaml @hmcts/cdm

##AAC - CDM
k8s/namespaces/aac/ @hmcts/cdm
k8s/**/common/aac/identity.yaml @hmcts/cdm

##HMC - CDM
k8s/namespaces/hmc/ @hmcts/cdm
k8s/**/common/hmc/identity.yaml @hmcts/cdm

##CPO - CDM
k8s/namespaces/cpo/ @hmcts/cdm
k8s/**/common/cpo/identity.yaml @hmcts/cdm

##CMC
k8s/namespaces/money-claims/ @hmcts/cmc
k8s/**/common/money-claims/identity.yaml @hmcts/cmc
k8s/**/common/money-claims/claim-store.yaml @hmcts/cmc
k8s/**/common/money-claims/cmc-citizen-frontend.yaml @hmcts/cmc
k8s/**/common/money-claims/cmc-legal-frontend.yaml @hmcts/cmc

## I&A
k8s/namespaces/ia/ @hmcts/immigration-asylum
k8s/**/common/ia/identity.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-documents-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-notifications-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/aip-frontend.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/home-office-integration-api.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/home-office-mock-api.yaml @hmcts/immigration-asylum
k8s/ithc/common/ia/home-office-integration-api.yaml @hmcts/immigration-asylum
k8s/ithc/common/ia/home-office-mock-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/timed-event-service.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/case-payments-api.yaml @hmcts/immigration-asylum
k8s/demo/common/ia/case-payments-api.yaml @hmcts/immigration-asylum

## Divorce
k8s/namespaces/divorce/ @hmcts/divorce
k8s/demo/common/divorce/*.yaml @hmcts/divorce
k8s/**/common/divorce/identity.yaml @hmcts/divorce
k8s/**/common/divorce/div-emca.yaml @hmcts/divorce
k8s/**/common/divorce/div-cms.yaml @hmcts/divorce
k8s/**/common/divorce/div-dgs.yaml @hmcts/divorce
k8s/**/common/divorce/div-cos.yaml @hmcts/divorce
k8s/**/common/divorce/div-fps.yaml @hmcts/divorce
k8s/**/common/divorce/div-da.yaml @hmcts/divorce
k8s/**/common/divorce/div-dn.yaml @hmcts/divorce
k8s/**/common/divorce/div-rfe.yaml @hmcts/divorce
k8s/**/common/divorce/div-pfe.yaml @hmcts/divorce
k8s/**/common/divorce/div-cfs.yaml @hmcts/divorce


## Financial Remedy
k8s/namespaces/financial-remedy/ @hmcts/financial-remedy
k8s/**/common/financial-remedy/identity.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-ns.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-emca.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-cos.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-ps.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-dgcs.yaml @hmcts/financial-remedy

## Document Generation
k8s/namespaces/dg/ @hmcts/dts-dev
k8s/**/common/dg/identity.yaml @hmcts/dts-dev

## Document Management
k8s/namespaces/dm-store/ @hmcts/evidence
k8s/**/common/dm-store/identity.yaml @hmcts/evidence

## Evidence Management
k8s/namespaces/em/ @hmcts/evidence
k8s/**/common/em/identity.yaml @hmcts/evidence
k8s/aat/common/em/em-showcase.yaml @hmcts/evidence
k8s/**/common/em/em-icp.yaml @hmcts/evidence
k8s/**/cluster-*/em/em-icp.yaml @hmcts/evidence

## Probate
k8s/namespaces/probate/ @hmcts/probate
k8s/**/common/probate/identity.yaml @hmcts/probate
k8s/**/common/probate/business-service.yaml @hmcts/probate
k8s/**/common/probate/orchestrator-service.yaml @hmcts/probate
k8s/**/common/probate/submit-service.yaml @hmcts/probate
k8s/**/common/probate/probate-caveats-fe.yaml @hmcts/probate
k8s/**/common/probate/probate-frontend.yaml @hmcts/probate
k8s/**/common/probate/probate-back-office.yaml @hmcts/probate

## Reference Data
k8s/namespaces/rd/ @hmcts/ref-data
k8s/**/common/rd/identity.yaml @hmcts/ref-data
k8s/**/common/rd/professional-api.yaml @hmcts/ref-data
k8s/**/common/rd/profile-sync.yaml @hmcts/ref-data
k8s/**/cluster-00/rd/judicial-data-load.yaml @hmcts/ref-data @hmcts/ref-data
k8s/**/cluster-01/rd/judicial-data-load.yaml @hmcts/ref-data @hmcts/ref-data

## SSCS
k8s/namespaces/sscs/ @hmcts/sscs
k8s/**/common/sscs/identity.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tribunals-api.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-evidence-share.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tya-notif.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-bulk-scan.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-ccd-callback-orchestrator.yaml @hmcts/sscs
k8s/**/cluster-*/sscs/sscs-case-loader.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tribunals-frontend.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-cor-frontend.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-track-appeal-redirect-ingress.yaml @hmcts/sscs

## FPLA
k8s/namespaces/family-public-law/ @hmcts/fpl-admins
k8s/**/common/family-public-law/identity.yaml @hmcts/fpl-admins
k8s/**/common/family-public-law/fpl-case-service.yaml @hmcts/fpl-admins

### Adoption
k8s/namespaces/adoption/ @hmcts/fpl-admins
k8s/aat/common/adoption/identity.yaml @hmcts/fpl-admins
k8s/aat/common/adoption/adoption-frontend.yaml @hmcts/fpl-admins
k8s/aat/common/adoption/adoption-backend.yaml @hmcts/fpl-admins

## CTSC
k8s/namespaces/ctsc/ @hmcts/ctsc
k8s/**/common/ctsc/identity.yaml @hmcts/ctsc
k8s/**/common/ctsc/work-allocation.yaml @hmcts/ctsc

## cc-pay
k8s/namespaces/fees-pay/ @hmcts/Fees
k8s/**/common/fees-pay/identity.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-bulkscanning-app.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-payment-app.yaml @hmcts/Fees
k8s/**/common/fees-pay/fees-register-api.yaml @hmcts/Fees
k8s/**/common/fees-pay/fees-register-frontend.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-bubble-frontend.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-callback-function.yaml @hmcts/Fees

k8s/**/cluster-*/fees-pay/bar-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/card-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/finrem-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/pba-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/status-payment-job.yaml @hmcts/Fees

## bar
k8s/namespaces/bar/ @hmcts/Fees
k8s/**/common/bar/bar-app.yaml @hmcts/Fees
k8s/**/common/bar/bar-web.yaml @hmcts/Fees
k8s/**/common/bar/identity.yaml @hmcts/Fees

# IDAM
k8s/namespaces/idam/ @hmcts/idam
k8s/**/common/idam/idam-api.yaml @hmcts/idam
k8s/**/common/idam/idam-web-public.yaml @hmcts/idam
k8s/**/common/idam/idam-web-admin.yaml @hmcts/idam
k8s/**/common/idam/identity.yaml @hmcts/idam

## AM
k8s/namespaces/am/ @hmcts/am-devs
k8s/**/common/am/identity.yaml @hmcts/am-devs
k8s/aat/common/am/accessmgmt-api.yaml @hmcts/am-devs
k8s/perftest/common/am/accessmgmt-api.yaml @hmcts/am-devs
k8s/aat/common/am/am-role-assignment-service.yaml @hmcts/am-devs
k8s/aat/common/am/am-judicial-booking-service.yaml @hmcts/am-devs
k8s/aat/cluster-**/am/role-assignment-batch.yaml @hmcts/am-devs
k8s/aat/cluster-**/am/judicial-booking-batch-service.yaml @hmcts/am-devs
k8s/demo/common/am/am-role-assignment-service.yaml @hmcts/am-devs
k8s/perftest/common/am/am-role-assignment-service.yaml @hmcts/am-devs

## Ethos
k8s/namespaces/ethos/ @hmcts/ethos
k8s/**/common/ethos/identity.yaml @hmcts/ethos
k8s/**/common/ethos/repl-docmosis-service.yaml @hmcts/ethos
k8s/**/common/ethos/ecm-consumer.yaml @hmcts/ethos

### Bulk scan
k8s/namespaces/bsp/ @hmcts/bulk-scan
k8s/**/common/bsp/identity.yaml @hmcts/bulk-scan
k8s/aat/common/bsp/bulk-scan-sample-app.yaml @hmcts/bulk-scan
k8s/demo/common/bsp/bsp-demo.yaml @hmcts/bulk-scan
k8s/demo/common/bsp/bulk-scan-sample-app.yaml @hmcts/bulk-scan

### BSP but separate namespace and identity
k8s/namespaces/reform-scan/ @hmcts/bulk-scan
k8s/**/common/reform-scan/identity.yaml @hmcts/bulk-scan

### XUI
k8s/namespaces/xui/ @hmcts/xui
k8s/**/common/xui/identity.yaml @hmcts/xui
k8s/**/common/xui/xui-tc.yaml @hmcts/xui
k8s/**/common/xui/webapp.yaml @hmcts/xui
k8s/**/common/xui/manage-organisations.yaml @hmcts/xui
k8s/**/common/xui/approve-org.yaml @hmcts/xui
k8s/aat/common/xui/share-case.yaml @hmcts/xui
k8s/**/common/xui/register-org-ingress.yaml @hmcts/xui
k8s/perftest/common/xui/share-case.yaml @hmcts/xui

### PCQ
k8s/namespaces/pcq/ @hmcts/pcq-admins
k8s/**/common/pcq/identity.yaml @hmcts/pcq-admins
k8s/**/common/pcq/pcq-frontend.yaml @hmcts/pcq-admins
k8s/**/common/pcq/pcq-backend.yaml @hmcts/pcq-admins
k8s/**/cluster-*/pcq/pcq-consolidation-service.yaml @hmcts/pcq-admins
k8s/aat/cluster-*/pcq/pcq-loader.yaml @hmcts/pcq-admins
k8s/demo/cluster-*/pcq/pcq-loader.yaml @hmcts/pcq-admins

### RSE
k8s/namespaces/rse/ @hmcts/rse
k8s/aat/common/rse/check.yaml @hmcts/rse

### Civil
k8s/namespaces/civil/ @hmcts/civil-admins
k8s/aat/common/civil/identity.yaml @hmcts/civil-admins
k8s/demo/common/civil/identity.yaml @hmcts/civil-admins

### WORK ALLOCATION
k8s/namespaces/wa/ @hmcts/work-allocation
k8s/**/common/wa/identity.yaml @hmcts/work-allocation

### FACT
k8s/namespaces/fact/ @hmcts/fact
k8s/**/common/fact/identity.yaml @hmcts/fact

### NO FAULT DIVORCE
k8s/namespaces/nfdiv/ @hmcts/no-fault-divorce
k8s/**/common/nfdiv/identity.yaml @hmcts/no-fault-divorce

### Kustomization control

k8s/namespaces/**/kustomization.yaml @hmcts/platform-operations
