Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

hmctspublic.azurecr.io/ccd/case-print-service:pr-459-eb4479f-20230301104435
  apps/ccd/ccd-case-print-service/demo.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/ccd/case-print-service:prod-f8610f5-20230228112729
  apps/ccd/ccd-case-print-service/demo.yaml
Owners: @hmcts/cdm

Add kustomize/ secrets for ptl ADO agents (#21305)
  apps/azure-devops/ptl-intsvc/base/azure-devops-token.yaml
  apps/azure-devops/ptl-intsvc/base/kustomization.yaml
Owners: @hmcts/platform-operations

revert pointing for v14
  apps/divorce/div-cos/demo.yaml
Owners: @hmcts/divorce

hmctspublic.azurecr.io/am/judicial-booking-service:prod-c6ec046-20230302133140
  apps/am/am-judicial-booking-service/am-judicial-booking-service.yaml
Owners: @hmcts/am-devs

hmctspublic.azurecr.io/prl/dgs:prod-c259b31-20230302133252
  apps/private-law/prl-dgs/aat.yaml
  apps/private-law/prl-dgs/demo.yaml
  apps/private-law/prl-dgs/ithc.yaml
  apps/private-law/prl-dgs/perftest.yaml
  apps/private-law/prl-dgs/prl-dgs.yaml
  apps/private-law/prl-dgs/prod.yaml
Owners: @hmcts/private-law

hmctspublic.azurecr.io/payment/api:prod-6e2bac1-20230302130840
  apps/fees-pay/ccpay-payment-api-int/ccpay-payment-api-int.yaml
  apps/fees-pay/ccpay-payment-api/ccpay-payment-api.yaml
  apps/money-claims/cmc-pay/demo.yaml
Owners: @hmcts/Fees, @hmcts/cmc

hmctspublic.azurecr.io/et/sya:pr-562-8f02819-20230302134008 hmctspublic.azurecr.io/et/sya:pr-647-75e64dc-20230302133953
  apps/et/et-sya/ithc.yaml
  apps/et/et-sya/perftest.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/dtsse/dashboard-ingestion:prod-3be5957-20230302135152
  apps/dtsse/dtsse-dashboard-ingestion/dtsse-dashboard-ingestion.yaml
Owners: @hmcts/rse

hmctspublic.azurecr.io/sptribs/case-api:prod-4590c23-20230302135241
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/dtsse/dashboard-ingestion:prod-718e508-20230302140426
  apps/dtsse/dtsse-dashboard-ingestion/dtsse-dashboard-ingestion.yaml
Owners: @hmcts/rse

hmctspublic.azurecr.io/pcq/loader:prod-4cd2ea0-20230302140201
  apps/pcq/pcq-loader/pcq-loader.yaml
Owners: @hmcts/pcq-admins

hmctspublic.azurecr.io/probate/frontend:prod-4362399-20230302140021
  apps/probate/probate-frontend/demo.yaml
  apps/probate/probate-frontend/probate-frontend.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/rd/judicial-api:prod-5d913c0-20230302140831
  apps/rd/rd-judicial-api/demo.yaml
  apps/rd/rd-judicial-api/rd-judicial-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/am/role-assignment-service:prod-8ae79d7-20230302140900
  apps/am/am-role-assignment-service/am-role-assignment-service.yaml
  apps/ccd/ccd-int/ccd-int.yaml
Owners: @hmcts/am-devs, @hmcts/cdm

hmctspublic.azurecr.io/rd/judicial-api:prod-5d913c0-20230302140831
  apps/rd/rd-judicial-api-integration/rd-judicial-api-integration.yaml
Owners: @hmcts/ref-data

removed int environment and supplies image
  apps/hmc/hmc-judicial-payment-service-int/demo.yaml
  apps/hmc/hmc-judicial-payment-service-int/hmc-judicial-payment-service-int.yaml
  apps/hmc/hmc-judicial-payment-service/hmc-judicial-payment-service.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/xui/webapp:pr-2661-32e26a0-20230302140110
  apps/xui/xui-webapp-hearings-integration/demo.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/xui/webapp:pr-2661-32e26a0-20230302140110
  apps/xui/xui-webapp/perftest.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/sptribs/case-api:prod-634219a-20230302142325
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/plum/recipe-backend:prod-f1e02cf-20230302142914
  apps/cnp/plum-recipe-backend/plum-recipe-backend.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/civil/service:pr-2323-03236e3-20230302142708
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/pcq/consolidation-service:prod-b757963-20230302143451
  apps/pcq/pcq-consolidation-service/pcq-consolidation-service.yaml
Owners: @hmcts/pcq-admins

update ingressClassName
  apps/monitoring/kube-prometheus-stack/demo/00.yaml
  apps/monitoring/kube-prometheus-stack/demo/01.yaml
Owners: @hmcts/platform-operations

add the wa identity file into the kustomization file
  apps/sscs/preview/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/prl/dgs:prod-3adc5b3-20230302145249
  apps/private-law/prl-dgs/aat.yaml
  apps/private-law/prl-dgs/demo.yaml
  apps/private-law/prl-dgs/ithc.yaml
  apps/private-law/prl-dgs/perftest.yaml
  apps/private-law/prl-dgs/prl-dgs.yaml
  apps/private-law/prl-dgs/prod.yaml
Owners: @hmcts/private-law

hmctspublic.azurecr.io/plum/recipe-backend:prod-3948aca-20230302145419
  apps/cnp/plum-recipe-backend/plum-recipe-backend.yaml
Owners: @hmcts/platform-operations

DTSPB-3097 Hmrc prod configs
  apps/probate/perftest/00/kustomization.yaml
  apps/probate/perftest/01/kustomization.yaml
  apps/probate/perftest/base/kustomization.yaml
  apps/probate/probate-cron-hmrc-extract/perftest/00.yaml
  apps/probate/probate-cron-hmrc-extract/perftest/01.yaml
  apps/probate/probate-cron-hmrc-extract/probate-cron-hmrc-extract.yaml
  apps/probate/probate-cron-hmrc-extract/prod/00.yaml
  apps/probate/probate-cron-hmrc-extract/prod/01.yaml
  apps/probate/prod/00/kustomization.yaml
  apps/probate/prod/01/kustomization.yaml
  apps/probate/prod/base/kustomization.yaml
Owners: @hmcts/platform-operations, @hmcts/probate

Update demo.yaml
  apps/private-law/prl-cos/demo.yaml
Owners: @hmcts/private-law

hmctspublic.azurecr.io/pcq/frontend:prod-ae53495-20230302150842
  apps/pcq/pcq-frontend-int/pcq-frontend-int.yaml
  apps/pcq/pcq-frontend/pcq-frontend.yaml
Owners: @hmcts/pcq-admins

fix Sku - standard needed for topics
  apps/bsp/azure-service-operator/aso.yaml
  apps/chart-tests/azure-service-operator/aso.yaml
Owners: @hmcts/bulk-scan, @hmcts/platform-operations

Moving ptl ADO agents to KEDA
  apps/azure-devops/azure-devops-agent/azure-devops-agent.yaml
  apps/azure-devops/azure-devops-agent/ptl-intsvc.yaml
  apps/azure-devops/azure-devops-agent/sbox-intsvc.yaml
  clusters/ptl-intsvc/base/kustomization.yaml
Owners: @hmcts/platform-operations

fix Sku - standard needed for topics (#21316)
  apps/bsp/azure-service-operator/aso.yaml
  apps/chart-tests/azure-service-operator/aso.yaml
Owners: @hmcts/bulk-scan, @hmcts/platform-operations

hmctspublic.azurecr.io/em/stitching:pr-1408-d2d44be-20230302152515
  apps/em/em-stitching/demo.yaml
Owners: @hmcts/evidence

update prometheus values
  apps/monitoring/perftest/base/prometheus-values.yaml
  docs/secrets-sops-encryption.md
Owners: @hmcts/platform-operations

Update ithc.yaml
  apps/private-law/prl-cos/ithc.yaml
Owners: @hmcts/private-law

Update ithc-image-policy.yaml
  apps/private-law/prl-cos/ithc-image-policy.yaml
Owners: @hmcts/private-law

hmctspublic.azurecr.io/sptribs/case-api:prod-9db250c-20230302153216
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

Update docs/secrets-sops-encryption.md
  docs/secrets-sops-encryption.md
Owners: @hmcts/platform-operations

update indent
  apps/monitoring/perftest/base/prometheus-values.yaml
Owners: @hmcts/platform-operations

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control
