Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

hmctspublic.azurecr.io/rd/user-profile-api:prod-c8891c7-20230223160208
  apps/rd/rd-user-profile-api-integration/rd-user-profile-api-integration.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/judicial-api:prod-4d743b1-20230223160847
  apps/rd/rd-judicial-api-integration/rd-judicial-api-integration.yaml
Owners: @hmcts/ref-data

point demo to prod
  apps/probate/probate-back-office/demo-image-policy.yaml
Owners: @hmcts/probate

point demo to prod
  apps/probate/probate-back-office/demo.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/probate/back-office:prod-109f89a-20230220143159
  apps/probate/probate-back-office/demo.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/probate/back-office:prod-109f89a-20230220143159 hmctspublic.azurecr.io/et/cos:pr-670-c2528b8-20230223162539
  apps/et/et-cos/perftest.yaml
  apps/probate/probate-cron-hmrc-extract/demo/00.yaml
  apps/probate/probate-cron-hmrc-extract/demo/01.yaml
  apps/probate/probate-cron-make-dormant-cases/demo/01.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/demo/01.yaml
Owners: @hmcts/employment-tribunals, @hmcts/probate

dummy restart
  apps/fees-pay/ccpay-payment-api-int/demo.yaml
Owners: @hmcts/Fees

update secret
  apps/civil/preview/secrets/civil-work-allocation-secret.enc.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/probate/back-office:prod-d5b29f3-20230223160924 hmctspublic.azurecr.io/probate/back-office:prod-d5b29f3-20230223160924
  apps/probate/probate-back-office/demo.yaml
  apps/probate/probate-back-office/probate-back-office.yaml
  apps/probate/probate-cron-hmrc-extract/demo/00.yaml
  apps/probate/probate-cron-hmrc-extract/demo/01.yaml
  apps/probate/probate-cron-make-dormant-cases/demo/00.yaml
  apps/probate/probate-cron-make-dormant-cases/demo/01.yaml
  apps/probate/probate-cron-make-dormant-cases/perftest/00.yaml
  apps/probate/probate-cron-make-dormant-cases/probate-cron-make-dormant-cases.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/demo/00.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/demo/01.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/perftest/00.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/probate-cron-reactivate-dormant-cases.yaml
  apps/probate/probate-cron-smee-and-ford-extract/demo/demo.yaml
  apps/probate/probate-cron-smee-and-ford-extract/probate-cron-smee-and-ford-extract.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/payment/api:pr-1364-19ed5b2-20230223164353
  apps/fees-pay/ccpay-payment-api-int/demo.yaml
Owners: @hmcts/Fees

hmctsprivate.azurecr.io/docmosis:prod-8c6efa6-342994
  apps/docmosis/docmosis/docmosis.yaml
Owners: @hmcts/platform-operations

DSTPB-2794 add Probate data Migration tool prod config
  apps/probate/prod/01/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/rd/commondata-api:prod-0d2dd12-20230223165155
  apps/rd/rd-commondata-api/rd-commondata-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/sscs/tribunals-api:prod-8c3ea55-20230223164342
  apps/sscs/sscs-tribunals-api/sscs-tribunals-api.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/rd/location-ref-api:prod-3947df5-20230223170458
  apps/rd/rd-location-ref-api/rd-location-ref-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/location-ref-api:prod-3947df5-20230223170458
  apps/rd/rd-location-ref-api-integration/rd-location-ref-api-integration.yaml
Owners: @hmcts/ref-data

hmctsprivate.azurecr.io/docmosis:aat-f5f2d50-343034
  apps/docmosis/docmosis/aat.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/civil/general-applications:pr-880-654522b-20230223180646
  apps/civil/civil-general-applications/demo.yaml
Owners: @hmcts/civil-admins

DSTPB-2794 add Probate data Migration tool prod config
  apps/probate/probate-cron-ccd-data-migration-tool/prod/00.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/rd/commondata-dataload:prod-72e14b5-20230223184016
  apps/rd/rd-commondata-dataload/rd-commondata-dataload.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/xui/webapp:pr-2734-d29b48a-20230223183036
  apps/xui/xui-webapp-integration/demo.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/fpl/case-service:prod-c260913-20230223190344
  apps/family-public-law/fpl-case-service/fpl-case-service.yaml
  apps/family-public-law/fpl-case-service/ithc.yaml
Owners: @hmcts/fpl-admins

hmctspublic.azurecr.io/payment/api:pr-1364-693623c-20230223195552
  apps/fees-pay/ccpay-payment-api-int/demo.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/payment/api:pr-1248-ee93188-20230223195803 hmctspublic.azurecr.io/payment/api:pr-1248-ee93188-20230223195803
  apps/fees-pay/ccpay-payment-api/demo.yaml
  apps/fees-pay/ccpay-payment-api/perftest.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/fpl/case-service:prod-7aaf6c2-20230223200031
  apps/family-public-law/fpl-case-service/fpl-case-service.yaml
  apps/family-public-law/fpl-case-service/ithc.yaml
Owners: @hmcts/fpl-admins

hmctspublic.azurecr.io/civil/citizen-ui:prod-103a69c-20230223165939
  apps/civil/civil-citizen-ui/civil-citizen-ui.yaml
  apps/civil/civil-citizen-ui/demo.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/rpe/send-letter-service:prod-2ed2230-20230223210739
  apps/money-claims/cmc-send-letter-service/cmc-send-letter-service.yaml
  apps/rpe/rpe-send-letter-service/rpe-send-letter-service.yaml
Owners: @hmcts/cmc, @hmcts/bulk-print

Enable Logstash Indexer
  apps/ccd/ccd-logstash-indexer/prod.yaml
Owners: @hmcts/cdm

Enable Logstash Indexer with update to qry
  apps/ccd/ccd-logstash-indexer/ccd-logstash-indexer.yaml
Owners: @hmcts/cdm

Update ccd-logstash.yaml
  apps/ccd/ccd-logstash/ccd-logstash.yaml
Owners: @hmcts/cdm

Update prod.yaml
  apps/ccd/ccd-logstash-indexer/prod.yaml
Owners: @hmcts/cdm

Update ccd-logstash-indexer.yaml
  apps/ccd/ccd-logstash-indexer/ccd-logstash-indexer.yaml
Owners: @hmcts/cdm

Update ccd-logstash-indexer.yaml (#21161)
  apps/ccd/ccd-logstash-indexer/ccd-logstash-indexer.yaml
Owners: @hmcts/cdm

Update prod.yaml
  apps/ccd/ccd-logstash-indexer/prod.yaml
Owners: @hmcts/cdm

Update prod.yaml (#21162)
  apps/ccd/ccd-logstash-indexer/prod.yaml
Owners: @hmcts/cdm

DTSPO-10292
  apps/admin/demo/base/kustomization.yaml
  apps/admin/sbox-intsvc/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/nfdiv/frontend:prod-dde3575-20230224081421
  apps/nfdiv/nfdiv-frontend/demo.yaml
  apps/nfdiv/nfdiv-frontend/nfdiv-frontend.yaml
Owners: @hmcts/no-fault-divorce

hmctspublic.azurecr.io/et/cos:pr-556-7a0c9bc-20230224082206
  apps/et/et-cos/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/nfdiv/case-api:prod-82413cb-20230224082708 hmctspublic.azurecr.io/nfdiv/case-api:prod-82413cb-20230224082708
  apps/nfdiv/nfdiv-case-api/demo.yaml
  apps/nfdiv/nfdiv-case-api/nfdiv-case-api.yaml
  apps/nfdiv/nfdiv-cron-alert-application-not-reviewed/nfdiv-cron-alert-application-not-reviewed.yaml
  apps/nfdiv/nfdiv-cron-applicant-can-sts-after-intention-fo/nfdiv-cron-applicant-can-sts-after-intention-fo.yaml
  apps/nfdiv/nfdiv-cron-application-approved-reminder/nfdiv-cron-application-approved-reminder.yaml
  apps/nfdiv/nfdiv-cron-bulk-list-create/nfdiv-cron-bulk-list-create.yaml
  apps/nfdiv/nfdiv-cron-eligible-for-switch-to-sole/nfdiv-cron-eligible-for-switch-to-sole.yaml
  apps/nfdiv/nfdiv-cron-js-disputed-answer-overdue/nfdiv-cron-js-disputed-answer-overdue.yaml
  apps/nfdiv/nfdiv-cron-migrate-bulk-cases/nfdiv-cron-migrate-bulk-cases.yaml
  apps/nfdiv/nfdiv-cron-migrate-cases/nfdiv-cron-migrate-cases.yaml
  apps/nfdiv/nfdiv-cron-notify-applicant-dispute-form-overdue/nfdiv-cron-notify-applicant-dispute-form-overdue.yaml
  apps/nfdiv/nfdiv-cron-notify-applicants-apply-co/nfdiv-cron-notify-applicants-apply-co.yaml
  apps/nfdiv/nfdiv-cron-notify-respondent-apply-final-order/nfdiv-cron-notify-respondent-apply-final-order.yaml
  apps/nfdiv/nfdiv-cron-partner-not-applied-for-final-order/nfdiv-cron-partner-not-applied-for-final-order.yaml
  apps/nfdiv/nfdiv-cron-process-cases-to-be-removed/nfdiv-cron-process-cases-to-be-removed.yaml
  apps/nfdiv/nfdiv-cron-process-failed-pronounced-cases/nfdiv-cron-process-failed-pronounced-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-scheduled-cases/nfdiv-cron-process-failed-scheduled-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-to-unlink-cases/nfdiv-cron-process-failed-to-unlink-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-cases-to-aos-overdue/nfdiv-cron-progress-cases-to-aos-overdue.yaml
  apps/nfdiv/nfdiv-cron-progress-held-cases/nfdiv-cron-progress-held-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-to-awaiting-final-order/nfdiv-cron-progress-to-awaiting-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-applicant2/nfdiv-cron-remind-applicant2.yaml
  apps/nfdiv/nfdiv-cron-remind-applicants-apply-for-fo/nfdiv-cron-remind-applicants-apply-for-fo.yaml
  apps/nfdiv/nfdiv-cron-remind-awaiting-joint-final-order/nfdiv-cron-remind-awaiting-joint-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-respondent-solicitor/nfdiv-cron-remind-respondent-solicitor.yaml
  apps/nfdiv/nfdiv-cron-resend-co-pronounced-cover-letters/nfdiv-cron-resend-co-pronounced-cover-letters.yaml
Owners: @hmcts/no-fault-divorce

point demo to PR
  apps/probate/probate-back-office/demo-image-policy.yaml
  apps/probate/probate-back-office/demo.yaml
Owners: @hmcts/probate

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control
