Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control

ITHC:
  apps/flux-system/ithc/base/kustomization.yaml
Owners: @hmcts/platform-operations

deploy paybubble 747 in perftest
  apps/fees-pay/ccpay-bubble-frontend/perftest-image-policy.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/civil/citizen-ui:prod-3796b1e-20230220114152
  apps/civil/civil-citizen-ui/civil-citizen-ui.yaml
  apps/civil/civil-citizen-ui/demo.yaml
Owners: @hmcts/civil-admins

deploy paybubble 747 in perftest (#21050)
  apps/fees-pay/ccpay-bubble-frontend/perftest-image-policy.yaml
Owners: @hmcts/Fees

opening breaking
  apps/fees-pay/demo/base/kustomization.yaml
Owners: @hmcts/platform-operations

point demo to W2P PR
  apps/probate/probate-back-office/demo.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/ccpay/bubble-frontend:pr-747-5ac6231-20230215160946
  apps/fees-pay/ccpay-bubble-frontend/perftest.yaml
Owners: @hmcts/Fees

pr pointing
  apps/fees-pay/ccpay-notifications-service/demo-image-policy.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/ccd/case-disposer:prod-dae38af-20230220120450
  apps/ccd/ccd-case-disposer/ccd-case-disposer.yaml
Owners: @hmcts/cdm

pr pointing
  apps/fees-pay/ccpay-notifications-service/demo-int-image-policy.yaml
Owners: @hmcts/Fees

point demo to W2P PR
  apps/probate/probate-back-office/demo-image-policy.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/probate/back-office:pr-2184-f3fd3ae-20230213145618
  apps/probate/probate-back-office/demo.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/probate/back-office:pr-2102-c78d697-20230216184506
  apps/probate/probate-back-office/demo.yaml
  apps/probate/probate-cron-hmrc-extract/demo/00.yaml
  apps/probate/probate-cron-hmrc-extract/demo/01.yaml
  apps/probate/probate-cron-make-dormant-cases/demo/01.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/demo/01.yaml
Owners: @hmcts/probate

Refresh bulk-scan-processor pods in demo
  apps/bsp/bulk-scan-processor/demo.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/ccpay/notifications-service:pr-100-c161765-20230216113136 hmctspublic.azurecr.io/ccpay/notifications-service:pr-100-c161765-20230216113136
  apps/fees-pay/ccpay-notifications-service-int/demo.yaml
  apps/fees-pay/ccpay-notifications-service/demo.yaml
Owners: @hmcts/Fees

updated image
  apps/fis/fis-hmc-api/demo.yaml
Owners: @hmcts/family-integration

hmctspublic.azurecr.io/bulk-scan/payment-processor:prod-2901e3d-20230220122408
  apps/bsp/bulk-scan-payment-processor/bulk-scan-payment-processor.yaml
Owners: @hmcts/bulk-scan

Added hmc-judicial-payment-service to cnp-flux-config
  apps/hmc/hmc-judicial-payment-service/demo-image-policy.yaml
  apps/hmc/hmc-judicial-payment-service/demo-int-image-policy.yaml
  apps/hmc/hmc-judicial-payment-service/demo.yaml
  apps/hmc/hmc-judicial-payment-service/hmc-judicial-payment-service.yaml
  apps/hmc/hmc-judicial-payment-service/image-policy.yaml
  apps/hmc/hmc-judicial-payment-service/image-repo.yaml
  apps/hmc/hmc-judicial-payment-service/ithc.yaml
  apps/hmc/hmc-judicial-payment-service/perftest.yaml
Owners: @hmcts/cdm

hmctsprivate.azurecr.io/docmosis:prod-598ea99-340544 hmctsprivate.azurecr.io/docmosis:sandbox-598ea99-340544
  apps/docmosis/docmosis/docmosis.yaml
  apps/docmosis/docmosis/sbox.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/ccd/case-disposer:prod-6ea711c-20230220123235
  apps/ccd/ccd-case-disposer/ccd-case-disposer.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/ia/case-api:pr-1273-f87b9f0-20230220123540
  apps/ia/ia-case-api/ithc.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/wa/task-management-api:prod-cd14be0-20230220122420
  apps/wa/wa-task-management-api/ithc.yaml
  apps/wa/wa-task-management-api/perftest.yaml
  apps/wa/wa-task-management-api/wa-task-management-api.yaml
Owners: @hmcts/work-allocation

hmctspublic.azurecr.io/bulk-scan/processor:prod-11e4105-20230220123605
  apps/bsp/bulk-scan-processor/bulk-scan-processor.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/sscs/hearings-api:prod-6260599-20230220123906
  apps/sscs/sscs-hearings-api/ithc.yaml
  apps/sscs/sscs-hearings-api/perftest.yaml
  apps/sscs/sscs-hearings-api/sscs-hearings-api.yaml
Owners: @hmcts/sscs

point demo to Prod
  apps/probate/probate-back-office/demo.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/sptribs/case-api:prod-0ca20aa-20230220130439
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

DSTPB-2794 update to lastest PR and update the run time
  apps/probate/probate-cron-ccd-data-migration-tool/demo/01.yaml
Owners: @hmcts/probate

Revert PR version
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

point demo to prod
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

Feat/civ 5801 revert (#21058)
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/sscs/evidence-share:prod-64730a9-20230220131244 hmctspublic.azurecr.io/civil/service:prod-74171a7-20230220113135
  apps/civil/civil-service/demo.yaml
  apps/sscs/sscs-evidence-share/demo.yaml
  apps/sscs/sscs-evidence-share/sscs-evidence-share.yaml
Owners: @hmcts/civil-admins, @hmcts/sscs

hmctspublic.azurecr.io/probate/back-office:prod-38f6572-20230217105350
  apps/probate/probate-back-office/demo.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/probate/back-office:prod-573b61e-20230220130148
  apps/probate/probate-back-office/demo.yaml
  apps/probate/probate-back-office/probate-back-office.yaml
  apps/probate/probate-cron-make-dormant-cases/demo/00.yaml
  apps/probate/probate-cron-make-dormant-cases/perftest/00.yaml
  apps/probate/probate-cron-make-dormant-cases/probate-cron-make-dormant-cases.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/demo/00.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/perftest/00.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/probate-cron-reactivate-dormant-cases.yaml
  apps/probate/probate-cron-smee-and-ford-extract/demo/demo.yaml
  apps/probate/probate-cron-smee-and-ford-extract/probate-cron-smee-and-ford-extract.yaml
Owners: @hmcts/probate

deploy Newport as default hearing centre changes in demo
  apps/ia/ia-case-api/demo-image-policy.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/sptribs/case-api:prod-1fe6d16-20230220134235
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

Revert "ptl-intsvc sealedsecret to sops migration "
  apps/admin/ptl-intsvc/base/kube-slack-values.yaml
  apps/backstage/ptl-intsvc/base/backstage-github-app.yaml
  apps/backstage/ptl-intsvc/base/backstage-values.yaml
  apps/flux-system/ptl-intsvc/base/git-credentials.yaml
  apps/flux-system/ptl-intsvc/base/kustomization.yaml
  apps/kured/ptl-intsvc/base/kured-values.yaml
  apps/monitoring/ptl-intsvc/base/opentelemetry-values.yaml
  apps/monitoring/ptl-intsvc/base/prometheus-values.yaml
  apps/response/ptl-intsvc/base/response-secret.yaml
  apps/vsts/ptl-intsvc/base/vsts-token.yaml
  clusters/ptl-intsvc/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/et/cos:pr-670-73688a3-20230220134538
  apps/et/et-cos/perftest.yaml
Owners: @hmcts/employment-tribunals

Fix jurisdiction and cases env variables for aat, ithc and prod
  apps/wa/wa-task-management-api/aat.yaml
  apps/wa/wa-task-management-api/ithc-image-policy.yaml
  apps/wa/wa-task-management-api/ithc.yaml
  apps/wa/wa-task-management-api/prod.yaml
Owners: @hmcts/work-allocation

DTSPO-10559
  apps/flux-system/prod/base/kustomization.yaml
  apps/flux-system/ptl-intsvc/base/kustomization.yaml
  clusters/prod/base/kustomization.yaml
  clusters/ptl-intsvc/base/kustomization.yaml
Owners: @hmcts/platform-operations

DTSPO-10559
  apps/flux-system/sbox-intsvc/base/kustomization.yaml
Owners: @hmcts/platform-operations
