Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control

hmctspublic.azurecr.io/am/org-role-mapping-service:prod-583cef3-20230216094112
  apps/am/am-org-role-mapping-service/am-org-role-mapping-service.yaml
Owners: @hmcts/am-devs

restart payment app in demo
  apps/fees-pay/ccpay-payment-api/demo.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/reform-scan/notification-service:prod-0b08f52-20230216094523
  apps/reform-scan/reform-scan-notification-service/reform-scan-notification-service.yaml
Owners: @hmcts/bulk-scan

restart payment app in demo (#20998)
  apps/fees-pay/ccpay-payment-api/demo.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/bulk-scan/processor:prod-ee90046-20230216094547
  apps/bsp/bulk-scan-processor/bulk-scan-processor.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/civil/service:pr-2181-f88c7f3-20230216095044
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/adoption/web:pr-956-19bee6c-20230216095642
  apps/adoption/adoption-web/demo.yaml
  apps/adoption/adoption-web/ithc.yaml
Owners: @hmcts/reform-adoption

hmctspublic.azurecr.io/pcq/backend:prod-50e6684-20230216095843
  apps/pcq/pcq-backend-int/pcq-backend-int.yaml
  apps/pcq/pcq-backend/pcq-backend.yaml
Owners: @hmcts/pcq-admins

hmctspublic.azurecr.io/et/cos:pr-556-6caa7eb-20230216100212
  apps/et/et-cos/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/reform-scan/blob-router:prod-908baa7-20230216095838
  apps/reform-scan/reform-scan-blob-router/reform-scan-blob-router.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/fpl/case-service:prod-63f7f53-20230216095426
  apps/family-public-law/fpl-case-service/fpl-case-service.yaml
  apps/family-public-law/fpl-case-service/ithc.yaml
Owners: @hmcts/fpl-admins

hmctspublic.azurecr.io/xui/webapp:pr-2661-8b57136-20230216095658
  apps/xui/xui-webapp/ithc.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/xui/webapp:pr-2661-8b57136-20230216095658
  apps/xui/xui-webapp-hearings-integration/demo.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/xui/webapp:pr-2661-8b57136-20230216095658
  apps/xui/xui-webapp-integration1/demo.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/div/pfe:pr-1057-2479f3f-20230216100659
  apps/divorce/div-pfe/demo.yaml
Owners: @hmcts/divorce

hmctspublic.azurecr.io/am/org-role-mapping-service:prod-06a488f-20230216101431
  apps/am/am-org-role-mapping-service/am-org-role-mapping-service.yaml
Owners: @hmcts/am-devs

hmctspublic.azurecr.io/xui/webapp:prod-3224583-20230216100527
  apps/xui/xui-webapp-ac-integration/demo.yaml
  apps/xui/xui-webapp/xui-webapp.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/am/role-assignment-service:prod-89e37a5-20230216101556
  apps/am/am-role-assignment-service/am-role-assignment-service.yaml
  apps/ccd/ccd-int/ccd-int.yaml
Owners: @hmcts/am-devs, @hmcts/cdm

hmctspublic.azurecr.io/xui/webapp:prod-3224583-20230216100527
  apps/xui/xui-activity-tracker-api/xui-activity-tracker-api.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/xui/webapp:prod-3224583-20230216100527 hmctspublic.azurecr.io/xui/webapp:prod-3224583-20230216100527 hmctspublic.azurecr.io/xui/webapp:prod-3224583-20230216100527
  apps/xui/xui-webapp-integration/xui-webapp-integration.yaml
  apps/xui/xui-webapp-integration2/xui-webapp-integration2.yaml
  apps/xui/xui-webapp-wa-integration/xui-webapp-wa-integration.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/xui/mo-webapp:prod-878fa7d-20230216100815 hmctspublic.azurecr.io/xui/mo-webapp:prod-878fa7d-20230216100815
  apps/xui/xui-mo-webapp/demo.yaml
  apps/xui/xui-mo-webapp/ithc.yaml
  apps/xui/xui-mo-webapp/perftest.yaml
  apps/xui/xui-mo-webapp/xui-mo-webapp.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/xui/webapp:prod-3224583-20230216100527
  apps/xui/xui-webapp-hearings-integration/xui-webapp-hearings-integration.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/xui/webapp:prod-3224583-20230216100527 hmctspublic.azurecr.io/xui/webapp:prod-3224583-20230216100527 hmctspublic.azurecr.io/xui/webapp:prod-3224583-20230216100527
  apps/xui/xui-webapp-caa-assigned-case-view/demo.yaml
  apps/xui/xui-webapp-caa-assigned-case-view/xui-webapp-caa-assigned-case-view.yaml
  apps/xui/xui-webapp-integration1/xui-webapp-integration1.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/xui/webapp:prod-3224583-20230216100527
  apps/xui/xui-webapp-ac-integration/xui-webapp-ac-integration.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/xui/mo-webapp:prod-878fa7d-20230216100815
  apps/xui/xui-mo-webapp-integration/xui-mo-webapp-integration.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/xui/webapp:prod-3224583-20230216100527
  apps/xui/xui-webapp-srt/demo.yaml
  apps/xui/xui-webapp-srt/xui-webapp-srt.yaml
Owners: @hmcts/xui

claim-store PR-2689
  apps/money-claims/cmc-claim-store/demo.yaml
Owners: @hmcts/cmc

claim-store PR-2689
  apps/money-claims/cmc-claim-store/demo.yaml
Owners: @hmcts/cmc

Update demo-image-policy.yaml
  apps/money-claims/cmc-claim-store/demo-image-policy.yaml
Owners: @hmcts/cmc

Update demo.yaml
  apps/money-claims/cmc-claim-store/demo.yaml
Owners: @hmcts/cmc

hmctspublic.azurecr.io/probate/back-office:pr-2102-c23a8b8-20230216103100
  apps/probate/probate-cron-hmrc-extract/demo/00.yaml
  apps/probate/probate-cron-hmrc-extract/demo/01.yaml
  apps/probate/probate-cron-make-dormant-cases/demo/01.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/demo/01.yaml
Owners: @hmcts/probate

Update demo-image-policy.yaml
  apps/money-claims/cmc-claim-store/demo-image-policy.yaml
Owners: @hmcts/cmc

hmctspublic.azurecr.io/sptribs/case-api:prod-295d455-20230216103737
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/civil/general-applications:prod-d36cc3a-20230216101845
  apps/civil/civil-general-applications/civil-general-applications.yaml
  apps/civil/civil-general-applications/demo.yaml
Owners: @hmcts/civil-admins

Update aat.yaml
  apps/civil/civil-service/aat.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/cmc/claim-store:prod-81e0f62-20230201160957
  apps/money-claims/cmc-claim-store/demo.yaml
Owners: @hmcts/cmc

hmctspublic.azurecr.io/cmc/claim-store:pr-2689-27734ce-20230216102210
  apps/money-claims/cmc-claim-store/demo.yaml
Owners: @hmcts/cmc

hmctspublic.azurecr.io/pcq/consolidation-service:prod-7fbe86d-20230216104355
  apps/pcq/pcq-consolidation-service/pcq-consolidation-service.yaml
Owners: @hmcts/pcq-admins

hmctspublic.azurecr.io/pcq/loader:prod-4643727-20230216104417
  apps/pcq/pcq-loader/pcq-loader.yaml
Owners: @hmcts/pcq-admins

Update aat.yaml (#21000)
  apps/civil/civil-service/aat.yaml
Owners: @hmcts/civil-admins
