Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

hmctspublic.azurecr.io/bulk-scan/sample-app:prod-6921288-20230224151012
  apps/bsp/bulk-scan-sample-app/bulk-scan-sample-app.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/ia/aip-frontend:prod-a4100e6-20230222151510
  apps/ia/ia-aip-frontend/demo.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/bulk-scan/payment-processor:prod-70eaa25-20230224152739
  apps/bsp/bulk-scan-payment-processor/bulk-scan-payment-processor.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/bulk-scan/processor:prod-9d0769c-20230224152912
  apps/bsp/bulk-scan-processor/bulk-scan-processor.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/cmc/claim-store:prod-0b87363-20230224152240
  apps/money-claims/cmc-claim-store/cmc-claim-store.yaml
  apps/money-claims/cmc-demo/cmc-demo.yaml
Owners: @hmcts/cmc

Add ET case types to AAT xui-mo-app
  apps/xui/xui-mo-webapp/aat.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/bulk-scan/orchestrator:prod-8ad50ce-20230224152900
  apps/bsp/bulk-scan-orchestrator/bulk-scan-orchestrator.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/ccpay/bubble-frontend:pr-755-9ee6465-20230224154224
  apps/fees-pay/ccpay-bubble-frontend-int/demo.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/bulk-scan/payment-processor:prod-0fd4f2d-20230224154203
  apps/bsp/bulk-scan-payment-processor/bulk-scan-payment-processor.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/et/sya-api:pr-242-28e9554-20230224154404
  apps/et/et-sya-api/ithc.yaml
Owners: @hmcts/employment-tribunals

Removing plum batch to resolve ITHC error
  apps/cnp/ithc/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/ccpay/bubble-frontend:pr-730-1984da8-20230224154340
  apps/fees-pay/ccpay-bubble-frontend/demo.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/civil/service:prod-056b4fc-20230224154036
  apps/civil/civil-service/civil-service.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/et/cos:pr-670-41535dc-20230224155145
  apps/et/et-cos/perftest.yaml
Owners: @hmcts/employment-tribunals

DSTPB-2794 update probate cronjob running time
  apps/probate/probate-cron-ccd-data-migration-tool/demo/01.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/bulk-scan/orchestrator:prod-cd50808-20230224154809
  apps/bsp/bulk-scan-orchestrator/bulk-scan-orchestrator.yaml
Owners: @hmcts/bulk-scan

Update demo.yaml
  apps/fees-pay/ccpay-bubble-frontend-int/demo.yaml
Owners: @hmcts/Fees

Update demo.yaml
  apps/fees-pay/ccpay-bubble-frontend/demo.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/reform-scan/blob-router:prod-829d6e6-20230224161658
  apps/reform-scan/reform-scan-blob-router/reform-scan-blob-router.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/em/ccdorc:prod-5829a5e-20230224163232 hmctspublic.azurecr.io/em/ccdorc:prod-5829a5e-20230224163232
  apps/em/em-ccd-orchestrator/demo.yaml
  apps/em/em-ccd-orchestrator/em-ccd-orchestrator.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/civil/service:prod-dcad4ee-20230224163855
  apps/civil/civil-service/civil-service.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/ccpay/refunds-api:pr-333-2b6a0ea-20230224165103
  apps/fees-pay/ccpay-refunds-api-int/demo.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/civil/service:pr-2323-c2bcfe0-20230224172326
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/rpe/send-letter-service:prod-c7a6dc5-20230224170054
  apps/money-claims/cmc-send-letter-service/cmc-send-letter-service.yaml
  apps/rpe/rpe-send-letter-service/rpe-send-letter-service.yaml
Owners: @hmcts/cmc, @hmcts/bulk-print

hmctspublic.azurecr.io/civil/service:prod-63ab503-20230224171909
  apps/civil/civil-service/civil-service.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/et/cos:pr-556-e505675-20230224173020
  apps/et/et-cos/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/pcq/frontend:prod-a998591-20230224175118
  apps/pcq/pcq-frontend-int/pcq-frontend-int.yaml
  apps/pcq/pcq-frontend/pcq-frontend.yaml
Owners: @hmcts/pcq-admins

hmctspublic.azurecr.io/civil/service:prod-4ca5bca-20230224175642
  apps/civil/civil-service/civil-service.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/em/ccdorc:prod-7a010da-20230224204218 hmctspublic.azurecr.io/em/ccdorc:prod-7a010da-20230224204218
  apps/em/em-ccd-orchestrator/demo.yaml
  apps/em/em-ccd-orchestrator/em-ccd-orchestrator.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/dm/store:prod-4ffca1d-20230224204104 hmctspublic.azurecr.io/dm/store:prod-4ffca1d-20230224204104 hmctspublic.azurecr.io/dm/store:prod-4ffca1d-20230224204104
  apps/ccd/ccd-int/ccd-int.yaml
  apps/dm-store/dm-store/demo.yaml
  apps/dm-store/dm-store/dm-store.yaml
  apps/dm-store/dm-store/perftest.yaml
  apps/money-claims/cmc-ccd/demo.yaml
Owners: @hmcts/cdm, @hmcts/evidence, @hmcts/cmc

hmctspublic.azurecr.io/dm/store:prod-4ffca1d-20230224204104
  apps/dm-store/dm-store-cdam/dm-store-cdam.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/anno:prod-be3a8a1-20230224204143
  apps/ccd/ccd-int/ccd-int.yaml
  apps/em/em-anno/em-anno.yaml
Owners: @hmcts/cdm, @hmcts/evidence

hmctspublic.azurecr.io/em/npa:prod-e16644e-20230224204431 hmctspublic.azurecr.io/em/npa:prod-e16644e-20230224204431
  apps/em/em-npa/demo.yaml
  apps/em/em-npa/em-npa.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/hrs-ingestor:prod-91d07bf-20230224204720
  apps/em/em-hrs-ingestor/em-hrs-ingestor.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/stitching:prod-2a2eb70-20230224204635 hmctspublic.azurecr.io/em/stitching:prod-2a2eb70-20230224204635 hmctspublic.azurecr.io/em/stitching:prod-2a2eb70-20230224204635
  apps/em/em-stitching/demo.yaml
  apps/em/em-stitching/em-stitching.yaml
  apps/em/em-stitching/perftest.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/dg/docassembly:prod-b7ab78b-20230224204602
  apps/dg/dg-docassembly/dg-docassembly.yaml
  apps/money-claims/cmc-dg-docassembly/cmc-dg-docassembly.yaml
Owners: @hmcts/dts-dev, @hmcts/evidence, @hmcts/cmc

hmctspublic.azurecr.io/dm/store:prod-0c35050-20230224211408 hmctspublic.azurecr.io/dm/store:prod-0c35050-20230224211408 hmctspublic.azurecr.io/dm/store:prod-0c35050-20230224211408
  apps/ccd/ccd-int/ccd-int.yaml
  apps/dm-store/dm-store/demo.yaml
  apps/dm-store/dm-store/dm-store.yaml
  apps/dm-store/dm-store/perftest.yaml
  apps/money-claims/cmc-ccd/demo.yaml
Owners: @hmcts/cdm, @hmcts/evidence, @hmcts/cmc

hmctspublic.azurecr.io/em/hrs-ingestor:prod-6023cf8-20230224211828
  apps/em/em-hrs-ingestor/em-hrs-ingestor.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/ccdorc:prod-144981e-20230224211520 hmctspublic.azurecr.io/em/ccdorc:prod-144981e-20230224211520
  apps/em/em-ccd-orchestrator/demo.yaml
  apps/em/em-ccd-orchestrator/em-ccd-orchestrator.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/npa:prod-10c0f43-20230224211559 hmctspublic.azurecr.io/em/npa:prod-10c0f43-20230224211559
  apps/em/em-npa/demo.yaml
  apps/em/em-npa/em-npa.yaml
Owners: @hmcts/evidence

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control
