Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/production-apps-approvals, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/ctsc, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/rse, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations

# Restricting access to platops will we cleanup
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations

# AAT applications
## environment rules
k8s/aat/ @hmcts/platform-operations

# Production applications
## environment rules
k8s/prod/ @hmcts/production-apps-approvals

## Platform rules

k8s/common/ @hmcts/platform-operations
k8s/namespaces/ @hmcts/platform-operations
k8s/**/*-overlay/ @hmcts/platform-operations
k8s/prod/*/kube-system/ @hmcts/platform-operations
k8s/**/common/monitoring/ @hmcts/platform-operations
k8s/scripts/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations

### Next team

## application rules

### RPE
k8s/namespaces/rpe/ @hmcts/platform-operations
k8s/namespaces/camunda/ @hmcts/platform-operations
k8s/**/common/rpe/identity.yaml @hmcts/platform-operations
k8s/**/common/**/tests-values.yaml @hmcts/platform-operations

k8s/**/common/neuvector/ @hmcts/platform-operations

k8s/**/common/admin/ @hmcts/platform-operations


### Bulk Print
k8s/**/common/rpe/send-letter-identity.yaml @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

### Next team

##CCD
k8s/namespaces/ccd/ @hmcts/cdm
k8s/demo/common/ccd/*.yaml @hmcts/cdm
k8s/**/common/ccd/identity.yaml @hmcts/cdm
k8s/**/common/ccd/data-store-api.yaml @hmcts/cdm
k8s/**/common/ccd/definition-store-api.yaml @hmcts/cdm
k8s/**/common/ccd/user-profile-api.yaml @hmcts/cdm
k8s/**/common/ccd/api-gateway-web.yaml @hmcts/cdm
k8s/**/common/ccd/case-print-service.yaml @hmcts/cdm
k8s/**/common/ccd/admin-web.yaml @hmcts/cdm
k8s/aat/common/ccd/test-stubs-service.yaml @hmcts/cdm
k8s/**/common/ccd/case-activity-api.yaml @hmcts/cdm
k8s/**/common/ccd/case-management-web.yaml @hmcts/cdm

##AAC - CDM
k8s/namespaces/aac/ @hmcts/cdm
k8s/**/common/aac/identity.yaml @hmcts/cdm

##HMC - CDM
k8s/namespaces/hmc/ @hmcts/cdm
k8s/**/common/hmc/identity.yaml @hmcts/cdm

##CPO - CDM
k8s/namespaces/cpo/ @hmcts/cdm
k8s/**/common/cpo/identity.yaml @hmcts/cdm

##CMC
k8s/namespaces/money-claims/ @hmcts/cmc
k8s/**/common/money-claims/identity.yaml @hmcts/cmc
k8s/**/common/money-claims/claim-store.yaml @hmcts/cmc
k8s/**/common/money-claims/cmc-citizen-frontend.yaml @hmcts/cmc
k8s/**/common/money-claims/cmc-legal-frontend.yaml @hmcts/cmc

## I&A
k8s/namespaces/ia/ @hmcts/immigration-asylum
k8s/**/common/ia/identity.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-documents-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-notifications-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/aip-frontend.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/home-office-integration-api.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/home-office-mock-api.yaml @hmcts/immigration-asylum
k8s/ithc/common/ia/home-office-integration-api.yaml @hmcts/immigration-asylum
k8s/ithc/common/ia/home-office-mock-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/timed-event-service.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/case-payments-api.yaml @hmcts/immigration-asylum
k8s/demo/common/ia/case-payments-api.yaml @hmcts/immigration-asylum

## Divorce
k8s/namespaces/divorce/ @hmcts/divorce
k8s/demo/common/divorce/*.yaml @hmcts/divorce
k8s/**/common/divorce/identity.yaml @hmcts/divorce
k8s/**/common/divorce/div-emca.yaml @hmcts/divorce
k8s/**/common/divorce/div-cms.yaml @hmcts/divorce
k8s/**/common/divorce/div-dgs.yaml @hmcts/divorce
k8s/**/common/divorce/div-cos.yaml @hmcts/divorce
k8s/**/common/divorce/div-fps.yaml @hmcts/divorce
k8s/**/common/divorce/div-da.yaml @hmcts/divorce
k8s/**/common/divorce/div-dn.yaml @hmcts/divorce
k8s/**/common/divorce/div-rfe.yaml @hmcts/divorce
k8s/**/common/divorce/div-pfe.yaml @hmcts/divorce
k8s/**/common/divorce/div-cfs.yaml @hmcts/divorce


## Financial Remedy
k8s/namespaces/financial-remedy/ @hmcts/financial-remedy
k8s/**/common/financial-remedy/identity.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-ns.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-emca.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-cos.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-ps.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-dgcs.yaml @hmcts/financial-remedy

## Document Generation
k8s/namespaces/dg/ @hmcts/dts-dev
k8s/**/common/dg/identity.yaml @hmcts/dts-dev

## Document Management
k8s/namespaces/dm-store/ @hmcts/evidence
k8s/**/common/dm-store/identity.yaml @hmcts/evidence

## Evidence Management
k8s/namespaces/em/ @hmcts/evidence
k8s/**/common/em/identity.yaml @hmcts/evidence
k8s/aat/common/em/em-showcase.yaml @hmcts/evidence
k8s/**/common/em/em-icp.yaml @hmcts/evidence
k8s/**/cluster-*/em/em-icp.yaml @hmcts/evidence

## Probate
k8s/namespaces/probate/ @hmcts/probate
k8s/**/common/probate/identity.yaml @hmcts/probate
k8s/**/common/probate/business-service.yaml @hmcts/probate
k8s/**/common/probate/orchestrator-service.yaml @hmcts/probate
k8s/**/common/probate/submit-service.yaml @hmcts/probate
k8s/**/common/probate/probate-caveats-fe.yaml @hmcts/probate
k8s/**/common/probate/probate-frontend.yaml @hmcts/probate
k8s/**/common/probate/probate-back-office.yaml @hmcts/probate

## Reference Data
k8s/namespaces/rd/ @hmcts/ref-data
k8s/**/common/rd/identity.yaml @hmcts/ref-data
k8s/**/common/rd/professional-api.yaml @hmcts/ref-data
k8s/**/common/rd/profile-sync.yaml @hmcts/ref-data
k8s/**/cluster-00/rd/judicial-data-load.yaml @hmcts/ref-data @hmcts/ref-data
k8s/**/cluster-01/rd/judicial-data-load.yaml @hmcts/ref-data @hmcts/ref-data

## SSCS
k8s/namespaces/sscs/ @hmcts/sscs
k8s/**/common/sscs/identity.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tribunals-api.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-evidence-share.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tya-notif.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-bulk-scan.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-ccd-callback-orchestrator.yaml @hmcts/sscs
k8s/**/cluster-*/sscs/sscs-case-loader.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tribunals-frontend.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-cor-frontend.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-track-appeal-redirect-ingress.yaml @hmcts/sscs

## FPLA
k8s/namespaces/family-public-law/ @hmcts/fpl-admins
k8s/**/common/family-public-law/identity.yaml @hmcts/fpl-admins
k8s/**/common/family-public-law/fpl-case-service.yaml @hmcts/fpl-admins

### Adoption
k8s/namespaces/adoption/ @hmcts/fpl-admins
k8s/aat/common/adoption/identity.yaml @hmcts/fpl-admins
k8s/aat/common/adoption/adoption-frontend.yaml @hmcts/fpl-admins
k8s/aat/common/adoption/adoption-backend.yaml @hmcts/fpl-admins

## CTSC
k8s/namespaces/ctsc/ @hmcts/ctsc
k8s/**/common/ctsc/identity.yaml @hmcts/ctsc
k8s/**/common/ctsc/work-allocation.yaml @hmcts/ctsc

## cc-pay
k8s/namespaces/fees-pay/ @hmcts/Fees
k8s/**/common/fees-pay/identity.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-bulkscanning-app.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-payment-app.yaml @hmcts/Fees
k8s/**/common/fees-pay/fees-register-api.yaml @hmcts/Fees
k8s/**/common/fees-pay/fees-register-frontend.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-bubble-frontend.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-callback-function.yaml @hmcts/Fees

k8s/**/cluster-*/fees-pay/bar-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/card-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/finrem-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/pba-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/status-payment-job.yaml @hmcts/Fees

## bar
k8s/namespaces/bar/ @hmcts/Fees
k8s/**/common/bar/bar-app.yaml @hmcts/Fees
k8s/**/common/bar/bar-web.yaml @hmcts/Fees
k8s/**/common/bar/identity.yaml @hmcts/Fees

# IDAM
k8s/namespaces/idam/ @hmcts/idam
k8s/**/common/idam/idam-api.yaml @hmcts/idam
k8s/**/common/idam/idam-web-public.yaml @hmcts/idam
k8s/**/common/idam/idam-web-admin.yaml @hmcts/idam
k8s/**/common/idam/identity.yaml @hmcts/idam

## AM
k8s/namespaces/am/ @hmcts/am-devs
k8s/**/common/am/identity.yaml @hmcts/am-devs
k8s/aat/common/am/accessmgmt-api.yaml @hmcts/am-devs
k8s/perftest/common/am/accessmgmt-api.yaml @hmcts/am-devs
k8s/aat/common/am/am-role-assignment-service.yaml @hmcts/am-devs
k8s/aat/common/am/am-judicial-booking-service.yaml @hmcts/am-devs
k8s/aat/cluster-**/am/role-assignment-batch.yaml @hmcts/am-devs
k8s/aat/cluster-**/am/judicial-booking-batch-service.yaml @hmcts/am-devs
k8s/demo/common/am/am-role-assignment-service.yaml @hmcts/am-devs
k8s/perftest/common/am/am-role-assignment-service.yaml @hmcts/am-devs

## Ethos
k8s/namespaces/ethos/ @hmcts/ethos
k8s/**/common/ethos/identity.yaml @hmcts/ethos
k8s/**/common/ethos/repl-docmosis-service.yaml @hmcts/ethos
k8s/**/common/ethos/ecm-consumer.yaml @hmcts/ethos

### Bulk scan
k8s/namespaces/bsp/ @hmcts/bulk-scan
k8s/**/common/bsp/identity.yaml @hmcts/bulk-scan
k8s/aat/common/bsp/bulk-scan-sample-app.yaml @hmcts/bulk-scan
k8s/demo/common/bsp/bsp-demo.yaml @hmcts/bulk-scan
k8s/demo/common/bsp/bulk-scan-sample-app.yaml @hmcts/bulk-scan

### BSP but separate namespace and identity
k8s/namespaces/reform-scan/ @hmcts/bulk-scan
k8s/**/common/reform-scan/identity.yaml @hmcts/bulk-scan

### XUI
k8s/namespaces/xui/ @hmcts/xui
k8s/**/common/xui/identity.yaml @hmcts/xui
k8s/**/common/xui/xui-tc.yaml @hmcts/xui
k8s/**/common/xui/webapp.yaml @hmcts/xui
k8s/**/common/xui/manage-organisations.yaml @hmcts/xui
k8s/**/common/xui/approve-org.yaml @hmcts/xui
k8s/aat/common/xui/share-case.yaml @hmcts/xui
k8s/**/common/xui/register-org-ingress.yaml @hmcts/xui
k8s/perftest/common/xui/share-case.yaml @hmcts/xui

### PCQ
k8s/namespaces/pcq/ @hmcts/pcq-admins
k8s/**/common/pcq/identity.yaml @hmcts/pcq-admins
k8s/**/common/pcq/pcq-frontend.yaml @hmcts/pcq-admins
k8s/**/common/pcq/pcq-backend.yaml @hmcts/pcq-admins
k8s/**/cluster-*/pcq/pcq-consolidation-service.yaml @hmcts/pcq-admins
k8s/aat/cluster-*/pcq/pcq-loader.yaml @hmcts/pcq-admins
k8s/demo/cluster-*/pcq/pcq-loader.yaml @hmcts/pcq-admins

### RSE
k8s/namespaces/rse/ @hmcts/rse
k8s/aat/common/rse/check.yaml @hmcts/rse

### Civil
k8s/namespaces/civil/ @hmcts/civil-admins
k8s/aat/common/civil/identity.yaml @hmcts/civil-admins
k8s/demo/common/civil/identity.yaml @hmcts/civil-admins

### WORK ALLOCATION
k8s/namespaces/wa/ @hmcts/work-allocation
k8s/**/common/wa/identity.yaml @hmcts/work-allocation

### FACT
k8s/namespaces/fact/ @hmcts/fact
k8s/**/common/fact/identity.yaml @hmcts/fact

### NO FAULT DIVORCE
k8s/namespaces/nfdiv/ @hmcts/no-fault-divorce
k8s/**/common/nfdiv/identity.yaml @hmcts/no-fault-divorce

### Kustomization control

k8s/namespaces/**/kustomization.yaml @hmcts/platform-operations

hmctspublic.azurecr.io/sscs/bulk-scan:prod-edeeeb4-20210816105124
  k8s/demo/common/sscs/sscs-bulk-scan.yaml
Owners: @hmcts/sscs

Auto-release hmctspublic.azurecr.io/sscs/bulk-scan:pr-1022-96237b0-20210813115410
  k8s/demo/common/sscs/sscs-bulk-scan.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  7a/a36214406b6ca8681c7f99a66e63ade9a4d45b
Owners: none

hmctspublic.azurecr.io/sscs/bulk-scan:prod-edeeeb4-20210816105124
  k8s/demo/common/sscs/sscs-bulk-scan.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/sscs/tribunals-frontend:prod-ff70ec7-20210816114652
  k8s/aat/common/sscs/sscs-tribunals-frontend.yaml
  k8s/demo/common/sscs/sscs-tribunals-frontend.yaml
  k8s/ithc/common/sscs/sscs-tribunals-frontend.yaml
  k8s/perftest/common/sscs/sscs-tribunals-frontend.yaml
  k8s/prod/common/sscs/sscs-tribunals-frontend.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  94/0b/80cfb09c334761156196f8d52eda15d2fd6d
Owners: none

Notes added by 'git notes add'
  25/b8d6d6cfd6838268cde7d7fbc8853f6883b09f
Owners: none

Notes added by 'git notes add'
  13/7bb704d6942f56c470d4a6bbf8e8e7e8c844d2
Owners: none

Notes added by 'git notes add'
  35/7a/03bc16c04727b9d7b7a89bae36e7efcfc718
Owners: none

Notes added by 'git notes add'
  f8/668ccd3d7959e10a63fb1f009f9e7c9426874f
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/bulk-scan:pr-1022-7096235-20210816122203
  k8s/demo/common/sscs/sscs-bulk-scan.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/sscs/bulk-scan:prod-edeeeb4-20210816105124
  k8s/demo/common/sscs/sscs-bulk-scan.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  70/4d93e858631acf2e39a4e9b043ab468b3425d9
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/bulk-scan:pr-1022-7096235-20210816122203
  k8s/demo/common/sscs/sscs-bulk-scan.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/sscs/bulk-scan:prod-edeeeb4-20210816105124
  k8s/demo/common/sscs/sscs-bulk-scan.yaml
Owners: @hmcts/sscs

Auto-release hmctspublic.azurecr.io/sscs/bulk-scan:pr-1022-7096235-20210816122203
  k8s/demo/common/sscs/sscs-bulk-scan.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  44/65383809f255e40236769fae4836eb021a17bb
Owners: none

fix typo
  k8s/namespaces/nfdiv/nfdiv-case-api/nfdiv-case-api.yaml
Owners: @hmcts/no-fault-divorce

once a day (#11047)
  k8s/namespaces/wa/wa-task-batch-configuration/aat-00.yaml
Owners: @hmcts/work-allocation

Notes added by 'git notes add'
  a3/29/a6437b7a75d3ccfcdbe0fc9e50e74ad1c665
Owners: none

hmctspublic.azurecr.io/sscs/bulk-scan:prod-edeeeb4-20210816105124
  k8s/demo/common/sscs/sscs-bulk-scan.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  c5/dde40d5d67a7ae58110021ec16440e107b005b
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/case-loader:prod-8e1678c-20210816111830
  k8s/prod/cluster-00/sscs/sscs-case-loader.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  20/2bd04f03fca054ebc0f66cc3d1ba11d2488536
Owners: none

hmctspublic.azurecr.io/sscs/case-loader:prod-18230f3-20210811111538
  k8s/prod/cluster-00/sscs/sscs-case-loader.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  f3/39be18a55ca8006c020fed8545527d1b7b5878
Owners: none

Notes added by 'git notes add'
  e4/f8/23c469647189d56ca82dda49a1a306374a20
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/case-loader:prod-8e1678c-20210816111830
  k8s/prod/cluster-01/sscs/sscs-case-loader.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  81/0cfc868e54c97d59b4ae919e331d90f3a7c4ea
Owners: none

hmctspublic.azurecr.io/sscs/case-loader:prod-18230f3-20210811111538
  k8s/prod/cluster-01/sscs/sscs-case-loader.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/sscs/case-loader:prod-8e1678c-20210816111830
  k8s/aat/cluster-00/sscs/sscs-case-loader.yaml
  k8s/aat/cluster-01/sscs/sscs-case-loader.yaml
  k8s/prod/cluster-00/sscs/sscs-case-loader.yaml
  k8s/prod/cluster-01/sscs/sscs-case-loader.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  5d/87014906d9ea6958fe8a84b130988247d11645
Owners: none

Auto-release multiple (2) images
  k8s/demo/common/fees-pay/ccpay-bubble-frontend.yaml
  k8s/demo/common/sscs/sscs-bulk-scan.yaml
Owners: @hmcts/Fees, @hmcts/sscs

hmctspublic.azurecr.io/sscs/bulk-scan:prod-edeeeb4-20210816105124
  k8s/demo/common/sscs/sscs-bulk-scan.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  ce/5418c715a63f19a5580493917aa7d29323ce8b
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/bulk-scan:pr-1022-7096235-20210816122203
  k8s/demo/common/sscs/sscs-bulk-scan.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  97/d7/f5e96d167ff67e97abd2a5a0b1ccddf1d988
Owners: none

Notes added by 'git notes add'
  c8/8978198a875fba700ada2bce092b1749abb7ea
Owners: none

Notes added by 'git notes add'
  87/0deb150b6c29ff3104054eafaf8d47c0b319a7
Owners: none

Auto-release multiple (2) images
  k8s/demo/common/fees-pay/fees-register-frontend.yaml
  k8s/demo/common/sscs/sscs-ccd-callback-orchestrator.yaml
Owners: @hmcts/Fees, @hmcts/sscs
