Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

hmctspublic.azurecr.io/civil/general-applications:pr-880-a06f80c-20230223123958
  apps/civil/civil-general-applications/demo.yaml
Owners: @hmcts/civil-admins

DSTPB-2794 add Probate data Migration tool prod config
  apps/probate/probate-cron-ccd-data-migration-tool/prod/00.yaml
  apps/probate/probate-cron-ccd-data-migration-tool/prod/01.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/fis/ds-update-web:prod-0098855-20230223125228
  apps/fis/fis-ds-update-web/fis-ds-update-web.yaml
Owners: @hmcts/family-integration

hmctsprivate.azurecr.io/docmosis:ithc-6f807d3-342709
  apps/docmosis/docmosis/ithc.yaml
Owners: @hmcts/platform-operations

Updated DEMO with naba changes
  apps/ia/ia-case-api/demo-image-policy.yaml
  apps/ia/ia-case-documents-api/demo-image-policy.yaml
  apps/ia/ia-case-notifications-api/demo-image-policy.yaml
  apps/ia/ia-case-payments-api/demo-image-policy.yaml
  apps/ia/ia-home-office-integration-api/demo-image-policy.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/probate/frontend:prod-d050840-20230223125705
  apps/probate/probate-frontend/demo.yaml
  apps/probate/probate-frontend/probate-frontend.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/sscs/bulk-scan:prod-ef4290f-20230223130923
  apps/sscs/sscs-bulk-scan/demo.yaml
  apps/sscs/sscs-bulk-scan/sscs-bulk-scan.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/civil/service:prod-2892a2c-20230223130417
  apps/civil/civil-service/civil-service.yaml
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

Revert "Revert "DTSPO-10292 azure_csi_driver""
  apps/admin/ithc/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/am/role-assignment-service:prod-16177eb-20230223131548
  apps/am/am-role-assignment-service/am-role-assignment-service.yaml
  apps/ccd/ccd-int/ccd-int.yaml
Owners: @hmcts/am-devs, @hmcts/cdm

hmctspublic.azurecr.io/bulk-scan/sample-app:prod-5e6e369-20230223132216
  apps/bsp/bulk-scan-sample-app/bulk-scan-sample-app.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/reform-scan/notification-service:prod-55db284-20230223132141
  apps/reform-scan/reform-scan-notification-service/reform-scan-notification-service.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/xui/webapp:pr-2802-9811250-20230223130524
  apps/xui/xui-webapp-wa-integration/demo.yaml
Owners: @hmcts/xui

DTSPO-10292
  apps/admin/ithc/base/kustomization.yaml
  apps/admin/sbox/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/bulk-scan/payment-processor:prod-7d66c92-20230223132400
  apps/bsp/bulk-scan-payment-processor/bulk-scan-payment-processor.yaml
Owners: @hmcts/bulk-scan

remove unuse variable
  apps/probate/probate-back-office/demo.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/probate/orchestrator-service:prod-5d120bb-20230223134744
  apps/probate/probate-orchestrator-service/demo.yaml
  apps/probate/probate-orchestrator-service/probate-orchestrator-service.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/bulk-scan/processor:prod-f4e7d2b-20230223134703
  apps/bsp/bulk-scan-processor/bulk-scan-processor.yaml
Owners: @hmcts/bulk-scan

DSTPB-2794 add Probate data Migration tool prod config
  apps/probate/prod/00/kustomization.yaml
  apps/probate/prod/01/kustomization.yaml
  apps/probate/prod/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/fact/admin:prod-36e610b-20230223110451
  apps/fact/fact-admin/demo.yaml
  apps/fact/fact-admin/fact-admin.yaml
Owners: @hmcts/fact

tribunals pr 3137 deployment to demo
  apps/sscs/sscs-tribunals-api/demo-image-policy.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/rpe/pdf-service:prod-138874b-20230223140129
  apps/money-claims/cmc-pdf-service/demo.yaml
  apps/rpe/pdf-service/pdf-service.yaml
Owners: @hmcts/cmc, @hmcts/platform-operations

hmctspublic.azurecr.io/probate/orchestrator-service:prod-3a2276c-20230223140731
  apps/probate/probate-orchestrator-service/demo.yaml
  apps/probate/probate-orchestrator-service/probate-orchestrator-service.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/sscs/tribunals-api:pr-3137-10b9248-20230220141701
  apps/sscs/sscs-tribunals-api/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/ia/case-notifications-api:pr-724-2f37e91-20230222120801 hmctspublic.azurecr.io/ia/case-api:pr-1273-56ffd3b-20230223113756
  apps/ia/ia-case-api/demo.yaml
  apps/ia/ia-case-notifications-api/demo.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/ccpay/bubble-frontend:prod-12a7dc8-20230223133544
  apps/fees-pay/ccpay-bubble-frontend-int/ccpay-bubble-frontend-int.yaml
  apps/fees-pay/ccpay-bubble-frontend/ccpay-bubble-frontend.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/sscs/tya-notif:pr-2242-1ab97c5-20230223141308
  apps/sscs/sscs-tya-notif/demo.yaml
Owners: @hmcts/sscs

update secret
  apps/civil/preview/secrets/civil-work-allocation-secret.enc.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/dtsse/dashboard-ingestion:prod-e702620-20230223141927
  apps/dtsse/dtsse-dashboard-ingestion/dtsse-dashboard-ingestion.yaml
Owners: @hmcts/rse

hmctspublic.azurecr.io/sscs/tya-notif:pr-2242-9c36278-20230223141647
  apps/sscs/sscs-tya-notif/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/ia/case-payments-api:pr-259-b316ee8-20230223142104
  apps/ia/ia-case-payments-api/ithc.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/ia/case-documents-api:pr-520-70cbfa8-20230223142100
  apps/ia/ia-case-documents-api/ithc.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/ia/case-api:pr-1273-1319c1b-20230223142046 hmctspublic.azurecr.io/ia/case-api:pr-1273-1319c1b-20230223142046
  apps/ia/ia-case-api/demo.yaml
  apps/ia/ia-case-api/ithc.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/ia/case-notifications-api:pr-724-753778f-20230223142055 hmctspublic.azurecr.io/ia/case-notifications-api:pr-724-753778f-20230223142055
  apps/ia/ia-case-notifications-api/demo.yaml
  apps/ia/ia-case-notifications-api/ithc.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/am/org-role-mapping-service:prod-4da185f-20230223141440
  apps/am/am-org-role-mapping-service/am-org-role-mapping-service.yaml
Owners: @hmcts/am-devs

point demo to PR for test EUI-7344
  apps/probate/probate-back-office/demo-image-policy.yaml
  apps/probate/probate-back-office/demo.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/civil/service:prod-a2ba9f5-20230223141520
  apps/civil/civil-service/civil-service.yaml
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

added files in hmc-judicial-payment-service directory
  apps/hmc/hmc-judicial-payment-service/demo-int-image-policy.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/probate/back-office:pr-2102-d31f46e-20230223134653
  apps/probate/probate-back-office/demo.yaml
  apps/probate/probate-cron-hmrc-extract/demo/00.yaml
  apps/probate/probate-cron-hmrc-extract/demo/01.yaml
  apps/probate/probate-cron-make-dormant-cases/demo/01.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/demo/01.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/probate/orchestrator-service:prod-44e0b0b-20230223143201
  apps/probate/probate-orchestrator-service/demo.yaml
  apps/probate/probate-orchestrator-service/probate-orchestrator-service.yaml
Owners: @hmcts/probate

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control
