Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/production-apps-approvals, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/ctsc, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/rse, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce

hmctspublic.azurecr.io/sscs/tya-notif:prod-81ee79d-20210818124149
  k8s/aat/common/sscs/sscs-tya-notif.yaml
  k8s/prod/common/sscs/sscs-tya-notif.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  5d/62/18f47811c7087914756ca25443c49940c30b
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/tya-notif:prod-5bd5feb-20210818121633
  k8s/prod/common/sscs/sscs-tya-notif.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  42/8c491beb2c87b6f4c83e08ed54facb8572b881
Owners: none

Notes added by 'git notes add'
  42/8c491beb2c87b6f4c83e08ed54facb8572b881
Owners: none

Notes added by 'git notes add'
  b7/fd/d72f863ff59c93975abc6162d5def2c696d7
Owners: none

hmctspublic.azurecr.io/sscs/tya-notif:prod-81ee79d-20210818124149
  k8s/prod/common/sscs/sscs-tya-notif.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  00/be/e996074f76e69d2fdd614e5e633cae2b15df
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/tya-notif:prod-5bd5feb-20210818121633
  k8s/prod/common/sscs/sscs-tya-notif.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  27/ce/00cb2af3a34ea3c563920dc91020fe736988
Owners: none

hmctspublic.azurecr.io/sscs/tya-notif:prod-81ee79d-20210818124149
  k8s/prod/common/sscs/sscs-tya-notif.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  7f/a0/e9f30fab5a3ad3b84228e917a2770fd99ad8
Owners: none

Auto-release multiple (2) images
  k8s/aat/common/sscs/sscs-tya-notif.yaml
  k8s/namespaces/bsp/bulk-scan-processor/bulk-scan-processor.yaml
Owners: @hmcts/sscs, @hmcts/bulk-scan

Notes added by 'git notes add'
  80/98/7e434fe29ef7e8194ef2960e49451816ee72
Owners: none

Notes added by 'git notes add'
  d0/6c4dc828d56cb38816b73f482c3f799dcf2588
Owners: none

Notes added by 'git notes add'
  26/e7a41c858c838b255d7386fcaa34ca3d4c369d
Owners: none

hmctspublic.azurecr.io/sscs/tya-notif:prod-81ee79d-20210818124149
  k8s/aat/common/sscs/sscs-tya-notif.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  0e/7719e9f316fe3652c12e20c65476983e1242ff
Owners: none

Notes added by 'git notes add'
  5c/e9/c4084bcd30d5877bf9b852bd1767815edfe9
Owners: none

Notes added by 'git notes add'
  43/1c0e9fa1f6f28c0c381e8523170c2664dcec13
Owners: none

Notes added by 'git notes add'
  32/05/27e717e023b1998bf43ce269ea09d5012559
Owners: none

Notes added by 'git notes add'
  57/651ff077203bf58c82a6ebc690b28354bbe2be
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/tya-notif:prod-5bd5feb-20210818121633
  k8s/ithc/common/sscs/sscs-tya-notif.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  02/ae96f9bef14bdd0450fda2be108b69eafa741e
Owners: none

hmctspublic.azurecr.io/sscs/tya-notif:prod-81ee79d-20210818124149
  k8s/ithc/common/sscs/sscs-tya-notif.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  d9/2db9221792bda5ea5f424b63ea5dcc70b64148
Owners: none

Auto-release multiple (2) images
  k8s/namespaces/bsp/bulk-scan-processor/bulk-scan-processor.yaml
  k8s/prod/common/sscs/sscs-tya-notif.yaml
Owners: @hmcts/bulk-scan, @hmcts/sscs

Notes added by 'git notes add'
  0f/0568a443cb4a2d5135e6d0605ffba1fa074391
Owners: none

hmctspublic.azurecr.io/sscs/tya-notif:prod-81ee79d-20210818124149
  k8s/prod/common/sscs/sscs-tya-notif.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  bc/8c6f41995414ba3101808af19ce2e094b6cc93
Owners: none

Notes added by 'git notes add'
  60/61/7bca1688fb585a0d118a55e43f1b28a867b7
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/tya-notif:prod-5bd5feb-20210818121633
  k8s/ithc/common/sscs/sscs-tya-notif.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  90/51c33d5b4bb943b3fa2b61ae995ea42b2e57b7
Owners: none

Notes added by 'git notes add'
  cd/b97eaa742d83170664eee8c837a4bed2c92f04
Owners: none

Auto-release multiple (2) images
  k8s/aat/common/sscs/sscs-tya-notif.yaml
  k8s/namespaces/bsp/bulk-scan-processor/bulk-scan-processor.yaml
Owners: @hmcts/sscs, @hmcts/bulk-scan

Notes added by 'git notes add'
  83/5d/ff6d0d1c2539fce8e1caf592fe346f72aad5
Owners: none

hmctspublic.azurecr.io/sscs/tya-notif:prod-81ee79d-20210818124149
  k8s/aat/common/sscs/sscs-tya-notif.yaml
  k8s/ithc/common/sscs/sscs-tya-notif.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  b2/81/00a24223443f43de4f7e44734793c48d55d7
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/tya-notif:prod-5bd5feb-20210818121633
  k8s/prod/common/sscs/sscs-tya-notif.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  84/3cb8c2ae4ede4aa7cf09c10d9f5db5215bdcc4
Owners: none

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations

# Restricting access to platops will we cleanup
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations

# AAT applications
## environment rules
k8s/aat/ @hmcts/platform-operations

# Production applications
## environment rules
k8s/prod/ @hmcts/production-apps-approvals

## Platform rules

k8s/common/ @hmcts/platform-operations
k8s/namespaces/ @hmcts/platform-operations
k8s/**/*-overlay/ @hmcts/platform-operations
k8s/prod/*/kube-system/ @hmcts/platform-operations
k8s/**/common/monitoring/ @hmcts/platform-operations
k8s/scripts/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations

### Next team

## application rules

### RPE
k8s/namespaces/rpe/ @hmcts/platform-operations
k8s/namespaces/camunda/ @hmcts/platform-operations
k8s/**/common/rpe/identity.yaml @hmcts/platform-operations
k8s/**/common/**/tests-values.yaml @hmcts/platform-operations

k8s/**/common/neuvector/ @hmcts/platform-operations

k8s/**/common/admin/ @hmcts/platform-operations


### Bulk Print
k8s/**/common/rpe/send-letter-identity.yaml @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

### Next team

##CCD
k8s/namespaces/ccd/ @hmcts/cdm
k8s/demo/common/ccd/*.yaml @hmcts/cdm
k8s/**/common/ccd/identity.yaml @hmcts/cdm
k8s/**/common/ccd/data-store-api.yaml @hmcts/cdm
k8s/**/common/ccd/definition-store-api.yaml @hmcts/cdm
k8s/**/common/ccd/user-profile-api.yaml @hmcts/cdm
k8s/**/common/ccd/api-gateway-web.yaml @hmcts/cdm
k8s/**/common/ccd/case-print-service.yaml @hmcts/cdm
k8s/**/common/ccd/admin-web.yaml @hmcts/cdm
k8s/aat/common/ccd/test-stubs-service.yaml @hmcts/cdm
k8s/**/common/ccd/case-activity-api.yaml @hmcts/cdm
k8s/**/common/ccd/case-management-web.yaml @hmcts/cdm

##AAC - CDM
k8s/namespaces/aac/ @hmcts/cdm
k8s/**/common/aac/identity.yaml @hmcts/cdm

##HMC - CDM
k8s/namespaces/hmc/ @hmcts/cdm
k8s/**/common/hmc/identity.yaml @hmcts/cdm

##CPO - CDM
k8s/namespaces/cpo/ @hmcts/cdm
k8s/**/common/cpo/identity.yaml @hmcts/cdm

##CMC
k8s/namespaces/money-claims/ @hmcts/cmc
k8s/**/common/money-claims/identity.yaml @hmcts/cmc
k8s/**/common/money-claims/claim-store.yaml @hmcts/cmc
k8s/**/common/money-claims/cmc-citizen-frontend.yaml @hmcts/cmc
k8s/**/common/money-claims/cmc-legal-frontend.yaml @hmcts/cmc

## I&A
k8s/namespaces/ia/ @hmcts/immigration-asylum
k8s/**/common/ia/identity.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-documents-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-notifications-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/aip-frontend.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/home-office-integration-api.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/home-office-mock-api.yaml @hmcts/immigration-asylum
k8s/ithc/common/ia/home-office-integration-api.yaml @hmcts/immigration-asylum
k8s/ithc/common/ia/home-office-mock-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/timed-event-service.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/case-payments-api.yaml @hmcts/immigration-asylum
k8s/demo/common/ia/case-payments-api.yaml @hmcts/immigration-asylum

## Divorce
k8s/namespaces/divorce/ @hmcts/divorce
k8s/demo/common/divorce/*.yaml @hmcts/divorce
k8s/**/common/divorce/identity.yaml @hmcts/divorce
k8s/**/common/divorce/div-emca.yaml @hmcts/divorce
k8s/**/common/divorce/div-cms.yaml @hmcts/divorce
k8s/**/common/divorce/div-dgs.yaml @hmcts/divorce
k8s/**/common/divorce/div-cos.yaml @hmcts/divorce
k8s/**/common/divorce/div-fps.yaml @hmcts/divorce
k8s/**/common/divorce/div-da.yaml @hmcts/divorce
k8s/**/common/divorce/div-dn.yaml @hmcts/divorce
k8s/**/common/divorce/div-rfe.yaml @hmcts/divorce
k8s/**/common/divorce/div-pfe.yaml @hmcts/divorce
k8s/**/common/divorce/div-cfs.yaml @hmcts/divorce


## Financial Remedy
k8s/namespaces/financial-remedy/ @hmcts/financial-remedy
k8s/**/common/financial-remedy/identity.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-ns.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-emca.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-cos.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-ps.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-dgcs.yaml @hmcts/financial-remedy

## Document Generation
k8s/namespaces/dg/ @hmcts/dts-dev
k8s/**/common/dg/identity.yaml @hmcts/dts-dev

## Document Management
k8s/namespaces/dm-store/ @hmcts/evidence
k8s/**/common/dm-store/identity.yaml @hmcts/evidence

## Evidence Management
k8s/namespaces/em/ @hmcts/evidence
k8s/**/common/em/identity.yaml @hmcts/evidence
k8s/aat/common/em/em-showcase.yaml @hmcts/evidence
k8s/**/common/em/em-icp.yaml @hmcts/evidence
k8s/**/cluster-*/em/em-icp.yaml @hmcts/evidence

## Probate
k8s/namespaces/probate/ @hmcts/probate
k8s/**/common/probate/identity.yaml @hmcts/probate
k8s/**/common/probate/business-service.yaml @hmcts/probate
k8s/**/common/probate/orchestrator-service.yaml @hmcts/probate
k8s/**/common/probate/submit-service.yaml @hmcts/probate
k8s/**/common/probate/probate-caveats-fe.yaml @hmcts/probate
k8s/**/common/probate/probate-frontend.yaml @hmcts/probate
k8s/**/common/probate/probate-back-office.yaml @hmcts/probate

## Reference Data
k8s/namespaces/rd/ @hmcts/ref-data
k8s/**/common/rd/identity.yaml @hmcts/ref-data
k8s/**/common/rd/professional-api.yaml @hmcts/ref-data
k8s/**/common/rd/profile-sync.yaml @hmcts/ref-data
k8s/**/cluster-00/rd/judicial-data-load.yaml @hmcts/ref-data @hmcts/ref-data
k8s/**/cluster-01/rd/judicial-data-load.yaml @hmcts/ref-data @hmcts/ref-data

## SSCS
k8s/namespaces/sscs/ @hmcts/sscs
k8s/**/common/sscs/identity.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tribunals-api.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-evidence-share.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tya-notif.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-bulk-scan.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-ccd-callback-orchestrator.yaml @hmcts/sscs
k8s/**/cluster-*/sscs/sscs-case-loader.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tribunals-frontend.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-cor-frontend.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-track-appeal-redirect-ingress.yaml @hmcts/sscs

## FPLA
k8s/namespaces/family-public-law/ @hmcts/fpl-admins
k8s/**/common/family-public-law/identity.yaml @hmcts/fpl-admins
k8s/**/common/family-public-law/fpl-case-service.yaml @hmcts/fpl-admins

### Adoption
k8s/namespaces/adoption/ @hmcts/fpl-admins
k8s/aat/common/adoption/identity.yaml @hmcts/fpl-admins
k8s/aat/common/adoption/adoption-frontend.yaml @hmcts/fpl-admins
k8s/aat/common/adoption/adoption-backend.yaml @hmcts/fpl-admins

## CTSC
k8s/namespaces/ctsc/ @hmcts/ctsc
k8s/**/common/ctsc/identity.yaml @hmcts/ctsc
k8s/**/common/ctsc/work-allocation.yaml @hmcts/ctsc

## cc-pay
k8s/namespaces/fees-pay/ @hmcts/Fees
k8s/**/common/fees-pay/identity.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-bulkscanning-app.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-payment-app.yaml @hmcts/Fees
k8s/**/common/fees-pay/fees-register-api.yaml @hmcts/Fees
k8s/**/common/fees-pay/fees-register-frontend.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-bubble-frontend.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-callback-function.yaml @hmcts/Fees

k8s/**/cluster-*/fees-pay/bar-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/card-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/finrem-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/pba-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/status-payment-job.yaml @hmcts/Fees

## bar
k8s/namespaces/bar/ @hmcts/Fees
k8s/**/common/bar/bar-app.yaml @hmcts/Fees
k8s/**/common/bar/bar-web.yaml @hmcts/Fees
k8s/**/common/bar/identity.yaml @hmcts/Fees

# IDAM
k8s/namespaces/idam/ @hmcts/idam
k8s/**/common/idam/idam-api.yaml @hmcts/idam
k8s/**/common/idam/idam-web-public.yaml @hmcts/idam
k8s/**/common/idam/idam-web-admin.yaml @hmcts/idam
k8s/**/common/idam/identity.yaml @hmcts/idam

## AM
k8s/namespaces/am/ @hmcts/am-devs
k8s/**/common/am/identity.yaml @hmcts/am-devs
k8s/aat/common/am/accessmgmt-api.yaml @hmcts/am-devs
k8s/perftest/common/am/accessmgmt-api.yaml @hmcts/am-devs
k8s/aat/common/am/am-role-assignment-service.yaml @hmcts/am-devs
k8s/aat/common/am/am-judicial-booking-service.yaml @hmcts/am-devs
k8s/aat/cluster-**/am/role-assignment-batch.yaml @hmcts/am-devs
k8s/aat/cluster-**/am/judicial-booking-batch-service.yaml @hmcts/am-devs
k8s/demo/common/am/am-role-assignment-service.yaml @hmcts/am-devs
k8s/perftest/common/am/am-role-assignment-service.yaml @hmcts/am-devs

## Ethos
k8s/namespaces/ethos/ @hmcts/ethos
k8s/**/common/ethos/identity.yaml @hmcts/ethos
k8s/**/common/ethos/repl-docmosis-service.yaml @hmcts/ethos
k8s/**/common/ethos/ecm-consumer.yaml @hmcts/ethos

### Bulk scan
k8s/namespaces/bsp/ @hmcts/bulk-scan
k8s/**/common/bsp/identity.yaml @hmcts/bulk-scan
k8s/aat/common/bsp/bulk-scan-sample-app.yaml @hmcts/bulk-scan
k8s/demo/common/bsp/bsp-demo.yaml @hmcts/bulk-scan
k8s/demo/common/bsp/bulk-scan-sample-app.yaml @hmcts/bulk-scan

### BSP but separate namespace and identity
k8s/namespaces/reform-scan/ @hmcts/bulk-scan
k8s/**/common/reform-scan/identity.yaml @hmcts/bulk-scan

### XUI
k8s/namespaces/xui/ @hmcts/xui
k8s/**/common/xui/identity.yaml @hmcts/xui
k8s/**/common/xui/xui-tc.yaml @hmcts/xui
k8s/**/common/xui/webapp.yaml @hmcts/xui
k8s/**/common/xui/manage-organisations.yaml @hmcts/xui
k8s/**/common/xui/approve-org.yaml @hmcts/xui
k8s/aat/common/xui/share-case.yaml @hmcts/xui
k8s/**/common/xui/register-org-ingress.yaml @hmcts/xui
k8s/perftest/common/xui/share-case.yaml @hmcts/xui

### PCQ
k8s/namespaces/pcq/ @hmcts/pcq-admins
k8s/**/common/pcq/identity.yaml @hmcts/pcq-admins
k8s/**/common/pcq/pcq-frontend.yaml @hmcts/pcq-admins
k8s/**/common/pcq/pcq-backend.yaml @hmcts/pcq-admins
k8s/**/cluster-*/pcq/pcq-consolidation-service.yaml @hmcts/pcq-admins
k8s/aat/cluster-*/pcq/pcq-loader.yaml @hmcts/pcq-admins
k8s/demo/cluster-*/pcq/pcq-loader.yaml @hmcts/pcq-admins

### RSE
k8s/namespaces/rse/ @hmcts/rse
k8s/aat/common/rse/check.yaml @hmcts/rse

### Civil
k8s/namespaces/civil/ @hmcts/civil-admins
k8s/aat/common/civil/identity.yaml @hmcts/civil-admins
k8s/demo/common/civil/identity.yaml @hmcts/civil-admins

### WORK ALLOCATION
k8s/namespaces/wa/ @hmcts/work-allocation
k8s/**/common/wa/identity.yaml @hmcts/work-allocation

### FACT
k8s/namespaces/fact/ @hmcts/fact
k8s/**/common/fact/identity.yaml @hmcts/fact

### NO FAULT DIVORCE
k8s/namespaces/nfdiv/ @hmcts/no-fault-divorce
k8s/**/common/nfdiv/identity.yaml @hmcts/no-fault-divorce

### Kustomization control

k8s/namespaces/**/kustomization.yaml @hmcts/platform-operations
