Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

hmctspublic.azurecr.io/bulk-scan/processor:prod-4b43093-20230223142644
  apps/bsp/bulk-scan-processor/bulk-scan-processor.yaml
Owners: @hmcts/bulk-scan

Updated DEMO with naba changes
  apps/ia/ia-case-documents-api/demo.yaml
  apps/ia/ia-case-payments-api/demo.yaml
  apps/ia/ia-home-office-integration-api/demo.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/sscs/tya-notif:prod-da2a958-20230223141601
  apps/sscs/sscs-tya-notif/aat.yaml
  apps/sscs/sscs-tya-notif/ithc.yaml
  apps/sscs/sscs-tya-notif/perftest.yaml
  apps/sscs/sscs-tya-notif/prod.yaml
Owners: @hmcts/sscs

redeploy the pr
  apps/sscs/sscs-tribunals-api/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/sptribs/case-api:prod-7a32aa7-20230223143555
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

update secret
  apps/civil/preview/secrets/civil-work-allocation-secret.enc.yaml
Owners: @hmcts/civil-admins

deploying demo for test
  apps/rpe/automation/kustomization.yaml
  apps/rpe/rpe-send-letter-service/demo-image-policy.yaml
  apps/rpe/rpe-send-letter-service/demo.yaml
Owners: @hmcts/platform-operations, @hmcts/bulk-print

hmctspublic.azurecr.io/fpl/case-service:prod-5833b7d-20230223124848
  apps/family-public-law/fpl-case-service/fpl-case-service.yaml
  apps/family-public-law/fpl-case-service/ithc.yaml
Owners: @hmcts/fpl-admins

hmctspublic.azurecr.io/probate/orchestrator-service:prod-63d0f18-20230223144429
  apps/probate/probate-orchestrator-service/demo.yaml
  apps/probate/probate-orchestrator-service/probate-orchestrator-service.yaml
Owners: @hmcts/probate

redeploying
  apps/sscs/sscs-tya-notif/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/sscs/tribunals-api:pr-3137-e272f4c-20230223144154
  apps/sscs/sscs-tribunals-api/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/rpe/send-letter-service:prod-181628e-20230223142543
  apps/money-claims/cmc-send-letter-service/cmc-send-letter-service.yaml
  apps/rpe/rpe-send-letter-service/rpe-send-letter-service.yaml
Owners: @hmcts/cmc, @hmcts/bulk-print

redeploying
  apps/sscs/sscs-tya-notif/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/draft-store/service:prod-9e0d097-20230223102538
  apps/ccd/ccd-int/ccd-int.yaml
  apps/rpe/draft-store-service/draft-store-service.yaml
Owners: @hmcts/cdm, @hmcts/platform-operations

Update demo-int-image-policy.yaml
  apps/fees-pay/ccpay-payment-app/demo-int-image-policy.yaml
Owners: @hmcts/Fees

update secret
  apps/civil/preview/secrets/civil-work-allocation-secret.enc.yaml
Owners: @hmcts/civil-admins

redeploy to demo again
  apps/sscs/sscs-tribunals-api/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/probate/orchestrator-service:prod-b3c09f9-20230223150713
  apps/probate/probate-orchestrator-service/demo.yaml
  apps/probate/probate-orchestrator-service/probate-orchestrator-service.yaml
Owners: @hmcts/probate

fix build
  apps/rpe/rpe-send-letter-service/demo-image-policy.yaml
  apps/rpe/rpe-send-letter-service/demo.yaml
Owners: @hmcts/bulk-print

hmctspublic.azurecr.io/civil/citizen-ui:prod-e7e73d9-20230223144849
  apps/civil/civil-citizen-ui/civil-citizen-ui.yaml
  apps/civil/civil-citizen-ui/demo.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/civil/general-applications:pr-880-df88c92-20230223151355 hmctspublic.azurecr.io/probate/orchestrator-service:prod-35ad1bc-20230223151444
  apps/civil/civil-general-applications/demo.yaml
  apps/probate/probate-orchestrator-service/demo.yaml
  apps/probate/probate-orchestrator-service/probate-orchestrator-service.yaml
Owners: @hmcts/civil-admins, @hmcts/probate

hmctspublic.azurecr.io/payment/api:pr-1364-2daa744-20230223143417
  apps/fees-pay/ccpay-payment-api-int/demo.yaml
Owners: @hmcts/Fees

Update aat.yaml
  apps/civil/civil-service/aat.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/civil/general-applications:prod-c24efa2-20230223150758
  apps/civil/civil-general-applications/civil-general-applications.yaml
Owners: @hmcts/civil-admins

Update aat.yaml (#21154)
  apps/civil/civil-service/aat.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/rd/location-ref-data-load:prod-3e7c433-20230223152749
  apps/rd/rd-location-ref-data-load/rd-location-ref-data-load.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/location-ref-data-load:prod-3e7c433-20230223152749
  apps/rd/rd-location-ref-data-load-integration/rd-location-ref-data-load-integration.yaml
Owners: @hmcts/ref-data

update secret
  apps/civil/preview/secrets/civil-work-allocation-secret.enc.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/idam/hmcts-access:prod-66352b3-20230223153417
  apps/idam/idam-hmcts-access/idam-hmcts-access.yaml
Owners: @hmcts/idam

hmctspublic.azurecr.io/fpl/case-service:prod-9b33bf7-20230223152837
  apps/family-public-law/fpl-case-service/fpl-case-service.yaml
  apps/family-public-law/fpl-case-service/ithc.yaml
Owners: @hmcts/fpl-admins

hmctspublic.azurecr.io/am/role-assignment-batch-service:prod-a991448-20230223160126
  apps/am/am-role-assignment-batch-service/am-role-assignment-batch-service.yaml
Owners: @hmcts/am-devs

hmctspublic.azurecr.io/rd/professional-api:prod-435ba75-20230223160122
  apps/rd/rd-professional-api/rd-professional-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/profile-sync:prod-b3d0634-20230223160523
  apps/rd/rd-profile-sync-integration/rd-profile-sync-integration.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/professional-api:prod-435ba75-20230223160122
  apps/rd/rd-professional-api-integration/rd-professional-api-integration.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/caseworker-ref-api:prod-7fc96eb-20230223160341
  apps/rd/rd-caseworker-ref-api-integration/rd-caseworker-ref-api-integration.yaml
  apps/rd/rd-caseworker-ref-api/rd-caseworker-ref-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/user-profile-api:prod-c8891c7-20230223160208
  apps/rd/rd-user-profile-api/rd-user-profile-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/idam/api:preview-9b2a01b-20230223160751
  apps/idam/idam-api/preview.yaml
  apps/idam/idam-api/sbox.yaml
Owners: @hmcts/idam

hmctspublic.azurecr.io/rd/commondata-api:prod-1dfe357-20230223160713
  apps/rd/rd-commondata-api/rd-commondata-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/am/role-assignment-refresh-batch:prod-784d2fb-20230223161117
  apps/am/am-role-assignment-refresh-batch/am-role-assignment-refresh-batch.yaml
Owners: @hmcts/am-devs

hmctspublic.azurecr.io/rd/judicial-api:prod-4d743b1-20230223160847
  apps/rd/rd-judicial-api/demo.yaml
  apps/rd/rd-judicial-api/rd-judicial-api.yaml
Owners: @hmcts/ref-data

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control
