Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

hmctsprivate.azurecr.io/docmosis:sandbox-a57933c-337597
  apps/docmosis/docmosis/sbox.yaml
Owners: @hmcts/platform-operations

updated chart version
  apps/adoption/adoption-cron-draft-case-deletion-alert/adoption-cron-draft-case-deletion-alert.yaml
Owners: @hmcts/reform-adoption

point demo to prod
  apps/probate/probate-back-office/demo.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/probate/back-office:prod-1ec03fa-20230214101334
  apps/probate/probate-back-office/demo.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/ia/case-notifications-api:pr-724-f05891d-20230214133813
  apps/ia/ia-case-notifications-api/ithc.yaml
Owners: @hmcts/immigration-asylum

Updated em-ccdorc ITHC URL
  apps/em/em-ccd-orchestrator/ithc.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/sscs/tribunals-api:prod-f133a5a-20230214134333
  apps/sscs/sscs-tribunals-api/sscs-tribunals-api.yaml
Owners: @hmcts/sscs

demo pr
  apps/sscs/sscs-tribunals-api/demo-image-policy.yaml
  apps/sscs/sscs-tribunals-api/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/rd/location-ref-api:prod-014039e-20230214140635
  apps/rd/rd-location-ref-api/rd-location-ref-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/sscs/tribunals-api:pr-3119-0b5d195-20230208102456
  apps/sscs/sscs-tribunals-api/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/rd/location-ref-api:prod-014039e-20230214140635
  apps/rd/rd-location-ref-api-integration/rd-location-ref-api-integration.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/judicial-api:prod-c230316-20230214141932
  apps/rd/rd-judicial-api/demo.yaml
  apps/rd/rd-judicial-api/rd-judicial-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/sscs/evidence-share:prod-7eb4f08-20230214141025
  apps/sscs/sscs-evidence-share/sscs-evidence-share.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/rd/judicial-api:prod-c230316-20230214141932
  apps/rd/rd-judicial-api-integration/rd-judicial-api-integration.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/commondata-api:prod-b2a818c-20230214143247
  apps/rd/rd-commondata-api/rd-commondata-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/ethos/repl-docmosis-backend:pr-2014-2aa7d1e-20230214143726
  apps/ethos/repl-docmosis-service/demo.yaml
Owners: @hmcts/ethos

hmctspublic.azurecr.io/prl/cos:pr-998-d65178b-20230214145554 hmctspublic.azurecr.io/prl/cos:pr-998-d65178b-20230214145554
  apps/private-law/prl-cos/ithc.yaml
  apps/private-law/prl-cos/perftest.yaml
Owners: @hmcts/private-law

hmctspublic.azurecr.io/sptribs/case-api:prod-07b50eb-20230214145438
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

fixed issue with evidence-share demo
  apps/sscs/sscs-evidence-share/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/et/sya:pr-647-34649c4-20230214145143
  apps/et/et-sya/perftest.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/wa/case-event-handler:prod-80d084b-20230213175432
  apps/wa/wa-case-event-handler/aat.yaml
  apps/wa/wa-case-event-handler/demo.yaml
  apps/wa/wa-case-event-handler/ithc.yaml
  apps/wa/wa-case-event-handler/perftest.yaml
  apps/wa/wa-case-event-handler/wa-case-event-handler.yaml
Owners: @hmcts/work-allocation

hmctspublic.azurecr.io/sscs/evidence-share:prod-7eb4f08-20230214141025
  apps/sscs/sscs-evidence-share/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/dm/store:prod-3dd9481-20230214145641 hmctspublic.azurecr.io/dm/store:prod-3dd9481-20230214145641 hmctspublic.azurecr.io/dm/store:prod-3dd9481-20230214145641
  apps/ccd/ccd-int/ccd-int.yaml
  apps/dm-store/dm-store/demo.yaml
  apps/dm-store/dm-store/dm-store.yaml
  apps/dm-store/dm-store/perftest.yaml
  apps/money-claims/cmc-ccd/demo.yaml
Owners: @hmcts/cdm, @hmcts/evidence, @hmcts/cmc

hmctspublic.azurecr.io/dm/store:prod-3dd9481-20230214145641
  apps/dm-store/dm-store-cdam/dm-store-cdam.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/em/npa:prod-10fd641-20230214145715 hmctspublic.azurecr.io/em/npa:prod-10fd641-20230214145715
  apps/em/em-npa/demo.yaml
  apps/em/em-npa/em-npa.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/dg/docassembly:prod-5ff4ffa-20230214145753
  apps/dg/dg-docassembly/dg-docassembly.yaml
  apps/money-claims/cmc-dg-docassembly/cmc-dg-docassembly.yaml
Owners: @hmcts/dts-dev, @hmcts/evidence, @hmcts/cmc

hmctspublic.azurecr.io/xui/webapp:pr-2738-2acdd9f-20230214145301
  apps/xui/xui-webapp-wa-integration/demo.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/probate/back-office:pr-2102-7221666-20230214151633
  apps/probate/probate-cron-make-dormant-cases/demo/01.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/demo/01.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/ethos/repl-docmosis-backend:pr-2014-b739080-20230214152218
  apps/ethos/repl-docmosis-service/demo.yaml
Owners: @hmcts/ethos

hmctspublic.azurecr.io/finrem/cos:prod-f98be74-20230214151858
  apps/financial-remedy/finrem-cos/finrem-cos.yaml
Owners: @hmcts/financial-remedy

hmctspublic.azurecr.io/sptribs/case-api:prod-9ad0437-20230214152821
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/ethos/repl-docmosis-backend:prod-80b49c6-20230214152102
  apps/ethos/repl-docmosis-service/repl-docmosis-service.yaml
Owners: @hmcts/ethos

hmctspublic.azurecr.io/et/sya:pr-562-10f509d-20230214153823
  apps/et/et-sya/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/em/showcase:prod-3152e8b-20230214152421
  apps/em/em-showcase/em-showcase.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/et/cos:pr-576-ca56b49-20230214155001
  apps/et/et-cos/demo.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/fpl/case-service:prod-26b5e34-20230214132351
  apps/family-public-law/fpl-case-service/fpl-case-service.yaml
  apps/family-public-law/fpl-case-service/ithc.yaml
Owners: @hmcts/fpl-admins

hmctspublic.azurecr.io/idam/testing-support-api:prod-73803bb-20230214155419
  apps/idam/idam-testing-support-api/idam-testing-support-api.yaml
Owners: @hmcts/idam

hmctspublic.azurecr.io/et/cos:pr-556-0f15632-20230214155843
  apps/et/et-cos/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/prl/cos:pr-998-c3b59ff-20230214160357 hmctspublic.azurecr.io/prl/cos:pr-998-c3b59ff-20230214160357
  apps/private-law/prl-cos/ithc.yaml
  apps/private-law/prl-cos/perftest.yaml
Owners: @hmcts/private-law

SSCS-11393 : Turn S&L on again
  apps/sscs/sscs-hearings-api/prod.yaml
Owners: @hmcts/sscs

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control
