Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-engineering, @hmcts/devops, @hmcts/production-apps-approvals, @hmcts/bulk-scan, @hmcts/ccd-demo, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/ctsc, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/xui, @hmcts/pcq-admins, @hmcts/rse, @hmcts/ucmc-admins

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-engineering @hmcts/devops

# AAT applications
## environment rules
k8s/aat/ @hmcts/platform-engineering @hmcts/devops

# Production applications
## environment rules
k8s/prod/ @hmcts/production-apps-approvals

## application rules

k8s/common/ @hmcts/platform-engineering @hmcts/devops
k8s/namespaces/ @hmcts/platform-engineering @hmcts/devops
k8s/**/cluster-*-overlay/ @hmcts/platform-engineering
k8s/prod/*/kube-system/ @hmcts/platform-engineering
k8s/**/common/monitoring/ @hmcts/platform-engineering

### Next team

## application rules

### RPE
k8s/**/common/rpe/namespace.yaml @hmcts/platform-engineering
k8s/**/common/rpe/identity.yaml @hmcts/platform-engineering
k8s/**/common/rpe/draft-store-service.yaml @hmcts/platform-engineering
k8s/**/common/rpe/rpe-service-auth-provider.yaml @hmcts/platform-engineering
k8s/**/common/rpe/pdf-service.yaml @hmcts/platform-engineering

k8s/**/common/**/tests-values.yaml @hmcts/platform-engineering

k8s/*/*-base/kustomization.yaml @hmcts/platform-engineering

k8s/**/common/neuvector/fluentbit-log.yaml @hmcts/platform-engineering
k8s/**/common/neuvector/nv-storage-secret.yaml @hmcts/platform-engineering
k8s/**/common/neuvector/identity.yaml @hmcts/platform-engineering

k8s/**/common/rpe/send-letter-identity.yaml @hmcts/bulk-scan
k8s/**/common/rpe/send-letter-service.yaml @hmcts/bulk-scan

k8s/**/common/admin/check-acr-sync-cronjob.yaml @hmcts/platform-engineering

### Next team

##CCD
k8s/demo/common/ccd/*.yaml @hmcts/ccd-demo
k8s/**/common/ccd/namespace.yaml @hmcts/cdm
k8s/**/common/ccd/identity.yaml @hmcts/cdm
k8s/**/common/ccd/data-store-api.yaml @hmcts/cdm
k8s/**/common/ccd/definition-store-api.yaml @hmcts/cdm
k8s/**/common/ccd/user-profile-api.yaml @hmcts/cdm
k8s/**/common/ccd/api-gateway-web.yaml @hmcts/cdm
k8s/**/common/ccd/case-print-service.yaml @hmcts/cdm
k8s/**/common/ccd/admin-web.yaml @hmcts/cdm
k8s/aat/common/ccd/test-stubs-service.yaml @hmcts/cdm
k8s/**/common/ccd/case-activity-api.yaml @hmcts/cdm
k8s/**/common/ccd/case-management-web.yaml @hmcts/cdm
k8s/aat/common/ccd/case-document-am-api.yaml @hmcts/cdm

##AAC - CDM
k8s/aat/common/aac/namespace.yaml @hmcts/cdm
k8s/aat/common/aac/identity.yaml @hmcts/cdm
k8s/aat/common/aac/manage-case-assignment.yaml @hmcts/cdm
k8s/perftest/common/aac/namespace.yaml @hmcts/cdm
k8s/perftest/common/aac/identity.yaml @hmcts/cdm
k8s/perftest/common/aac/manage-case-assignment.yaml @hmcts/cdm
k8s/demo/common/aac/namespace.yaml @hmcts/cdm
k8s/demo/common/aac/identity.yaml @hmcts/cdm
k8s/demo/common/aac/manage-case-assignment.yaml @hmcts/cdm

##CMC
k8s/**/common/money-claims/namespace.yaml @hmcts/cmc
k8s/**/common/money-claims/identity.yaml @hmcts/cmc
k8s/**/common/money-claims/claim-store.yaml @hmcts/cmc
k8s/**/common/money-claims/cmc-citizen-frontend.yaml @hmcts/cmc
k8s/**/common/money-claims/cmc-legal-frontend.yaml @hmcts/cmc

## I&A
k8s/**/common/ia/namespace.yaml @hmcts/immigration-asylum
k8s/**/common/ia/identity.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-documents-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-notifications-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/aip-frontend.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/home-office-integration-api.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/home-office-mock-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/timed-event-service.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/case-payments-api.yaml @hmcts/immigration-asylum

## Divorce
k8s/demo/common/divorce/*.yaml @hmcts/divorce
k8s/**/common/divorce/namespace.yaml @hmcts/divorce
k8s/**/common/divorce/identity.yaml @hmcts/divorce
k8s/**/common/divorce/div-emca.yaml @hmcts/divorce
k8s/**/common/divorce/div-cms.yaml @hmcts/divorce
k8s/**/common/divorce/div-dgs.yaml @hmcts/divorce
k8s/**/common/divorce/div-cos.yaml @hmcts/divorce
k8s/**/common/divorce/div-fps.yaml @hmcts/divorce
k8s/**/common/divorce/div-hm.yaml @hmcts/divorce
k8s/**/common/divorce/div-da.yaml @hmcts/divorce
k8s/**/common/divorce/div-dn.yaml @hmcts/divorce
k8s/**/common/divorce/div-rfe.yaml @hmcts/divorce
k8s/**/common/divorce/div-pfe.yaml @hmcts/divorce
k8s/**/common/divorce/div-cfs.yaml @hmcts/divorce


## Financial Remedy
k8s/**/common/financial-remedy/namespace.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/identity.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-ns.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-emca.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-cos.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-ps.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-dgcs.yaml @hmcts/financial-remedy

## Document Generation
k8s/**/common/dg/namespace.yaml @hmcts/evidence
k8s/**/common/dg/identity.yaml @hmcts/evidence
k8s/aat/common/dg/dg-docassembly.yaml @hmcts/evidence
k8s/prod/common/dg/dg-docassembly.yaml @hmcts/evidence

## Document Management
k8s/**/common/dm-store/namespace.yaml @hmcts/evidence
k8s/**/common/dm-store/identity.yaml @hmcts/evidence
k8s/**/common/dm-store/dm-store.yaml @hmcts/evidence

## Evidence Management
k8s/**/common/em/namespace.yaml @hmcts/evidence
k8s/**/common/em/identity.yaml @hmcts/evidence
k8s/**/common/em/em-anno.yaml @hmcts/evidence
k8s/**/common/em/em-npa.yaml @hmcts/evidence
k8s/**/common/em/em-stitching.yaml @hmcts/evidence
k8s/aat/common/em/em-showcase.yaml @hmcts/evidence
k8s/**/common/em/em-ccd-orchestrator.yaml @hmcts/evidence
k8s/aat/common/em/em-icp.yaml @hmcts/evidence
k8s/aat/cluster-*/em/em-icp.yaml @hmcts/evidence


## Probate
k8s/**/common/probate/namespace.yaml @hmcts/probate
k8s/**/common/probate/identity.yaml @hmcts/probate
k8s/**/common/probate/business-service.yaml @hmcts/probate
k8s/**/common/probate/orchestrator-service.yaml @hmcts/probate
k8s/**/common/probate/submit-service.yaml @hmcts/probate
k8s/**/common/probate/probate-caveats-fe.yaml @hmcts/probate
k8s/**/common/probate/probate-frontend.yaml @hmcts/probate
k8s/**/common/probate/probate-back-office.yaml @hmcts/probate

## Reference Data
k8s/**/common/rd/namespace.yaml @hmcts/ref-data
k8s/**/common/rd/identity.yaml @hmcts/ref-data
k8s/**/common/rd/professional-api.yaml @hmcts/ref-data
k8s/**/common/rd/profile-sync.yaml @hmcts/ref-data
k8s/**/common/rd/user-profile-api.yaml @hmcts/ref-data
k8s/**/common/rd/judicial-api.yaml @hmcts/ref-data
k8s/**/cluster-00/rd/judicial-data-load.yaml @hmcts/ref-data @hmcts/ref-data
k8s/**/cluster-01/rd/judicial-data-load.yaml @hmcts/ref-data @hmcts/ref-data

## SSCS
k8s/**/common/sscs/namespace.yaml @hmcts/sscs
k8s/**/common/sscs/identity.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tribunals-api.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-evidence-share.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tya-notif.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-bulk-scan.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-cor-backend.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-ccd-callback-orchestrator.yaml @hmcts/sscs
k8s/**/cluster-*/sscs/sscs-case-loader.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tribunals-frontend.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-cor-frontend.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tya-frontend.yaml @hmcts/sscs

## FPLA
k8s/**/common/family-public-law/namespace.yaml @hmcts/fpl-admins
k8s/**/common/family-public-law/identity.yaml @hmcts/fpl-admins
k8s/**/common/family-public-law/fpl-case-service.yaml @hmcts/fpl-admins

### Adoption
k8s/aat/common/adoption/namespace.yaml @hmcts/fpl-admins
k8s/aat/common/adoption/identity.yaml @hmcts/fpl-admins
k8s/aat/common/adoption/adoption-frontend.yaml @hmcts/fpl-admins
k8s/aat/common/adoption/adoption-backend.yaml @hmcts/fpl-admins

## CTSC
k8s/**/common/ctsc/namespace.yaml @hmcts/ctsc
k8s/**/common/ctsc/identity.yaml @hmcts/ctsc
k8s/**/common/ctsc/work-allocation.yaml @hmcts/ctsc

## cc-pay
k8s/**/common/ccpay/namespace.yaml @hmcts/Fees
k8s/**/common/ccpay/identity.yaml @hmcts/Fees
k8s/**/common/ccpay/ccpay-bulkscanning-app.yaml @hmcts/Fees
k8s/**/common/ccpay/ccpay-payment-app.yaml @hmcts/Fees
k8s/**/common/ccpay/fees-register-api.yaml @hmcts/Fees
k8s/**/common/ccpay/fees-register-frontend.yaml @hmcts/Fees
k8s/**/common/ccpay/ccpay-bubble-frontend.yaml @hmcts/Fees
k8s/**/common/ccpay/ccpay-callback-function.yaml @hmcts/Fees

k8s/**/cluster-*/ccpay/bar-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/ccpay/card-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/ccpay/finrem-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/ccpay/pba-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/ccpay/status-payment-job.yaml @hmcts/Fees

## bar
k8s/**/common/bar/bar-app.yaml @hmcts/Fees
k8s/**/common/bar/bar-web.yaml @hmcts/Fees
k8s/**/common/bar/identity.yaml @hmcts/Fees
k8s/**/common/bar/namespace.yaml @hmcts/Fees

# IDAM
k8s/**/common/idam/idam-api.yaml @hmcts/idam
k8s/**/common/idam/idam-web-public.yaml @hmcts/idam
k8s/**/common/idam/idam-web-admin.yaml @hmcts/idam
k8s/**/common/idam/namespace.yaml @hmcts/idam
k8s/**/common/idam/identity.yaml @hmcts/idam

## AM
k8s/**/common/am/namespace.yaml @hmcts/am-devs
k8s/**/common/am/identity.yaml @hmcts/am-devs
k8s/aat/common/am/accessmgmt-api.yaml @hmcts/am-devs
k8s/perftest/common/am/accessmgmt-api.yaml @hmcts/am-devs
k8s/aat/common/am/am-role-assignment-service.yaml @hmcts/am-devs
k8s/aat/common/am/am-judicial-booking-service.yaml @hmcts/am-devs

## Ethos
k8s/**/common/ethos/namespace.yaml @hmcts/ethos
k8s/**/common/ethos/identity.yaml @hmcts/ethos
k8s/**/common/ethos/repl-docmosis-service.yaml @hmcts/ethos
k8s/aat/common/ethos/ecm-consumer.yaml @hmcts/ethos

### Bulk scan and print
k8s/**/common/bsp/namespace.yaml @hmcts/bulk-scan
k8s/**/common/bsp/identity.yaml @hmcts/bulk-scan
k8s/**/common/bsp/bulk-scan-payment-processor.yaml @hmcts/bulk-scan
k8s/**/common/bsp/bulk-scan-processor.yaml @hmcts/bulk-scan
k8s/**/common/bsp/bulk-scan-orchestrator.yaml @hmcts/bulk-scan
k8s/aat/common/bsp/bulk-scan-sample-app.yaml @hmcts/bulk-scan
k8s/demo/common/bsp/bsp-demo.yaml @hmcts/bulk-scan
k8s/demo/common/bsp/bulk-scan-sample-app.yaml @hmcts/bulk-scan

### BSP but separate namespace and identity
k8s/**/common/reform-scan/namespace.yaml @hmcts/bulk-scan
k8s/**/common/reform-scan/identity.yaml @hmcts/bulk-scan
k8s/**/common/reform-scan/blob-router.yaml @hmcts/bulk-scan
k8s/**/common/reform-scan/notification-service.yaml @hmcts/bulk-scan

### XUI
k8s/**/common/xui/namespace.yaml @hmcts/xui
k8s/**/common/xui/identity.yaml @hmcts/xui
k8s/**/common/xui/xui-tc.yaml @hmcts/xui
k8s/**/common/xui/webapp.yaml @hmcts/xui
k8s/**/common/xui/manage-organisations.yaml @hmcts/xui
k8s/**/common/xui/approve-org.yaml @hmcts/xui
k8s/aat/common/xui/share-case.yaml @hmcts/xui
k8s/**/common/xui/register-org-ingress.yaml @hmcts/xui
k8s/perftest/common/xui/share-case.yaml @hmcts/xui

### PCQ
k8s/**/common/pcq/namespace.yaml @hmcts/pcq-admins
k8s/**/common/pcq/identity.yaml @hmcts/pcq-admins
k8s/**/common/pcq/pcq-frontend.yaml @hmcts/pcq-admins
k8s/**/common/pcq/pcq-backend.yaml @hmcts/pcq-admins
k8s/**/cluster-*/pcq/pcq-consolidation-service.yaml @hmcts/pcq-admins

### RSE
k8s/demo/common/rse-istio-poc/** @hmcts/rse
k8s/aat/common/rse/check.yaml @hmcts/rse

### UCMC
k8s/**/common/ucmc/namespace.yaml @hmcts/ucmc-admins
k8s/aat/common/ucmc/ucmc-service.yaml @hmcts/ucmc-admins
k8s/aat/common/ucmc/identity.yaml @hmcts/ucmc-admins
k8s/demo/common/ucmc/ucmc-service.yaml @hmcts/ucmc-admins
k8s/demo/common/ucmc/identity.yaml @hmcts/ucmc-admins

Update kustomization.yaml
  k8s/ldata/cluster-00-overlay/kustomization.yaml
Owners: @hmcts/platform-engineering

Update kustomization.yaml
  k8s/ldata/cluster-01-overlay/kustomization.yaml
Owners: @hmcts/platform-engineering

Update dependency probate-frontend to v2.0.12
  k8s/aat/common/probate/probate-frontend.yaml
  k8s/demo/common/probate/probate-frontend.yaml
  k8s/ithc/common/probate/probate-frontend.yaml
  k8s/prod/common/probate/probate-frontend.yaml
Owners: @hmcts/probate

Update dependency sscs-case-loader to v0.0.8
  k8s/aat/cluster-00/sscs/sscs-case-loader.yaml
  k8s/aat/cluster-01/sscs/sscs-case-loader.yaml
  k8s/prod/cluster-00/sscs/sscs-case-loader.yaml
  k8s/prod/cluster-01/sscs/sscs-case-loader.yaml
Owners: @hmcts/sscs

Update dependency sscs-evidence-share to v0.0.18
  k8s/aat/common/sscs/sscs-evidence-share.yaml
  k8s/demo/common/sscs/sscs-evidence-share.yaml
  k8s/perftest/common/sscs/sscs-evidence-share.yaml
  k8s/prod/common/sscs/sscs-evidence-share.yaml
Owners: @hmcts/sscs

Update dependency em-icp to v0.1.10
  k8s/ithc/cluster-00/em/em-icp.yaml
Owners: none

Notes added by 'git notes add'
  f3/d28b44dbc2869d5bb074bb75a71d92ec1bc2a5
Owners: none

Auto-release hmctspublic.azurecr.io/ia/case-notifications-api:prod-7199de00
  k8s/ithc/common/ia/case-notifications-api.yaml
Owners: @hmcts/immigration-asylum

Notes added by 'git notes add'
  13/18865a86c426a576dee53a3412539d6ebdfb9e
Owners: none

Auto-release hmctspublic.azurecr.io/ia/case-notifications-api:prod-7199de00
  k8s/aat/common/ia/case-notifications-api.yaml
Owners: @hmcts/immigration-asylum

Notes added by 'git notes add'
  4d/5f159ddecdb057f4441d1f343afa300b448028
Owners: none

Notes added by 'git notes add'
  72/ac9e37eed020b1aaade0ddcaaeeee0e8d51eb8
Owners: none

Auto-release hmctspublic.azurecr.io/ia/case-notifications-api:prod-7199de00
  k8s/prod/common/ia/case-notifications-api.yaml
Owners: @hmcts/immigration-asylum

Notes added by 'git notes add'
  59/1f2500d8221e08b2d9988cdc0d175f8f00fcaf
Owners: none

Notes added by 'git notes add'
  66/6ffb4f6a261cff6e24d143e5583d031bfa50ee
Owners: none

Auto-release hmctspublic.azurecr.io/ia/case-notifications-api:prod-7199de00
  k8s/perftest/common/ia/case-notifications-api.yaml
Owners: @hmcts/immigration-asylum

Notes added by 'git notes add'
  b3/8200b79e544f410954a2c17d34cb27b818914a
Owners: none

Auto-release hmctspublic.azurecr.io/plum/frontend:prod-2e9b3d73
  k8s/sandbox/common/cnp/plum-frontend.yaml
Owners: none

Notes added by 'git notes add'
  22/1c082e4fcab732306fa47ecaea879d63cc6d0a
Owners: none

Notes added by 'git notes add'
  d1/c4d2e8fb9ed6e937f83b5b53b04d660eb5dea8
Owners: none

Auto-release hmctspublic.azurecr.io/ia/aip-frontend:prod-e8c47a13
  k8s/prod/common/ia/aip-frontend.yaml
Owners: @hmcts/immigration-asylum

Notes added by 'git notes add'
  c8/91165e6e67b16b182b1005dc3138e3cfcc5555
Owners: none

Notes added by 'git notes add'
  99/781468b805e29b9522cc48c76f753ff93c1843
Owners: none

Auto-release hmctspublic.azurecr.io/ia/aip-frontend:prod-e8c47a13
  k8s/aat/common/ia/aip-frontend.yaml
Owners: @hmcts/immigration-asylum

Notes added by 'git notes add'
  de/57240aa204e1e56090bcefebbab1e2b64877a8
Owners: none
