Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control

hmctspublic.azurecr.io/et/sya:pr-562-ba839a9-20230222111441
  apps/et/et-sya/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/nfdiv/case-api:prod-bf8c34e-20230222111236 hmctspublic.azurecr.io/nfdiv/case-api:prod-bf8c34e-20230222111236
  apps/nfdiv/nfdiv-case-api/demo.yaml
  apps/nfdiv/nfdiv-case-api/nfdiv-case-api.yaml
  apps/nfdiv/nfdiv-cron-alert-application-not-reviewed/nfdiv-cron-alert-application-not-reviewed.yaml
  apps/nfdiv/nfdiv-cron-applicant-can-sts-after-intention-fo/nfdiv-cron-applicant-can-sts-after-intention-fo.yaml
  apps/nfdiv/nfdiv-cron-application-approved-reminder/nfdiv-cron-application-approved-reminder.yaml
  apps/nfdiv/nfdiv-cron-bulk-list-create/nfdiv-cron-bulk-list-create.yaml
  apps/nfdiv/nfdiv-cron-eligible-for-switch-to-sole/nfdiv-cron-eligible-for-switch-to-sole.yaml
  apps/nfdiv/nfdiv-cron-js-disputed-answer-overdue/nfdiv-cron-js-disputed-answer-overdue.yaml
  apps/nfdiv/nfdiv-cron-migrate-bulk-cases/nfdiv-cron-migrate-bulk-cases.yaml
  apps/nfdiv/nfdiv-cron-migrate-cases/nfdiv-cron-migrate-cases.yaml
  apps/nfdiv/nfdiv-cron-notify-applicant-dispute-form-overdue/nfdiv-cron-notify-applicant-dispute-form-overdue.yaml
  apps/nfdiv/nfdiv-cron-notify-applicants-apply-co/nfdiv-cron-notify-applicants-apply-co.yaml
  apps/nfdiv/nfdiv-cron-notify-respondent-apply-final-order/nfdiv-cron-notify-respondent-apply-final-order.yaml
  apps/nfdiv/nfdiv-cron-partner-not-applied-for-final-order/nfdiv-cron-partner-not-applied-for-final-order.yaml
  apps/nfdiv/nfdiv-cron-process-cases-to-be-removed/nfdiv-cron-process-cases-to-be-removed.yaml
  apps/nfdiv/nfdiv-cron-process-failed-pronounced-cases/nfdiv-cron-process-failed-pronounced-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-scheduled-cases/nfdiv-cron-process-failed-scheduled-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-to-unlink-cases/nfdiv-cron-process-failed-to-unlink-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-cases-to-aos-overdue/nfdiv-cron-progress-cases-to-aos-overdue.yaml
  apps/nfdiv/nfdiv-cron-progress-held-cases/nfdiv-cron-progress-held-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-to-awaiting-final-order/nfdiv-cron-progress-to-awaiting-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-applicant2/nfdiv-cron-remind-applicant2.yaml
  apps/nfdiv/nfdiv-cron-remind-applicants-apply-for-fo/nfdiv-cron-remind-applicants-apply-for-fo.yaml
  apps/nfdiv/nfdiv-cron-remind-awaiting-joint-final-order/nfdiv-cron-remind-awaiting-joint-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-respondent-solicitor/nfdiv-cron-remind-respondent-solicitor.yaml
  apps/nfdiv/nfdiv-cron-resend-co-pronounced-cover-letters/nfdiv-cron-resend-co-pronounced-cover-letters.yaml
Owners: @hmcts/no-fault-divorce

CIV-6861 Change civil service pr880
  apps/civil/civil-service/demo-image-policy.yaml
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

RDCC-6363: whitelisting `prl_cos_api` in `prod.yaml`
  apps/rd/rd-judicial-api/prod.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/xui/webapp:pr-2769-53030b7-20230222111345
  apps/xui/xui-webapp-integration2/demo.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/prl/citizen-frontend:pr-796-95e6af1-20230222114646
  apps/private-law/prl-citizen-frontend/demo.yaml
Owners: @hmcts/private-law

CIV-6861 Change GA to PR880
  apps/civil/civil-general-applications/demo-image-policy.yaml
  apps/civil/civil-general-applications/demo.yaml
Owners: @hmcts/civil-admins

added references to hmc-judicial-payment-service in kustomization.yaml
  apps/hmc/hmc-judicial-payment-service-int/demo.yaml
  apps/hmc/hmc-judicial-payment-service-int/hmc-judicial-payment-service-int.yaml
Owners: @hmcts/cdm

try adding args to agent
  apps/azure-devops/azure-devops-agent/azure-devops-agent.yaml
Owners: @hmcts/platform-operations

hmctsprivate.azurecr.io/docmosis:prod-0cc08c4-341969
  apps/docmosis/docmosis/docmosis.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/nfdiv/case-api:prod-90ebc3d-20230222115654 hmctspublic.azurecr.io/nfdiv/case-api:prod-90ebc3d-20230222115654
  apps/nfdiv/nfdiv-case-api/demo.yaml
  apps/nfdiv/nfdiv-case-api/nfdiv-case-api.yaml
  apps/nfdiv/nfdiv-cron-alert-application-not-reviewed/nfdiv-cron-alert-application-not-reviewed.yaml
  apps/nfdiv/nfdiv-cron-applicant-can-sts-after-intention-fo/nfdiv-cron-applicant-can-sts-after-intention-fo.yaml
  apps/nfdiv/nfdiv-cron-application-approved-reminder/nfdiv-cron-application-approved-reminder.yaml
  apps/nfdiv/nfdiv-cron-bulk-list-create/nfdiv-cron-bulk-list-create.yaml
  apps/nfdiv/nfdiv-cron-eligible-for-switch-to-sole/nfdiv-cron-eligible-for-switch-to-sole.yaml
  apps/nfdiv/nfdiv-cron-js-disputed-answer-overdue/nfdiv-cron-js-disputed-answer-overdue.yaml
  apps/nfdiv/nfdiv-cron-migrate-bulk-cases/nfdiv-cron-migrate-bulk-cases.yaml
  apps/nfdiv/nfdiv-cron-migrate-cases/nfdiv-cron-migrate-cases.yaml
  apps/nfdiv/nfdiv-cron-notify-applicant-dispute-form-overdue/nfdiv-cron-notify-applicant-dispute-form-overdue.yaml
  apps/nfdiv/nfdiv-cron-notify-applicants-apply-co/nfdiv-cron-notify-applicants-apply-co.yaml
  apps/nfdiv/nfdiv-cron-notify-respondent-apply-final-order/nfdiv-cron-notify-respondent-apply-final-order.yaml
  apps/nfdiv/nfdiv-cron-partner-not-applied-for-final-order/nfdiv-cron-partner-not-applied-for-final-order.yaml
  apps/nfdiv/nfdiv-cron-process-cases-to-be-removed/nfdiv-cron-process-cases-to-be-removed.yaml
  apps/nfdiv/nfdiv-cron-process-failed-pronounced-cases/nfdiv-cron-process-failed-pronounced-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-scheduled-cases/nfdiv-cron-process-failed-scheduled-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-to-unlink-cases/nfdiv-cron-process-failed-to-unlink-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-cases-to-aos-overdue/nfdiv-cron-progress-cases-to-aos-overdue.yaml
  apps/nfdiv/nfdiv-cron-progress-held-cases/nfdiv-cron-progress-held-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-to-awaiting-final-order/nfdiv-cron-progress-to-awaiting-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-applicant2/nfdiv-cron-remind-applicant2.yaml
  apps/nfdiv/nfdiv-cron-remind-applicants-apply-for-fo/nfdiv-cron-remind-applicants-apply-for-fo.yaml
  apps/nfdiv/nfdiv-cron-remind-awaiting-joint-final-order/nfdiv-cron-remind-awaiting-joint-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-respondent-solicitor/nfdiv-cron-remind-respondent-solicitor.yaml
  apps/nfdiv/nfdiv-cron-resend-co-pronounced-cover-letters/nfdiv-cron-resend-co-pronounced-cover-letters.yaml
Owners: @hmcts/no-fault-divorce

hmctspublic.azurecr.io/ia/case-notifications-api:pr-724-2f37e91-20230222120801
  apps/ia/ia-case-notifications-api/ithc.yaml
Owners: @hmcts/immigration-asylum

DSTPB-2794 update DTSPB-2794 Perftest Running Time
  apps/probate/probate-cron-ccd-data-migration-tool/perftest/00.yaml
Owners: @hmcts/probate

Updated Bundling PR image on Demo
  apps/em/em-ccd-orchestrator/demo-image-policy.yaml
  apps/em/em-ccd-orchestrator/demo.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/civil/general-applications:pr-880-755636b-20230221110808
  apps/civil/civil-general-applications/demo.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/finrem/cos:pr-922-82d277b-20230221170706
  apps/financial-remedy/finrem-cos/demo.yaml
Owners: @hmcts/financial-remedy

DSTPB-2794 update DTSPB-2794 Perftest Running Time
  apps/probate/probate-cron-ccd-data-migration-tool/perftest/00.yaml
Owners: @hmcts/probate

Update azure-devops-agent.yaml
  apps/azure-devops/azure-devops-agent/azure-devops-agent.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/fpl/case-service:prod-4fbd2e8-20230222120328
  apps/family-public-law/fpl-case-service/fpl-case-service.yaml
  apps/family-public-law/fpl-case-service/ithc.yaml
Owners: @hmcts/fpl-admins

DSTPB-2794 update DTSPB-2794 Perftest Running Time
  apps/probate/probate-cron-ccd-data-migration-tool/perftest/00.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/et/sya:pr-562-a1cdbf6-20230222122022
  apps/et/et-sya/ithc.yaml
Owners: @hmcts/employment-tribunals

fix
  apps/azure-devops/azure-devops-agent/azure-devops-agent.yaml
Owners: @hmcts/platform-operations

Add new flag
  apps/xui/xui-webapp-integration2/demo.yaml
Owners: @hmcts/xui

NFDIV-3309 - Move cron to less traffic time and disable unwanted migration
  apps/nfdiv/nfdiv-cron-migrate-cases/prod-00.yaml
  apps/nfdiv/nfdiv-cron-notify-applicants-apply-co/prod-00.yaml
  apps/nfdiv/nfdiv-cron-notify-applicants-apply-co/prod-01.yaml
Owners: @hmcts/no-fault-divorce

hmctspublic.azurecr.io/et/cos:pr-556-24016ff-20230222122747
  apps/et/et-cos/ithc.yaml
Owners: @hmcts/employment-tribunals

Fix linting
  apps/xui/xui-webapp-integration2/demo.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/fis/ds-update-web:prod-60aaf04-20230222122619
  apps/fis/fis-ds-update-web/fis-ds-update-web.yaml
Owners: @hmcts/family-integration

DSTPB-2794 update DTSPB-2794 Perftest Running Time
  apps/probate/probate-cron-ccd-data-migration-tool/perftest/00.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/prl/citizen-frontend:pr-796-11b339b-20230222123744
  apps/private-law/prl-citizen-frontend/demo.yaml
Owners: @hmcts/private-law

Add new flag (#21113)
  apps/xui/xui-webapp-integration2/demo.yaml
Owners: @hmcts/xui

DSTPB-2794 update DTSPB-2794 Perftest Running Time
  apps/probate/probate-cron-ccd-data-migration-tool/perftest/00.yaml
Owners: @hmcts/probate

hmctsprivate.azurecr.io/docmosis:prod-60823b7-342032
  apps/docmosis/docmosis/docmosis.yaml
Owners: @hmcts/platform-operations

point demo to pbav3 branch
  apps/civil/civil-service/demo-image-policy.yaml
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/xui/webapp:pr-2769-f5683a8-20230222130916
  apps/xui/xui-webapp-integration2/demo.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/probate/frontend:prod-53e38a2-20230222131851
  apps/probate/probate-frontend/demo.yaml
  apps/probate/probate-frontend/probate-frontend.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/ia/case-api:prod-c120eb2-20230222132222
  apps/ia/ia-case-api/ia-case-api.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/am/role-assignment-refresh-batch:prod-14a3c4c-20230222134527
  apps/am/am-role-assignment-refresh-batch/am-role-assignment-refresh-batch.yaml
Owners: @hmcts/am-devs

Update demo.yaml
  apps/fees-pay/ccpay-notifications-service/demo.yaml
Owners: @hmcts/Fees

hmctsprivate.azurecr.io/docmosis:demo-6dbcf18-342073 hmctsprivate.azurecr.io/docmosis:ithc-6dbcf18-342073 hmctsprivate.azurecr.io/docmosis:perftest-6dbcf18-342073
  apps/docmosis/docmosis/demo.yaml
  apps/docmosis/docmosis/ithc.yaml
  apps/docmosis/docmosis/perftest.yaml
Owners: @hmcts/platform-operations

hmctsprivate.azurecr.io/docmosis:aat-6dbcf18-342073 hmctsprivate.azurecr.io/docmosis:prod-6dbcf18-342073 hmctsprivate.azurecr.io/docmosis:sandbox-6dbcf18-342073
  apps/docmosis/docmosis/aat.yaml
  apps/docmosis/docmosis/docmosis.yaml
  apps/docmosis/docmosis/sbox.yaml
Owners: @hmcts/platform-operations
