Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

uploaded version
  apps/adoption/adoption-cron-draft-case-deletion-alert/adoption-cron-draft-case-deletion-alert.yaml
Owners: @hmcts/reform-adoption

hmctspublic.azurecr.io/civil/service:prod-7a01ab5-20230214160512
  apps/civil/civil-service/civil-service.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/rd/caseworker-ref-api:prod-519b139-20230214161906
  apps/rd/rd-caseworker-ref-api-integration/rd-caseworker-ref-api-integration.yaml
  apps/rd/rd-caseworker-ref-api/rd-caseworker-ref-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/ia/case-payments-api:pr-259-f31d0bb-20230214163043
  apps/ia/ia-case-payments-api/ithc.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/adoption/cos-api:pr-677-2dfe684-20230214163339 hmctspublic.azurecr.io/adoption/cos-api:pr-677-2dfe684-20230214163339
  apps/adoption/adoption-cos-api/demo.yaml
  apps/adoption/adoption-cron-draft-case-deletion-alert/demo.yaml
Owners: @hmcts/reform-adoption

hmctspublic.azurecr.io/rd/commondata-api:prod-ffcd868-20230214163819
  apps/rd/rd-commondata-api/rd-commondata-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/ccd/api-gateway-web:prod-cadeddb-20230214164046
  apps/ccd/ccd-api-gateway-web/ccd-api-gateway-web.yaml
  apps/ccd/ccd-api-gateway-web/ithc.yaml
  apps/ccd/ccd-int/ccd-int.yaml
  apps/money-claims/cmc-ccd/demo.yaml
Owners: @hmcts/cdm, @hmcts/cmc

Fix demo access for sscs bulk scan
  apps/sscs/sscs-bulk-scan/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/rd/judicial-api:prod-f505da5-20230214163926
  apps/rd/rd-judicial-api/demo.yaml
  apps/rd/rd-judicial-api/rd-judicial-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/et/cos:pr-576-955c261-20230214164024
  apps/et/et-cos/demo.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/rd/judicial-api:prod-f505da5-20230214163926
  apps/rd/rd-judicial-api-integration/rd-judicial-api-integration.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/ccd/case-activity-api:prod-fe43cfd-20230214164059 hmctspublic.azurecr.io/ccd/case-activity-api:prod-fe43cfd-20230214164059
  apps/ccd/ccd-case-activity-api/ccd-case-activity-api.yaml
  apps/ccd/ccd-case-activity-api/demo.yaml
  apps/ccd/ccd-int/ccd-int.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/ccd/api-gateway-web:prod-cadeddb-20230214164046
  apps/ccd/ccd-ac-int-api-gateway-web/ccd-ac-int-api-gateway-web.yaml
  apps/ccd/ccd-ac-int-api-gateway-web/demo.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/finrem/cos:prod-6ac90f5-20230214163928
  apps/financial-remedy/finrem-cos/finrem-cos.yaml
Owners: @hmcts/financial-remedy

Fix demo access for sscs bulk scan (#20950)
  apps/sscs/sscs-bulk-scan/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/rd/profile-sync:prod-0e5be25-20230214164116
  apps/rd/rd-profile-sync/rd-profile-sync.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/ccd/admin-web:prod-74c34c2-20230214164029
  apps/ccd/ccd-admin-web/ccd-admin-web.yaml
  apps/ccd/ccd-int/ccd-int.yaml
  apps/money-claims/cmc-ccd/demo.yaml
Owners: @hmcts/cdm, @hmcts/cmc

hmctspublic.azurecr.io/ccd/case-print-service:prod-31065c1-20230214164114 hmctspublic.azurecr.io/ccd/case-print-service:prod-31065c1-20230214164114
  apps/ccd/ccd-case-print-service/ccd-case-print-service.yaml
  apps/ccd/ccd-case-print-service/demo.yaml
  apps/ccd/ccd-int/ccd-int.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/rd/profile-sync:prod-0e5be25-20230214164116
  apps/rd/rd-profile-sync-integration/rd-profile-sync-integration.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/user-profile-api:prod-493c75b-20230214164211
  apps/rd/rd-user-profile-api/rd-user-profile-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/user-profile-api:prod-493c75b-20230214164211
  apps/rd/rd-user-profile-api-integration/rd-user-profile-api-integration.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/professional-api:prod-b9d2fd8-20230214164319
  apps/rd/rd-professional-api/rd-professional-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/professional-api:prod-b9d2fd8-20230214164319
  apps/rd/rd-professional-api-integration/rd-professional-api-integration.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/et/cos:pr-556-e4280cb-20230214170151
  apps/et/et-cos/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/sscs/evidence-share:prod-4c72a1e-20230214165616
  apps/sscs/sscs-evidence-share/demo.yaml
  apps/sscs/sscs-evidence-share/sscs-evidence-share.yaml
Owners: @hmcts/sscs

updated charts version for adoption cron
  apps/adoption/adoption-cron-draft-case-deletion-alert/adoption-cron-draft-case-deletion-alert.yaml
Owners: @hmcts/reform-adoption

hmctspublic.azurecr.io/nfdiv/case-api:prod-d14640f-20230214173600 hmctspublic.azurecr.io/nfdiv/case-api:prod-d14640f-20230214173600
  apps/nfdiv/nfdiv-case-api/demo.yaml
  apps/nfdiv/nfdiv-case-api/nfdiv-case-api.yaml
  apps/nfdiv/nfdiv-cron-alert-application-not-reviewed/nfdiv-cron-alert-application-not-reviewed.yaml
  apps/nfdiv/nfdiv-cron-applicant-can-sts-after-intention-fo/nfdiv-cron-applicant-can-sts-after-intention-fo.yaml
  apps/nfdiv/nfdiv-cron-application-approved-reminder/nfdiv-cron-application-approved-reminder.yaml
  apps/nfdiv/nfdiv-cron-bulk-list-create/nfdiv-cron-bulk-list-create.yaml
  apps/nfdiv/nfdiv-cron-eligible-for-switch-to-sole/nfdiv-cron-eligible-for-switch-to-sole.yaml
  apps/nfdiv/nfdiv-cron-js-disputed-answer-overdue/nfdiv-cron-js-disputed-answer-overdue.yaml
  apps/nfdiv/nfdiv-cron-migrate-bulk-cases/nfdiv-cron-migrate-bulk-cases.yaml
  apps/nfdiv/nfdiv-cron-migrate-cases/nfdiv-cron-migrate-cases.yaml
  apps/nfdiv/nfdiv-cron-notify-applicant-dispute-form-overdue/nfdiv-cron-notify-applicant-dispute-form-overdue.yaml
  apps/nfdiv/nfdiv-cron-notify-applicants-apply-co/nfdiv-cron-notify-applicants-apply-co.yaml
  apps/nfdiv/nfdiv-cron-notify-respondent-apply-final-order/nfdiv-cron-notify-respondent-apply-final-order.yaml
  apps/nfdiv/nfdiv-cron-partner-not-applied-for-final-order/nfdiv-cron-partner-not-applied-for-final-order.yaml
  apps/nfdiv/nfdiv-cron-process-cases-to-be-removed/nfdiv-cron-process-cases-to-be-removed.yaml
  apps/nfdiv/nfdiv-cron-process-failed-pronounced-cases/nfdiv-cron-process-failed-pronounced-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-scheduled-cases/nfdiv-cron-process-failed-scheduled-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-to-unlink-cases/nfdiv-cron-process-failed-to-unlink-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-cases-to-aos-overdue/nfdiv-cron-progress-cases-to-aos-overdue.yaml
  apps/nfdiv/nfdiv-cron-progress-held-cases/nfdiv-cron-progress-held-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-to-awaiting-final-order/nfdiv-cron-progress-to-awaiting-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-applicant2/nfdiv-cron-remind-applicant2.yaml
  apps/nfdiv/nfdiv-cron-remind-applicants-apply-for-fo/nfdiv-cron-remind-applicants-apply-for-fo.yaml
  apps/nfdiv/nfdiv-cron-remind-awaiting-joint-final-order/nfdiv-cron-remind-awaiting-joint-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-respondent-solicitor/nfdiv-cron-remind-respondent-solicitor.yaml
  apps/nfdiv/nfdiv-cron-resend-co-pronounced-cover-letters/nfdiv-cron-resend-co-pronounced-cover-letters.yaml
Owners: @hmcts/no-fault-divorce

hmctspublic.azurecr.io/bulk-scan/processor:pr-2859-b7176e6-20230214173914
  apps/bsp/bulk-scan-processor/demo.yaml
Owners: @hmcts/bulk-scan

updated chart version
  apps/adoption/adoption-cron-draft-case-deletion-alert/adoption-cron-draft-case-deletion-alert.yaml
Owners: @hmcts/reform-adoption

hmctspublic.azurecr.io/et/cos:pr-556-0c191c9-20230214174710
  apps/et/et-cos/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/fis/hmc-api:prod-1b3b845-20230214174745
  apps/fis/fis-hmc-api/fis-hmc-api.yaml
  apps/fis/fis-hmc-api/prod.yaml
Owners: @hmcts/family-integration

Revert bulk-scan-processor PR deployment
  apps/bsp/bulk-scan-processor/demo-image-policy.yaml
  apps/bsp/bulk-scan-processor/demo.yaml
Owners: @hmcts/bulk-scan

updated task name
  apps/adoption/adoption-cron-draft-case-deletion-alert/adoption-cron-draft-case-deletion-alert.yaml
Owners: @hmcts/reform-adoption

hmctspublic.azurecr.io/civil/service:prod-59f1f9f-20230214175226
  apps/civil/civil-service/civil-service.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/finrem/cos:pr-859-569a575-20230214181022
  apps/financial-remedy/finrem-cos/demo.yaml
Owners: @hmcts/financial-remedy

hmctspublic.azurecr.io/et/cos:pr-556-350eab1-20230214191134
  apps/et/et-cos/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/dtsse/dashboard-ingestion:prod-208d62a-20230214191707
  apps/dtsse/dtsse-dashboard-ingestion/dtsse-dashboard-ingestion.yaml
Owners: @hmcts/rse

hmctspublic.azurecr.io/sscs/tribunals-api:prod-bbe3c95-20230214191058
  apps/sscs/sscs-tribunals-api/sscs-tribunals-api.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/em/npa:prod-f59c1c6-20230214192536 hmctspublic.azurecr.io/em/npa:prod-f59c1c6-20230214192536
  apps/em/em-npa/demo.yaml
  apps/em/em-npa/em-npa.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/dm/store:prod-4f43a61-20230214192446 hmctspublic.azurecr.io/dm/store:prod-4f43a61-20230214192446 hmctspublic.azurecr.io/dm/store:prod-4f43a61-20230214192446
  apps/ccd/ccd-int/ccd-int.yaml
  apps/dm-store/dm-store/demo.yaml
  apps/dm-store/dm-store/dm-store.yaml
  apps/dm-store/dm-store/perftest.yaml
  apps/money-claims/cmc-ccd/demo.yaml
Owners: @hmcts/cdm, @hmcts/evidence, @hmcts/cmc

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control
