Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control

hmctspublic.azurecr.io/probate/submit-service:prod-71098db-20230222155757 hmctspublic.azurecr.io/probate/submit-service:prod-71098db-20230222155757
  apps/probate/probate-submit-service/perftest.yaml
  apps/probate/probate-submit-service/probate-submit-service.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/sptribs/case-api:prod-43f3e02-20230222160251
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

update image
  apps/azure-devops/azure-devops-agent/azure-devops-agent.yaml
Owners: @hmcts/platform-operations

Add civil Work Allocation secret
  apps/civil/base/civil-values.enc.yaml
  apps/civil/base/kustomization.yaml
Owners: @hmcts/civil-admins, @hmcts/platform-operations

hmctspublic.azurecr.io/nfdiv/case-api:prod-8d8b985-20230222160022 hmctspublic.azurecr.io/nfdiv/case-api:prod-8d8b985-20230222160022
  apps/nfdiv/nfdiv-case-api/demo.yaml
  apps/nfdiv/nfdiv-case-api/nfdiv-case-api.yaml
  apps/nfdiv/nfdiv-cron-alert-application-not-reviewed/nfdiv-cron-alert-application-not-reviewed.yaml
  apps/nfdiv/nfdiv-cron-applicant-can-sts-after-intention-fo/nfdiv-cron-applicant-can-sts-after-intention-fo.yaml
  apps/nfdiv/nfdiv-cron-application-approved-reminder/nfdiv-cron-application-approved-reminder.yaml
  apps/nfdiv/nfdiv-cron-bulk-list-create/nfdiv-cron-bulk-list-create.yaml
  apps/nfdiv/nfdiv-cron-eligible-for-switch-to-sole/nfdiv-cron-eligible-for-switch-to-sole.yaml
  apps/nfdiv/nfdiv-cron-js-disputed-answer-overdue/nfdiv-cron-js-disputed-answer-overdue.yaml
  apps/nfdiv/nfdiv-cron-migrate-bulk-cases/nfdiv-cron-migrate-bulk-cases.yaml
  apps/nfdiv/nfdiv-cron-migrate-cases/nfdiv-cron-migrate-cases.yaml
  apps/nfdiv/nfdiv-cron-notify-applicant-dispute-form-overdue/nfdiv-cron-notify-applicant-dispute-form-overdue.yaml
  apps/nfdiv/nfdiv-cron-notify-applicants-apply-co/nfdiv-cron-notify-applicants-apply-co.yaml
  apps/nfdiv/nfdiv-cron-notify-respondent-apply-final-order/nfdiv-cron-notify-respondent-apply-final-order.yaml
  apps/nfdiv/nfdiv-cron-partner-not-applied-for-final-order/nfdiv-cron-partner-not-applied-for-final-order.yaml
  apps/nfdiv/nfdiv-cron-process-cases-to-be-removed/nfdiv-cron-process-cases-to-be-removed.yaml
  apps/nfdiv/nfdiv-cron-process-failed-pronounced-cases/nfdiv-cron-process-failed-pronounced-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-scheduled-cases/nfdiv-cron-process-failed-scheduled-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-to-unlink-cases/nfdiv-cron-process-failed-to-unlink-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-cases-to-aos-overdue/nfdiv-cron-progress-cases-to-aos-overdue.yaml
  apps/nfdiv/nfdiv-cron-progress-held-cases/nfdiv-cron-progress-held-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-to-awaiting-final-order/nfdiv-cron-progress-to-awaiting-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-applicant2/nfdiv-cron-remind-applicant2.yaml
  apps/nfdiv/nfdiv-cron-remind-applicants-apply-for-fo/nfdiv-cron-remind-applicants-apply-for-fo.yaml
  apps/nfdiv/nfdiv-cron-remind-awaiting-joint-final-order/nfdiv-cron-remind-awaiting-joint-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-respondent-solicitor/nfdiv-cron-remind-respondent-solicitor.yaml
  apps/nfdiv/nfdiv-cron-resend-co-pronounced-cover-letters/nfdiv-cron-resend-co-pronounced-cover-letters.yaml
Owners: @hmcts/no-fault-divorce

hmctspublic.azurecr.io/probate/submit-service:prod-365acb4-20230222160952 hmctspublic.azurecr.io/probate/submit-service:prod-365acb4-20230222160952
  apps/probate/probate-submit-service/perftest.yaml
  apps/probate/probate-submit-service/probate-submit-service.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/probate/caveats-fe:prod-eb5e193-20230222162458
  apps/probate/probate-caveats-fe/demo.yaml
  apps/probate/probate-caveats-fe/probate-caveats-fe.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/sptribs/case-api:prod-c45f140-20230222162637
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/probate/submit-service:prod-71aecea-20230222162637 hmctspublic.azurecr.io/probate/submit-service:prod-71aecea-20230222162637
  apps/probate/probate-submit-service/perftest.yaml
  apps/probate/probate-submit-service/probate-submit-service.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/probate/frontend:prod-f3eb0ff-20230222162502
  apps/probate/probate-frontend/demo.yaml
  apps/probate/probate-frontend/probate-frontend.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/et/sya:pr-647-6b76e35-20230222163322
  apps/et/et-sya/perftest.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/wa/task-management-api:prod-71b4bd8-20230222151832
  apps/wa/wa-task-management-api/ithc.yaml
  apps/wa/wa-task-management-api/perftest.yaml
  apps/wa/wa-task-management-api/wa-task-management-api.yaml
Owners: @hmcts/work-allocation

hmctspublic.azurecr.io/probate/submit-service:prod-c7f2fad-20230222164310 hmctspublic.azurecr.io/probate/submit-service:prod-c7f2fad-20230222164310
  apps/probate/probate-submit-service/perftest.yaml
  apps/probate/probate-submit-service/probate-submit-service.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/sscs/tya-notif:pr-2291-97353f8-20230222170620
  apps/sscs/sscs-tya-notif/demo.yaml
Owners: @hmcts/sscs

DSTPB-2794 update DTSPB-2794 update Demo Running Time
  apps/probate/probate-cron-ccd-data-migration-tool/demo/01.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/et/cos:pr-556-55265dc-20230222172936
  apps/et/et-cos/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/sptribs/case-api:prod-4615d94-20230222174253
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/sptribs/case-api:prod-42dd7c3-20230222195024
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/em/anno:prod-ff98701-20230222211321
  apps/ccd/ccd-int/ccd-int.yaml
  apps/em/em-anno/em-anno.yaml
Owners: @hmcts/cdm, @hmcts/evidence

hmctspublic.azurecr.io/em/hrs-ingestor:prod-0c41867-20230222211529
  apps/em/em-hrs-ingestor/em-hrs-ingestor.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/dtsse/dashboard-ingestion:prod-80ed526-20230223061946
  apps/dtsse/dtsse-dashboard-ingestion/dtsse-dashboard-ingestion.yaml
Owners: @hmcts/rse

hmctspublic.azurecr.io/bulk-scan/processor:prod-8f68044-20230223065414
  apps/bsp/bulk-scan-processor/bulk-scan-processor.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/bulk-scan/processor:prod-f6bd803-20230223070514
  apps/bsp/bulk-scan-processor/bulk-scan-processor.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/rpe/send-letter-service:prod-23f923f-20230223070450
  apps/money-claims/cmc-send-letter-service/cmc-send-letter-service.yaml
  apps/rpe/rpe-send-letter-service/rpe-send-letter-service.yaml
Owners: @hmcts/cmc, @hmcts/bulk-print

DTSPO-10292
  apps/admin/sbox/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/nfdiv/case-api:prod-10e2631-20230222164221 hmctspublic.azurecr.io/nfdiv/case-api:prod-10e2631-20230222164221
  apps/nfdiv/nfdiv-case-api/demo.yaml
  apps/nfdiv/nfdiv-case-api/nfdiv-case-api.yaml
  apps/nfdiv/nfdiv-cron-alert-application-not-reviewed/nfdiv-cron-alert-application-not-reviewed.yaml
  apps/nfdiv/nfdiv-cron-applicant-can-sts-after-intention-fo/nfdiv-cron-applicant-can-sts-after-intention-fo.yaml
  apps/nfdiv/nfdiv-cron-application-approved-reminder/nfdiv-cron-application-approved-reminder.yaml
  apps/nfdiv/nfdiv-cron-bulk-list-create/nfdiv-cron-bulk-list-create.yaml
  apps/nfdiv/nfdiv-cron-eligible-for-switch-to-sole/nfdiv-cron-eligible-for-switch-to-sole.yaml
  apps/nfdiv/nfdiv-cron-js-disputed-answer-overdue/nfdiv-cron-js-disputed-answer-overdue.yaml
  apps/nfdiv/nfdiv-cron-migrate-bulk-cases/nfdiv-cron-migrate-bulk-cases.yaml
  apps/nfdiv/nfdiv-cron-migrate-cases/nfdiv-cron-migrate-cases.yaml
  apps/nfdiv/nfdiv-cron-notify-applicant-dispute-form-overdue/nfdiv-cron-notify-applicant-dispute-form-overdue.yaml
  apps/nfdiv/nfdiv-cron-notify-applicants-apply-co/nfdiv-cron-notify-applicants-apply-co.yaml
  apps/nfdiv/nfdiv-cron-notify-respondent-apply-final-order/nfdiv-cron-notify-respondent-apply-final-order.yaml
  apps/nfdiv/nfdiv-cron-partner-not-applied-for-final-order/nfdiv-cron-partner-not-applied-for-final-order.yaml
  apps/nfdiv/nfdiv-cron-process-cases-to-be-removed/nfdiv-cron-process-cases-to-be-removed.yaml
  apps/nfdiv/nfdiv-cron-process-failed-pronounced-cases/nfdiv-cron-process-failed-pronounced-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-scheduled-cases/nfdiv-cron-process-failed-scheduled-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-to-unlink-cases/nfdiv-cron-process-failed-to-unlink-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-cases-to-aos-overdue/nfdiv-cron-progress-cases-to-aos-overdue.yaml
  apps/nfdiv/nfdiv-cron-progress-held-cases/nfdiv-cron-progress-held-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-to-awaiting-final-order/nfdiv-cron-progress-to-awaiting-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-applicant2/nfdiv-cron-remind-applicant2.yaml
  apps/nfdiv/nfdiv-cron-remind-applicants-apply-for-fo/nfdiv-cron-remind-applicants-apply-for-fo.yaml
  apps/nfdiv/nfdiv-cron-remind-awaiting-joint-final-order/nfdiv-cron-remind-awaiting-joint-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-respondent-solicitor/nfdiv-cron-remind-respondent-solicitor.yaml
  apps/nfdiv/nfdiv-cron-resend-co-pronounced-cover-letters/nfdiv-cron-resend-co-pronounced-cover-letters.yaml
Owners: @hmcts/no-fault-divorce

Update secret name and location
  apps/civil/base/civil-values.enc.yaml
  apps/civil/base/kustomization.yaml
  apps/civil/secrets/civil-work-allocation-secret.enc.yaml
Owners: @hmcts/civil-admins, @hmcts/platform-operations

hmctspublic.azurecr.io/sscs/hearings-api:prod-539ca6d-20230223082902
  apps/sscs/sscs-hearings-api/ithc.yaml
  apps/sscs/sscs-hearings-api/perftest.yaml
  apps/sscs/sscs-hearings-api/sscs-hearings-api.yaml
Owners: @hmcts/sscs

DTSPO-10292
  apps/admin/ithc/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/wa/case-event-handler:prod-efc4a69-20230222163358
  apps/wa/wa-case-event-handler/aat.yaml
  apps/wa/wa-case-event-handler/demo.yaml
  apps/wa/wa-case-event-handler/ithc.yaml
  apps/wa/wa-case-event-handler/perftest.yaml
  apps/wa/wa-case-event-handler/wa-case-event-handler.yaml
Owners: @hmcts/work-allocation

hmctsprivate.azurecr.io/docmosis:aat-6dbcf18-342482 hmctsprivate.azurecr.io/docmosis:demo-6dbcf18-342482 hmctsprivate.azurecr.io/docmosis:perftest-6dbcf18-342482
  apps/docmosis/docmosis/aat.yaml
  apps/docmosis/docmosis/demo.yaml
  apps/docmosis/docmosis/perftest.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/rpe/service-auth-provider:prod-1288ff2-20230223090430
  apps/ccd/ccd-int/ccd-int.yaml
  apps/rpe/rpe-service-auth-provider/rpe-service-auth-provider.yaml
Owners: @hmcts/cdm, @hmcts/platform-operations

hmctsprivate.azurecr.io/docmosis:prod-6dbcf18-342482 hmctsprivate.azurecr.io/docmosis:sandbox-6dbcf18-342482
  apps/docmosis/docmosis/docmosis.yaml
  apps/docmosis/docmosis/sbox.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/rpe/service-auth-provider:prod-1288ff2-20230223090430
  apps/money-claims/cmc-s2s/cmc-s2s.yaml
Owners: @hmcts/cmc

Revert "DTSPO-10292 azure_csi_driver"
  apps/admin/ithc/base/kustomization.yaml
Owners: @hmcts/platform-operations

disabling PRL from demo
  apps/xui/xui-webapp-wa-integration/demo.yaml
Owners: @hmcts/xui

Revert "DTSPO-10292 azure_csi_driver"
  apps/admin/sbox/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/civil/citizen-ui:prod-7ea69aa-20230223093049
  apps/civil/civil-citizen-ui/civil-citizen-ui.yaml
  apps/civil/civil-citizen-ui/demo.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/sptribs/case-api:prod-a406911-20230223095635
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

ET add aac to preview
  apps/et/preview/base/kustomization.yaml
Owners: @hmcts/platform-operations
