Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/production-apps-approvals, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/ctsc, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/rse, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations

# Restricting access to platops will we cleanup
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations

# AAT applications
## environment rules
k8s/aat/ @hmcts/platform-operations

# Production applications
## environment rules
k8s/prod/ @hmcts/production-apps-approvals

## Platform rules

k8s/common/ @hmcts/platform-operations
k8s/namespaces/ @hmcts/platform-operations
k8s/**/*-overlay/ @hmcts/platform-operations
k8s/prod/*/kube-system/ @hmcts/platform-operations
k8s/**/common/monitoring/ @hmcts/platform-operations
k8s/scripts/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations

### Next team

## application rules

### RPE
k8s/namespaces/rpe/ @hmcts/platform-operations
k8s/namespaces/camunda/ @hmcts/platform-operations
k8s/**/common/rpe/identity.yaml @hmcts/platform-operations
k8s/**/common/**/tests-values.yaml @hmcts/platform-operations

k8s/**/common/neuvector/ @hmcts/platform-operations

k8s/**/common/admin/ @hmcts/platform-operations


### Bulk Print
k8s/**/common/rpe/send-letter-identity.yaml @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

### Next team

##CCD
k8s/namespaces/ccd/ @hmcts/cdm
k8s/demo/common/ccd/*.yaml @hmcts/cdm
k8s/**/common/ccd/identity.yaml @hmcts/cdm
k8s/**/common/ccd/data-store-api.yaml @hmcts/cdm
k8s/**/common/ccd/definition-store-api.yaml @hmcts/cdm
k8s/**/common/ccd/user-profile-api.yaml @hmcts/cdm
k8s/**/common/ccd/api-gateway-web.yaml @hmcts/cdm
k8s/**/common/ccd/case-print-service.yaml @hmcts/cdm
k8s/**/common/ccd/admin-web.yaml @hmcts/cdm
k8s/aat/common/ccd/test-stubs-service.yaml @hmcts/cdm
k8s/**/common/ccd/case-activity-api.yaml @hmcts/cdm
k8s/**/common/ccd/case-management-web.yaml @hmcts/cdm

##AAC - CDM
k8s/namespaces/aac/ @hmcts/cdm
k8s/**/common/aac/identity.yaml @hmcts/cdm

##HMC - CDM
k8s/namespaces/hmc/ @hmcts/cdm
k8s/**/common/hmc/identity.yaml @hmcts/cdm

##CPO - CDM
k8s/namespaces/cpo/ @hmcts/cdm
k8s/**/common/cpo/identity.yaml @hmcts/cdm

##CMC
k8s/namespaces/money-claims/ @hmcts/cmc
k8s/**/common/money-claims/identity.yaml @hmcts/cmc
k8s/**/common/money-claims/claim-store.yaml @hmcts/cmc
k8s/**/common/money-claims/cmc-citizen-frontend.yaml @hmcts/cmc
k8s/**/common/money-claims/cmc-legal-frontend.yaml @hmcts/cmc

## I&A
k8s/namespaces/ia/ @hmcts/immigration-asylum
k8s/**/common/ia/identity.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-documents-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-notifications-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/aip-frontend.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/home-office-integration-api.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/home-office-mock-api.yaml @hmcts/immigration-asylum
k8s/ithc/common/ia/home-office-integration-api.yaml @hmcts/immigration-asylum
k8s/ithc/common/ia/home-office-mock-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/timed-event-service.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/case-payments-api.yaml @hmcts/immigration-asylum
k8s/demo/common/ia/case-payments-api.yaml @hmcts/immigration-asylum

## Divorce
k8s/namespaces/divorce/ @hmcts/divorce
k8s/demo/common/divorce/*.yaml @hmcts/divorce
k8s/**/common/divorce/identity.yaml @hmcts/divorce
k8s/**/common/divorce/div-emca.yaml @hmcts/divorce
k8s/**/common/divorce/div-cms.yaml @hmcts/divorce
k8s/**/common/divorce/div-dgs.yaml @hmcts/divorce
k8s/**/common/divorce/div-cos.yaml @hmcts/divorce
k8s/**/common/divorce/div-fps.yaml @hmcts/divorce
k8s/**/common/divorce/div-da.yaml @hmcts/divorce
k8s/**/common/divorce/div-dn.yaml @hmcts/divorce
k8s/**/common/divorce/div-rfe.yaml @hmcts/divorce
k8s/**/common/divorce/div-pfe.yaml @hmcts/divorce
k8s/**/common/divorce/div-cfs.yaml @hmcts/divorce


## Financial Remedy
k8s/namespaces/financial-remedy/ @hmcts/financial-remedy
k8s/**/common/financial-remedy/identity.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-ns.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-emca.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-cos.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-ps.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-dgcs.yaml @hmcts/financial-remedy

## Document Generation
k8s/namespaces/dg/ @hmcts/dts-dev
k8s/**/common/dg/identity.yaml @hmcts/dts-dev

## Document Management
k8s/namespaces/dm-store/ @hmcts/evidence
k8s/**/common/dm-store/identity.yaml @hmcts/evidence

## Evidence Management
k8s/namespaces/em/ @hmcts/evidence
k8s/**/common/em/identity.yaml @hmcts/evidence
k8s/aat/common/em/em-showcase.yaml @hmcts/evidence
k8s/**/common/em/em-icp.yaml @hmcts/evidence
k8s/**/cluster-*/em/em-icp.yaml @hmcts/evidence

## Probate
k8s/namespaces/probate/ @hmcts/probate
k8s/**/common/probate/identity.yaml @hmcts/probate
k8s/**/common/probate/business-service.yaml @hmcts/probate
k8s/**/common/probate/orchestrator-service.yaml @hmcts/probate
k8s/**/common/probate/submit-service.yaml @hmcts/probate
k8s/**/common/probate/probate-caveats-fe.yaml @hmcts/probate
k8s/**/common/probate/probate-frontend.yaml @hmcts/probate
k8s/**/common/probate/probate-back-office.yaml @hmcts/probate

## Reference Data
k8s/namespaces/rd/ @hmcts/ref-data
k8s/**/common/rd/identity.yaml @hmcts/ref-data
k8s/**/common/rd/professional-api.yaml @hmcts/ref-data
k8s/**/common/rd/profile-sync.yaml @hmcts/ref-data
k8s/**/cluster-00/rd/judicial-data-load.yaml @hmcts/ref-data @hmcts/ref-data
k8s/**/cluster-01/rd/judicial-data-load.yaml @hmcts/ref-data @hmcts/ref-data

## SSCS
k8s/namespaces/sscs/ @hmcts/sscs
k8s/**/common/sscs/identity.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tribunals-api.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-evidence-share.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tya-notif.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-bulk-scan.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-ccd-callback-orchestrator.yaml @hmcts/sscs
k8s/**/cluster-*/sscs/sscs-case-loader.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tribunals-frontend.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-cor-frontend.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-track-appeal-redirect-ingress.yaml @hmcts/sscs

## FPLA
k8s/namespaces/family-public-law/ @hmcts/fpl-admins
k8s/**/common/family-public-law/identity.yaml @hmcts/fpl-admins
k8s/**/common/family-public-law/fpl-case-service.yaml @hmcts/fpl-admins

### Adoption
k8s/namespaces/adoption/ @hmcts/fpl-admins
k8s/aat/common/adoption/identity.yaml @hmcts/fpl-admins
k8s/aat/common/adoption/adoption-frontend.yaml @hmcts/fpl-admins
k8s/aat/common/adoption/adoption-backend.yaml @hmcts/fpl-admins

## CTSC
k8s/namespaces/ctsc/ @hmcts/ctsc
k8s/**/common/ctsc/identity.yaml @hmcts/ctsc
k8s/**/common/ctsc/work-allocation.yaml @hmcts/ctsc

## cc-pay
k8s/namespaces/fees-pay/ @hmcts/Fees
k8s/**/common/fees-pay/identity.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-bulkscanning-app.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-payment-app.yaml @hmcts/Fees
k8s/**/common/fees-pay/fees-register-api.yaml @hmcts/Fees
k8s/**/common/fees-pay/fees-register-frontend.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-bubble-frontend.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-callback-function.yaml @hmcts/Fees

k8s/**/cluster-*/fees-pay/bar-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/card-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/finrem-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/pba-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/status-payment-job.yaml @hmcts/Fees

## bar
k8s/namespaces/bar/ @hmcts/Fees
k8s/**/common/bar/bar-app.yaml @hmcts/Fees
k8s/**/common/bar/bar-web.yaml @hmcts/Fees
k8s/**/common/bar/identity.yaml @hmcts/Fees

# IDAM
k8s/namespaces/idam/ @hmcts/idam
k8s/**/common/idam/idam-api.yaml @hmcts/idam
k8s/**/common/idam/idam-web-public.yaml @hmcts/idam
k8s/**/common/idam/idam-web-admin.yaml @hmcts/idam
k8s/**/common/idam/identity.yaml @hmcts/idam

## AM
k8s/namespaces/am/ @hmcts/am-devs
k8s/**/common/am/identity.yaml @hmcts/am-devs
k8s/aat/common/am/accessmgmt-api.yaml @hmcts/am-devs
k8s/perftest/common/am/accessmgmt-api.yaml @hmcts/am-devs
k8s/aat/common/am/am-role-assignment-service.yaml @hmcts/am-devs
k8s/aat/common/am/am-judicial-booking-service.yaml @hmcts/am-devs
k8s/aat/cluster-**/am/role-assignment-batch.yaml @hmcts/am-devs
k8s/aat/cluster-**/am/judicial-booking-batch-service.yaml @hmcts/am-devs
k8s/demo/common/am/am-role-assignment-service.yaml @hmcts/am-devs
k8s/perftest/common/am/am-role-assignment-service.yaml @hmcts/am-devs

## Ethos
k8s/namespaces/ethos/ @hmcts/ethos
k8s/**/common/ethos/identity.yaml @hmcts/ethos
k8s/**/common/ethos/repl-docmosis-service.yaml @hmcts/ethos
k8s/**/common/ethos/ecm-consumer.yaml @hmcts/ethos

### Bulk scan
k8s/namespaces/bsp/ @hmcts/bulk-scan
k8s/**/common/bsp/identity.yaml @hmcts/bulk-scan
k8s/aat/common/bsp/bulk-scan-sample-app.yaml @hmcts/bulk-scan
k8s/demo/common/bsp/bsp-demo.yaml @hmcts/bulk-scan
k8s/demo/common/bsp/bulk-scan-sample-app.yaml @hmcts/bulk-scan

### BSP but separate namespace and identity
k8s/namespaces/reform-scan/ @hmcts/bulk-scan
k8s/**/common/reform-scan/identity.yaml @hmcts/bulk-scan

### XUI
k8s/namespaces/xui/ @hmcts/xui
k8s/**/common/xui/identity.yaml @hmcts/xui
k8s/**/common/xui/xui-tc.yaml @hmcts/xui
k8s/**/common/xui/webapp.yaml @hmcts/xui
k8s/**/common/xui/manage-organisations.yaml @hmcts/xui
k8s/**/common/xui/approve-org.yaml @hmcts/xui
k8s/aat/common/xui/share-case.yaml @hmcts/xui
k8s/**/common/xui/register-org-ingress.yaml @hmcts/xui
k8s/perftest/common/xui/share-case.yaml @hmcts/xui

### PCQ
k8s/namespaces/pcq/ @hmcts/pcq-admins
k8s/**/common/pcq/identity.yaml @hmcts/pcq-admins
k8s/**/common/pcq/pcq-frontend.yaml @hmcts/pcq-admins
k8s/**/common/pcq/pcq-backend.yaml @hmcts/pcq-admins
k8s/**/cluster-*/pcq/pcq-consolidation-service.yaml @hmcts/pcq-admins
k8s/aat/cluster-*/pcq/pcq-loader.yaml @hmcts/pcq-admins
k8s/demo/cluster-*/pcq/pcq-loader.yaml @hmcts/pcq-admins

### RSE
k8s/namespaces/rse/ @hmcts/rse
k8s/aat/common/rse/check.yaml @hmcts/rse

### Civil
k8s/namespaces/civil/ @hmcts/civil-admins
k8s/aat/common/civil/identity.yaml @hmcts/civil-admins
k8s/demo/common/civil/identity.yaml @hmcts/civil-admins

### WORK ALLOCATION
k8s/namespaces/wa/ @hmcts/work-allocation
k8s/**/common/wa/identity.yaml @hmcts/work-allocation

### FACT
k8s/namespaces/fact/ @hmcts/fact
k8s/**/common/fact/identity.yaml @hmcts/fact

### NO FAULT DIVORCE
k8s/namespaces/nfdiv/ @hmcts/no-fault-divorce
k8s/**/common/nfdiv/identity.yaml @hmcts/no-fault-divorce

### Kustomization control

k8s/namespaces/**/kustomization.yaml @hmcts/platform-operations

Notes added by 'git notes add'
  1e/0237be68c99ab2adb0847c4f317ac002dd97b0
Owners: none

Notes added by 'git notes add'
  54/ca71f7752194dbbc793ebc3f17822f990251d1
Owners: none

Notes added by 'git notes add'
  c2/31/b357f4c16844e3a1a1b9e431224479ce1f55
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/ccd-callback-orchestrator:prod-3d5c7cc-20210825091212
  k8s/perftest/common/sscs/sscs-ccd-callback-orchestrator.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  cc/0f/5eba0e54ceb089d357ff61dbf363714ebeab
Owners: none

hmctspublic.azurecr.io/sscs/ccd-callback-orchestrator:prod-9cf04e6-20210825094345
  k8s/aat/common/sscs/sscs-ccd-callback-orchestrator.yaml
  k8s/ithc/common/sscs/sscs-ccd-callback-orchestrator.yaml
  k8s/perftest/common/sscs/sscs-ccd-callback-orchestrator.yaml
  k8s/prod/common/sscs/sscs-ccd-callback-orchestrator.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  62/b364975ca2476866f69862f712d895ad135fc3
Owners: none

Auto-release multiple (2) images
  k8s/demo/common/fees-pay/ccpay-bubble-frontend.yaml
  k8s/namespaces/family-public-law/fpl-case-service/demo.yaml
Owners: @hmcts/Fees, @hmcts/fpl-admins

Notes added by 'git notes add'
  d3/e62a1af1db5f90a2a9da4b66da9fd3ab90f738
Owners: none

Notes added by 'git notes add'
  2f/cbf5c53f86aa379919db4bcf2aa3cc33ea2fde
Owners: none

Notes added by 'git notes add'
  c1/cc/fce03cf17a068cd4e01b818e552447839545
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/ccd-callback-orchestrator:prod-3d5c7cc-20210825091212
  k8s/prod/common/sscs/sscs-ccd-callback-orchestrator.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  f8/2e/fb771d0ff1df4e9fd718b7334162aae6a9e8
Owners: none

Notes added by 'git notes add'
  7a/f0/90937e00e9c20640fde4161c42183b1d210a
Owners: none

Notes added by 'git notes add'
  12/80d75fe58d747cafe03b93b801480cd3114e64
Owners: none

added flux v2 image policies tag to bsp helm releases and removed pr-2042 image policy
  apps/bsp/bulk-scan-processor/pr-2024-image-policy.yaml
  k8s/aat/common/bsp/bulk-scan-sample-app.yaml
  k8s/namespaces/bsp/bulk-scan-orchestrator/bulk-scan-orchestrator.yaml
  k8s/namespaces/bsp/bulk-scan-payment-processor/bulk-scan-payment-processor.yaml
  k8s/namespaces/bsp/bulk-scan-processor/bulk-scan-processor.yaml
Owners: @hmcts/platform-operations, @hmcts/bulk-scan

Notes added by 'git notes add'
  b4/4daca761f7dfb1c41af7676ccb08f06410c72b
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/ccd-callback-orchestrator:prod-3d5c7cc-20210825091212
  k8s/aat/common/sscs/sscs-ccd-callback-orchestrator.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  33/4e/244caee9c48b277fe824feffe99646d1b82e
Owners: none

Notes added by 'git notes add'
  fb/1e/6e33de17b4a4681e3120e087f15149a513ad
Owners: none

Auto-release hmctsprivate.azurecr.io/docmosis:aat-d823680-168373
  k8s/namespaces/docmosis/docmosis/aat.yaml
Owners: @hmcts/platform-operations

Notes added by 'git notes add'
  f5/edb35f92e3d36c620033431b2d5bdae595d05b
Owners: none

Notes added by 'git notes add'
  50/98377f79f427b1b1e04031918435c4d97db0e8
Owners: none

Notes added by 'git notes add'
  c9/f3c0bf9620db13106b250d215d984b55967d2f
Owners: none

Notes added by 'git notes add'
  96/39443a860773b5ca6f768593438e629324a372
Owners: none

Notes added by 'git notes add'
  7b/513c0f3d69e1fb917ee080428bebe63549baaa
Owners: none

Notes added by 'git notes add'
  fa/da8b43c7fa54d097ec9bd496e291a69331dc5a
Owners: none

Auto-release hmctsprivate.azurecr.io/docmosis:demo-d823680-168373
  k8s/namespaces/docmosis/docmosis/demo.yaml
Owners: @hmcts/platform-operations

Notes added by 'git notes add'
  ab/132c7a2fc4bca87c10a2dddb458318f467e18b
Owners: none

Notes added by 'git notes add'
  c0/a1eab1f2b9fc9e42690ed75fa7bf9a9cbbae69
Owners: none

hmctspublic.azurecr.io/sscs/ccd-callback-orchestrator:prod-9cf04e6-20210825094345
  k8s/aat/common/sscs/sscs-ccd-callback-orchestrator.yaml
  k8s/prod/common/sscs/sscs-ccd-callback-orchestrator.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  83/60b930978374e1ea2ebbc8cb1b9f4449c014bd
Owners: none

Notes added by 'git notes add'
  dc/a8/a157f57bf8530e84a3a517e4537b80b15e28
Owners: none

Notes added by 'git notes add'
  b9/c52f0605487e9b7f9d4f11c2b6143c93f8e6c0
Owners: none

Auto-release hmctspublic.azurecr.io/ccpay/refunds-api:pr-34-63d3906-20210825115847
  k8s/namespaces/fees-pay/ccpay-refunds-api/demo.yaml
Owners: @hmcts/Fees

Notes added by 'git notes add'
  04/bde203b48f48779db3cb78a9d79c47b5561545
Owners: none

Notes added by 'git notes add'
  ff/4b70d6ebbb3725c2f2164ed35750f6eddeb5f3
Owners: none

Notes added by 'git notes add'
  eb/67/334905ed8c2e43d5df3ec73749bb8e869379
Owners: none

hmctsprivate.azurecr.io/docmosis:prod-d823680-168373
  apps/docmosis/docmosis/docmosis.yaml
Owners: @hmcts/platform-operations

added image policy and repo files for bsp
  apps/bsp/bulk-scan-orchestrator/orchestrator-test-image-policy.yaml
  apps/bsp/bulk-scan-orchestrator/orchestrator-test-image-repo.yaml
  apps/bsp/bulk-scan-payment-processor/payment-processor-test-image-policy.yaml
  apps/bsp/bulk-scan-payment-processor/payment-processor-test-image-repo.yaml
  apps/bsp/bulk-scan-processor/processor-test-image-policy.yaml
  apps/bsp/bulk-scan-processor/processor-test-image-repo.yaml
  apps/bsp/bulk-scan-sample-app/sample-app-test-image-policy.yaml
  apps/bsp/bulk-scan-sample-app/sample-app-test-image-repo.yaml
Owners: @hmcts/platform-operations
