Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control

hmctspublic.azurecr.io/civil/service:pr-2323-80628a9-20230302165602
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/prl/cos:pr-1087-f7f1d6b-20230302165817
  apps/private-law/prl-cos/ithc.yaml
Owners: @hmcts/private-law

hmctspublic.azurecr.io/ccd/data-store-api:prod-fd966d1-20230302162657
  apps/ccd/ccd-ac-int-data-store-api/demo.yaml
Owners: @hmcts/cdm

DFPL-1240: Updated base resource
  apps/family-public-law/demo/00/kustomization.yaml
  apps/family-public-law/demo/01/kustomization.yaml
  apps/family-public-law/demo/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/et/cos:pr-556-7a2326b-20230302171122
  apps/et/et-cos/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/civil/service:prod-166629b-20230302165737
  apps/civil/civil-service/civil-service.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/probate/back-office:prod-cbf7b16-20230302170411 hmctspublic.azurecr.io/probate/back-office:prod-cbf7b16-20230302170411
  apps/probate/probate-back-office/demo.yaml
  apps/probate/probate-back-office/probate-back-office.yaml
  apps/probate/probate-cron-hmrc-extract/demo/00.yaml
  apps/probate/probate-cron-hmrc-extract/demo/01.yaml
  apps/probate/probate-cron-make-dormant-cases/demo/00.yaml
  apps/probate/probate-cron-make-dormant-cases/demo/01.yaml
  apps/probate/probate-cron-make-dormant-cases/perftest/00.yaml
  apps/probate/probate-cron-make-dormant-cases/probate-cron-make-dormant-cases.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/demo/00.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/demo/01.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/perftest/00.yaml
  apps/probate/probate-cron-reactivate-dormant-cases/probate-cron-reactivate-dormant-cases.yaml
  apps/probate/probate-cron-smee-and-ford-extract/demo/demo.yaml
  apps/probate/probate-cron-smee-and-ford-extract/probate-cron-smee-and-ford-extract.yaml
Owners: @hmcts/probate

hmctspublic.azurecr.io/ia/case-documents-api:pr-520-23a64b4-20230302173253
  apps/ia/ia-case-documents-api/demo.yaml
Owners: @hmcts/immigration-asylum

hmctspublic.azurecr.io/et/cos:pr-556-f38f230-20230302183401
  apps/et/et-cos/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/sscs/tribunals-api:pr-3151-b773cad-20230302173830
  apps/sscs/sscs-tribunals-api/demo.yaml
Owners: @hmcts/sscs

DFPL-1240: Updated automation
  apps/family-public-law/automation/kustomization.yaml
  apps/family-public-law/base/kustomization.yaml
  apps/family-public-law/demo/base/kustomization.yaml
Owners: @hmcts/platform-operations

demo pr
  apps/sscs/sscs-hearings-api/demo-image-policy.yaml
  apps/sscs/sscs-hearings-api/demo.yaml
  apps/sscs/sscs-tribunals-api/demo-image-policy.yaml
  apps/sscs/sscs-tribunals-api/demo.yaml
Owners: @hmcts/sscs

demo pr
  apps/sscs/sscs-hearings-api/demo.yaml
  apps/sscs/sscs-tribunals-api/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/et/cos:pr-556-5f18f39-20230302185528
  apps/et/et-cos/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/sscs/hearings-api:pr-435-e61f3ed-20230127115408
  apps/sscs/sscs-hearings-api/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/sscs/hearings-api:pr-457-71e6c9d-20230223112801 hmctspublic.azurecr.io/sscs/tribunals-api:pr-3143-dc984f8-20230220144223
  apps/sscs/sscs-hearings-api/demo.yaml
  apps/sscs/sscs-tribunals-api/demo.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/em/stitching:pr-1408-6c10c66-20230302211421
  apps/em/em-stitching/demo.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/prl/cos:pr-1087-fbda052-20230303001234
  apps/private-law/prl-cos/ithc.yaml
Owners: @hmcts/private-law

hmctspublic.azurecr.io/bulk-scan/processor:prod-a5ee775-20230303064116
  apps/bsp/bulk-scan-processor/bulk-scan-processor.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/dtsse/dashboard-ingestion:prod-5abbfe9-20230303070732
  apps/dtsse/dtsse-dashboard-ingestion/dtsse-dashboard-ingestion.yaml
Owners: @hmcts/rse

DTSPB-3097 Hmrc AAT configs
  apps/probate/aat/00/kustomization.yaml
  apps/probate/aat/01/kustomization.yaml
  apps/probate/aat/base/kustomization.yaml
  apps/probate/probate-cron-hmrc-extract/aat/00.yaml
  apps/probate/probate-cron-hmrc-extract/aat/01.yaml
Owners: @hmcts/platform-operations, @hmcts/probate

hmctsprivate.azurecr.io/docmosis:prod-2c7d355-347147
  apps/docmosis/docmosis/docmosis.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/civil/service:prod-ee78c7e-20230303085325
  apps/civil/civil-service/civil-service.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/sptribs/case-api:prod-0dee6f3-20230303091954
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/rpe/slack-help-bot:prod-618e0ba-20230303092951
  apps/slack-help-bot/slack-help-bot/slack-help-bot.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/lau/case-backend:prod-9aee8b1-20230303092119
  apps/lau/lau-case-backend-int/lau-case-backend-int.yaml
  apps/lau/lau-case-backend/lau-case-backend.yaml
Owners: @hmcts/lau-admins

DFPL-1240: Moving updates to demo
  apps/family-public-law/base/kustomization.yaml
  apps/family-public-law/demo/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/draft-store/service:prod-87f937c-20230303093417
  apps/ccd/ccd-int/ccd-int.yaml
  apps/rpe/draft-store-service/draft-store-service.yaml
Owners: @hmcts/cdm, @hmcts/platform-operations

hmctspublic.azurecr.io/probate/submit-service:prod-e1cfd18-20230303093127 hmctspublic.azurecr.io/probate/submit-service:prod-e1cfd18-20230303093127
  apps/probate/probate-submit-service/perftest.yaml
  apps/probate/probate-submit-service/probate-submit-service.yaml
Owners: @hmcts/probate

DFPL-1240: Updating path to refer demo
  apps/family-public-law/demo/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/bulk-scan/processor:prod-25cce4a-20230303093931
  apps/bsp/bulk-scan-processor/bulk-scan-processor.yaml
Owners: @hmcts/bulk-scan

hmctspublic.azurecr.io/ia/case-api:pr-1273-d6035a4-20230303094746
  apps/ia/ia-case-api/demo.yaml
Owners: @hmcts/immigration-asylum

pr pointing
  apps/fees-pay/ccpay-refunds-api/demo-int-image-policy.yaml
Owners: @hmcts/Fees

DFPL-1240: Updating path to refer demo
  apps/family-public-law/demo/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/ccpay/refunds-api:pr-316-d6c833e-20230302171929
  apps/fees-pay/ccpay-refunds-api-int/demo.yaml
Owners: @hmcts/Fees

DFPL-1240: Correcting typo on perftest
  apps/family-public-law/fpl-cron-ccd-data-migration-tool/perftest-image-policy.yaml
Owners: @hmcts/fpl-admins

hmctspublic.azurecr.io/ccd/case-print-service:prod-4e95a17-20230303100240 hmctspublic.azurecr.io/ccd/case-print-service:prod-4e95a17-20230303100240
  apps/ccd/ccd-case-print-service/ccd-case-print-service.yaml
  apps/ccd/ccd-case-print-service/demo.yaml
  apps/ccd/ccd-int/ccd-int.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/xui/webapp:pr-2818-d0bb558-20230303095250
  apps/xui/xui-webapp-integration2/demo.yaml
Owners: @hmcts/xui

remove old vsts config
  apps/vsts/base/kustomization.yaml
  apps/vsts/base/kustomize.yaml
  apps/vsts/ptl-intsvc/base/kustomization.yaml
  apps/vsts/ptl-intsvc/base/vsts-token.yaml
  apps/vsts/sbox-intsvc/base/kustomization.yaml
  apps/vsts/sbox-intsvc/base/vsts-token.yaml
  apps/vsts/vsts/agent.yaml
  apps/vsts/vsts/sbox-intsvc.yaml
Owners: @hmcts/platform-operations

deployment of documents am client on ithc for testing
  apps/ia/ia-aip-frontend/ithc-image-policy.yaml
  apps/ia/ia-aip-frontend/ithc.yaml
  apps/ia/ia-bail-case-api/ithc-image-policy.yaml
  apps/ia/ia-bail-case-api/ithc.yaml
  apps/ia/ia-case-api/ithc-image-policy.yaml
  apps/ia/ia-case-documents-api/ithc.yaml
Owners: @hmcts/immigration-asylum
