Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/production-apps-approvals, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/ctsc, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/rse, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce

Notes added by 'git notes add'
  08/7ca60dffbba02c7ac9abac3edfe1e36e587e4b
Owners: none

Notes added by 'git notes add'
  84/492cda9113820beb49404dd504e50be76ed8f4
Owners: none

Notes added by 'git notes add'
  a9/1ee49a780773165dbcbbd2ccbcdf4d23312849
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/ccd-callback-orchestrator:prod-3d5c7cc-20210825091212
  k8s/perftest/common/sscs/sscs-ccd-callback-orchestrator.yaml
Owners: @hmcts/sscs

hmctspublic.azurecr.io/sscs/ccd-callback-orchestrator:prod-9cf04e6-20210825094345
  k8s/aat/common/sscs/sscs-ccd-callback-orchestrator.yaml
  k8s/ithc/common/sscs/sscs-ccd-callback-orchestrator.yaml
  k8s/perftest/common/sscs/sscs-ccd-callback-orchestrator.yaml
  k8s/prod/common/sscs/sscs-ccd-callback-orchestrator.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  cb/933aba63d917216fd6171d41ce229b9cdc5aa0
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/ccd-callback-orchestrator:prod-3d5c7cc-20210825091212
  k8s/prod/common/sscs/sscs-ccd-callback-orchestrator.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  8c/f5b6eee2cb162ede413650dc4833c550aa2d42
Owners: none

Notes added by 'git notes add'
  53/6a/c092bc3b180bfaa6de02b5e9c53c468514c1
Owners: none

Notes added by 'git notes add'
  a5/14b999be6744f504669aaf73cda9d7e559e18e
Owners: none

Notes added by 'git notes add'
  72/3096102220f67a8aaa5c1bfe4d8a827f3e34ae
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/ccd-callback-orchestrator:prod-3d5c7cc-20210825091212
  k8s/aat/common/sscs/sscs-ccd-callback-orchestrator.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  17/35/690c7df9f70b6c6fba5dfad03afef9bee0d5
Owners: none

hmctspublic.azurecr.io/sscs/ccd-callback-orchestrator:prod-9cf04e6-20210825094345
  k8s/aat/common/sscs/sscs-ccd-callback-orchestrator.yaml
  k8s/prod/common/sscs/sscs-ccd-callback-orchestrator.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  db/6e1832f0d212b3e152a89c52f983b7be697cc0
Owners: none

Notes added by 'git notes add'
  ba/ef8d1b0d9b36a5db644f3e7d4138b9b261b2af
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/ccd-callback-orchestrator:prod-3d5c7cc-20210825091212
  k8s/ithc/common/sscs/sscs-ccd-callback-orchestrator.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  a8/83/97fe6ebd11b42fc1eca4b985ef957894b395
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/ccd-callback-orchestrator:prod-3d5c7cc-20210825091212
  k8s/aat/common/sscs/sscs-ccd-callback-orchestrator.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  eb/48f33467d9b7639a2aad4afaea035f768a4cf7
Owners: none

Notes added by 'git notes add'
  12/f2344d821722e56484cc6c6e07ac2b55a1484c
Owners: none

Notes added by 'git notes add'
  90/7e929f8b30d71adc6851b81b2334f1528461da
Owners: none

Auto-release hmctspublic.azurecr.io/div/cms:prod-4eb7bc3-20210825103052
  k8s/aat/common/divorce/div-cms.yaml
Owners: @hmcts/divorce

Notes added by 'git notes add'
  27/82/dd7cae89a6bfaca26e8364c632f9c61c920b
Owners: none

Notes added by 'git notes add'
  3f/56a5aa31a65be048e21c2ec4830dbac9ccb85a
Owners: none

Notes added by 'git notes add'
  56/85/6e8231e8bccc4c1c24cf939900b09664dc97
Owners: none

Notes added by 'git notes add'
  f9/40fef832520959760a3cf642975bb42fa6c968
Owners: none

Auto-release hmctspublic.azurecr.io/sscs/ccd-callback-orchestrator:prod-3d5c7cc-20210825091212
  k8s/prod/common/sscs/sscs-ccd-callback-orchestrator.yaml
Owners: @hmcts/sscs

Notes added by 'git notes add'
  ef/452dc06b5fa4252d8df189425d72ec18076168
Owners: none

Notes added by 'git notes add'
  a8/6eef2d4e1d3198afb8d05a259b89ab53acabd3
Owners: none

Notes added by 'git notes add'
  f0/c8/23ff3ee912281a7662770899574234f8c165
Owners: none

Auto-release multiple (2) images
  k8s/demo/common/divorce/div-cms.yaml
  k8s/namespaces/fees-pay/ccpay-refunds-api/demo.yaml
Owners: @hmcts/divorce, @hmcts/Fees

Notes added by 'git notes add'
  31/9c0e7182b53da0ec0826cec7bb5502a9063304
Owners: none

Notes added by 'git notes add'
  95/672e7cf5f68049b27f2d3df93f69e0fae709d7
Owners: none

Notes added by 'git notes add'
  cb/78/6aedd944cb84398d8f0977bb49cda56fbe47
Owners: none

Notes added by 'git notes add'
  59/2f65af93b97665a71278aa5c6d02f3a25fdf84
Owners: none

Auto-release hmctspublic.azurecr.io/div/cms:prod-4eb7bc3-20210825103052
  k8s/ithc/common/divorce/div-cms.yaml
Owners: @hmcts/divorce

Notes added by 'git notes add'
  65/8d75dc0d5b83fc33aefa115565ceb151a77354
Owners: none

Notes added by 'git notes add'
  cf/eb7a56520d00c010efe8218377b8e0bf17fc29
Owners: none

Notes added by 'git notes add'
  a6/aab827265d7192c6c244069e007945e661dadd
Owners: none

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations

# Restricting access to platops will we cleanup
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations

# AAT applications
## environment rules
k8s/aat/ @hmcts/platform-operations

# Production applications
## environment rules
k8s/prod/ @hmcts/production-apps-approvals

## Platform rules

k8s/common/ @hmcts/platform-operations
k8s/namespaces/ @hmcts/platform-operations
k8s/**/*-overlay/ @hmcts/platform-operations
k8s/prod/*/kube-system/ @hmcts/platform-operations
k8s/**/common/monitoring/ @hmcts/platform-operations
k8s/scripts/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations

### Next team

## application rules

### RPE
k8s/namespaces/rpe/ @hmcts/platform-operations
k8s/namespaces/camunda/ @hmcts/platform-operations
k8s/**/common/rpe/identity.yaml @hmcts/platform-operations
k8s/**/common/**/tests-values.yaml @hmcts/platform-operations

k8s/**/common/neuvector/ @hmcts/platform-operations

k8s/**/common/admin/ @hmcts/platform-operations


### Bulk Print
k8s/**/common/rpe/send-letter-identity.yaml @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
k8s/namespaces/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

### Next team

##CCD
k8s/namespaces/ccd/ @hmcts/cdm
k8s/demo/common/ccd/*.yaml @hmcts/cdm
k8s/**/common/ccd/identity.yaml @hmcts/cdm
k8s/**/common/ccd/data-store-api.yaml @hmcts/cdm
k8s/**/common/ccd/definition-store-api.yaml @hmcts/cdm
k8s/**/common/ccd/user-profile-api.yaml @hmcts/cdm
k8s/**/common/ccd/api-gateway-web.yaml @hmcts/cdm
k8s/**/common/ccd/case-print-service.yaml @hmcts/cdm
k8s/**/common/ccd/admin-web.yaml @hmcts/cdm
k8s/aat/common/ccd/test-stubs-service.yaml @hmcts/cdm
k8s/**/common/ccd/case-activity-api.yaml @hmcts/cdm
k8s/**/common/ccd/case-management-web.yaml @hmcts/cdm

##AAC - CDM
k8s/namespaces/aac/ @hmcts/cdm
k8s/**/common/aac/identity.yaml @hmcts/cdm

##HMC - CDM
k8s/namespaces/hmc/ @hmcts/cdm
k8s/**/common/hmc/identity.yaml @hmcts/cdm

##CPO - CDM
k8s/namespaces/cpo/ @hmcts/cdm
k8s/**/common/cpo/identity.yaml @hmcts/cdm

##CMC
k8s/namespaces/money-claims/ @hmcts/cmc
k8s/**/common/money-claims/identity.yaml @hmcts/cmc
k8s/**/common/money-claims/claim-store.yaml @hmcts/cmc
k8s/**/common/money-claims/cmc-citizen-frontend.yaml @hmcts/cmc
k8s/**/common/money-claims/cmc-legal-frontend.yaml @hmcts/cmc

## I&A
k8s/namespaces/ia/ @hmcts/immigration-asylum
k8s/**/common/ia/identity.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-documents-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/case-notifications-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/aip-frontend.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/home-office-integration-api.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/home-office-mock-api.yaml @hmcts/immigration-asylum
k8s/ithc/common/ia/home-office-integration-api.yaml @hmcts/immigration-asylum
k8s/ithc/common/ia/home-office-mock-api.yaml @hmcts/immigration-asylum
k8s/**/common/ia/timed-event-service.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/case-payments-api.yaml @hmcts/immigration-asylum
k8s/demo/common/ia/case-payments-api.yaml @hmcts/immigration-asylum

## Divorce
k8s/namespaces/divorce/ @hmcts/divorce
k8s/demo/common/divorce/*.yaml @hmcts/divorce
k8s/**/common/divorce/identity.yaml @hmcts/divorce
k8s/**/common/divorce/div-emca.yaml @hmcts/divorce
k8s/**/common/divorce/div-cms.yaml @hmcts/divorce
k8s/**/common/divorce/div-dgs.yaml @hmcts/divorce
k8s/**/common/divorce/div-cos.yaml @hmcts/divorce
k8s/**/common/divorce/div-fps.yaml @hmcts/divorce
k8s/**/common/divorce/div-da.yaml @hmcts/divorce
k8s/**/common/divorce/div-dn.yaml @hmcts/divorce
k8s/**/common/divorce/div-rfe.yaml @hmcts/divorce
k8s/**/common/divorce/div-pfe.yaml @hmcts/divorce
k8s/**/common/divorce/div-cfs.yaml @hmcts/divorce


## Financial Remedy
k8s/namespaces/financial-remedy/ @hmcts/financial-remedy
k8s/**/common/financial-remedy/identity.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-ns.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-emca.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-cos.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-ps.yaml @hmcts/financial-remedy
k8s/**/common/financial-remedy/finrem-dgcs.yaml @hmcts/financial-remedy

## Document Generation
k8s/namespaces/dg/ @hmcts/dts-dev
k8s/**/common/dg/identity.yaml @hmcts/dts-dev

## Document Management
k8s/namespaces/dm-store/ @hmcts/evidence
k8s/**/common/dm-store/identity.yaml @hmcts/evidence

## Evidence Management
k8s/namespaces/em/ @hmcts/evidence
k8s/**/common/em/identity.yaml @hmcts/evidence
k8s/aat/common/em/em-showcase.yaml @hmcts/evidence
k8s/**/common/em/em-icp.yaml @hmcts/evidence
k8s/**/cluster-*/em/em-icp.yaml @hmcts/evidence

## Probate
k8s/namespaces/probate/ @hmcts/probate
k8s/**/common/probate/identity.yaml @hmcts/probate
k8s/**/common/probate/business-service.yaml @hmcts/probate
k8s/**/common/probate/orchestrator-service.yaml @hmcts/probate
k8s/**/common/probate/submit-service.yaml @hmcts/probate
k8s/**/common/probate/probate-caveats-fe.yaml @hmcts/probate
k8s/**/common/probate/probate-frontend.yaml @hmcts/probate
k8s/**/common/probate/probate-back-office.yaml @hmcts/probate

## Reference Data
k8s/namespaces/rd/ @hmcts/ref-data
k8s/**/common/rd/identity.yaml @hmcts/ref-data
k8s/**/common/rd/professional-api.yaml @hmcts/ref-data
k8s/**/common/rd/profile-sync.yaml @hmcts/ref-data
k8s/**/cluster-00/rd/judicial-data-load.yaml @hmcts/ref-data @hmcts/ref-data
k8s/**/cluster-01/rd/judicial-data-load.yaml @hmcts/ref-data @hmcts/ref-data

## SSCS
k8s/namespaces/sscs/ @hmcts/sscs
k8s/**/common/sscs/identity.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tribunals-api.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-evidence-share.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tya-notif.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-bulk-scan.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-ccd-callback-orchestrator.yaml @hmcts/sscs
k8s/**/cluster-*/sscs/sscs-case-loader.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-tribunals-frontend.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-cor-frontend.yaml @hmcts/sscs
k8s/**/common/sscs/sscs-track-appeal-redirect-ingress.yaml @hmcts/sscs

## FPLA
k8s/namespaces/family-public-law/ @hmcts/fpl-admins
k8s/**/common/family-public-law/identity.yaml @hmcts/fpl-admins
k8s/**/common/family-public-law/fpl-case-service.yaml @hmcts/fpl-admins

### Adoption
k8s/namespaces/adoption/ @hmcts/fpl-admins
k8s/aat/common/adoption/identity.yaml @hmcts/fpl-admins
k8s/aat/common/adoption/adoption-frontend.yaml @hmcts/fpl-admins
k8s/aat/common/adoption/adoption-backend.yaml @hmcts/fpl-admins

## CTSC
k8s/namespaces/ctsc/ @hmcts/ctsc
k8s/**/common/ctsc/identity.yaml @hmcts/ctsc
k8s/**/common/ctsc/work-allocation.yaml @hmcts/ctsc

## cc-pay
k8s/namespaces/fees-pay/ @hmcts/Fees
k8s/**/common/fees-pay/identity.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-bulkscanning-app.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-payment-app.yaml @hmcts/Fees
k8s/**/common/fees-pay/fees-register-api.yaml @hmcts/Fees
k8s/**/common/fees-pay/fees-register-frontend.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-bubble-frontend.yaml @hmcts/Fees
k8s/**/common/fees-pay/ccpay-callback-function.yaml @hmcts/Fees

k8s/**/cluster-*/fees-pay/bar-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/card-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/finrem-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/pba-payment-job.yaml @hmcts/Fees
k8s/**/cluster-*/fees-pay/status-payment-job.yaml @hmcts/Fees

## bar
k8s/namespaces/bar/ @hmcts/Fees
k8s/**/common/bar/bar-app.yaml @hmcts/Fees
k8s/**/common/bar/bar-web.yaml @hmcts/Fees
k8s/**/common/bar/identity.yaml @hmcts/Fees

# IDAM
k8s/namespaces/idam/ @hmcts/idam
k8s/**/common/idam/idam-api.yaml @hmcts/idam
k8s/**/common/idam/idam-web-public.yaml @hmcts/idam
k8s/**/common/idam/idam-web-admin.yaml @hmcts/idam
k8s/**/common/idam/identity.yaml @hmcts/idam

## AM
k8s/namespaces/am/ @hmcts/am-devs
k8s/**/common/am/identity.yaml @hmcts/am-devs
k8s/aat/common/am/accessmgmt-api.yaml @hmcts/am-devs
k8s/perftest/common/am/accessmgmt-api.yaml @hmcts/am-devs
k8s/aat/common/am/am-role-assignment-service.yaml @hmcts/am-devs
k8s/aat/common/am/am-judicial-booking-service.yaml @hmcts/am-devs
k8s/aat/cluster-**/am/role-assignment-batch.yaml @hmcts/am-devs
k8s/aat/cluster-**/am/judicial-booking-batch-service.yaml @hmcts/am-devs
k8s/demo/common/am/am-role-assignment-service.yaml @hmcts/am-devs
k8s/perftest/common/am/am-role-assignment-service.yaml @hmcts/am-devs

## Ethos
k8s/namespaces/ethos/ @hmcts/ethos
k8s/**/common/ethos/identity.yaml @hmcts/ethos
k8s/**/common/ethos/repl-docmosis-service.yaml @hmcts/ethos
k8s/**/common/ethos/ecm-consumer.yaml @hmcts/ethos

### Bulk scan
k8s/namespaces/bsp/ @hmcts/bulk-scan
k8s/**/common/bsp/identity.yaml @hmcts/bulk-scan
k8s/aat/common/bsp/bulk-scan-sample-app.yaml @hmcts/bulk-scan
k8s/demo/common/bsp/bsp-demo.yaml @hmcts/bulk-scan
k8s/demo/common/bsp/bulk-scan-sample-app.yaml @hmcts/bulk-scan

### BSP but separate namespace and identity
k8s/namespaces/reform-scan/ @hmcts/bulk-scan
k8s/**/common/reform-scan/identity.yaml @hmcts/bulk-scan

### XUI
k8s/namespaces/xui/ @hmcts/xui
k8s/**/common/xui/identity.yaml @hmcts/xui
k8s/**/common/xui/xui-tc.yaml @hmcts/xui
k8s/**/common/xui/webapp.yaml @hmcts/xui
k8s/**/common/xui/manage-organisations.yaml @hmcts/xui
k8s/**/common/xui/approve-org.yaml @hmcts/xui
k8s/aat/common/xui/share-case.yaml @hmcts/xui
k8s/**/common/xui/register-org-ingress.yaml @hmcts/xui
k8s/perftest/common/xui/share-case.yaml @hmcts/xui

### PCQ
k8s/namespaces/pcq/ @hmcts/pcq-admins
k8s/**/common/pcq/identity.yaml @hmcts/pcq-admins
k8s/**/common/pcq/pcq-frontend.yaml @hmcts/pcq-admins
k8s/**/common/pcq/pcq-backend.yaml @hmcts/pcq-admins
k8s/**/cluster-*/pcq/pcq-consolidation-service.yaml @hmcts/pcq-admins
k8s/aat/cluster-*/pcq/pcq-loader.yaml @hmcts/pcq-admins
k8s/demo/cluster-*/pcq/pcq-loader.yaml @hmcts/pcq-admins

### RSE
k8s/namespaces/rse/ @hmcts/rse
k8s/aat/common/rse/check.yaml @hmcts/rse

### Civil
k8s/namespaces/civil/ @hmcts/civil-admins
k8s/aat/common/civil/identity.yaml @hmcts/civil-admins
k8s/demo/common/civil/identity.yaml @hmcts/civil-admins

### WORK ALLOCATION
k8s/namespaces/wa/ @hmcts/work-allocation
k8s/**/common/wa/identity.yaml @hmcts/work-allocation

### FACT
k8s/namespaces/fact/ @hmcts/fact
k8s/**/common/fact/identity.yaml @hmcts/fact

### NO FAULT DIVORCE
k8s/namespaces/nfdiv/ @hmcts/no-fault-divorce
k8s/**/common/nfdiv/identity.yaml @hmcts/no-fault-divorce

### Kustomization control

k8s/namespaces/**/kustomization.yaml @hmcts/platform-operations
