Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

hmctspublic.azurecr.io/et/sya-api:pr-242-45a6334-20230215143842
  apps/et/et-sya-api/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/et/sya:pr-562-0748944-20230215144047
  apps/et/et-sya/ithc.yaml
Owners: @hmcts/employment-tribunals

Update demo-00.yaml
  apps/rd/rd-location-ref-data-load/demo-00.yaml
Owners: @hmcts/ref-data

Update demo-01.yaml
  apps/rd/rd-location-ref-data-load/demo-01.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/xui/webapp:pr-2769-bd121d2-20230215144056
  apps/xui/xui-webapp-integration2/demo.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/em/anno:prod-cc6e86c-20230215144729 hmctspublic.azurecr.io/em/npa:prod-1949acd-20230215144818 hmctspublic.azurecr.io/em/npa:prod-1949acd-20230215144818
  apps/ccd/ccd-int/ccd-int.yaml
  apps/em/em-anno/demo.yaml
  apps/em/em-anno/em-anno.yaml
  apps/em/em-npa/demo.yaml
  apps/em/em-npa/em-npa.yaml
Owners: @hmcts/cdm, @hmcts/evidence

et-sya-api 1.1.2
  apps/et/et-sya-api/demo-image-policy.yaml
  apps/et/et-sya-api/demo.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/em/stitching:prod-a48060f-20230215145115 hmctspublic.azurecr.io/em/stitching:prod-a48060f-20230215145115 hmctspublic.azurecr.io/em/stitching:prod-a48060f-20230215145115
  apps/em/em-stitching/demo.yaml
  apps/em/em-stitching/em-stitching.yaml
  apps/em/em-stitching/perftest.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/sptribs/case-api:prod-ab5ae9d-20230215145934
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/pcq/backend:prod-fb53de9-20230215150549
  apps/pcq/pcq-backend-int/pcq-backend-int.yaml
  apps/pcq/pcq-backend/pcq-backend.yaml
Owners: @hmcts/pcq-admins

Update demo-00.yaml
  apps/rd/rd-location-ref-data-load/demo-00.yaml
Owners: @hmcts/ref-data

Update ithc.yaml
  apps/adoption/adoption-web/ithc.yaml
Owners: @hmcts/reform-adoption

hmctspublic.azurecr.io/et/sya-api:pr-193-6df2620-20230215141945
  apps/et/et-sya-api/demo.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/et/sya-api:pr-264-5cb4bf7-20230215142001
  apps/et/et-sya-api/demo.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/civil/service:pr-2181-3dbcc72-20230215151735
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

Update demo-01.yaml
  apps/rd/rd-location-ref-data-load/demo-01.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/civil/service:prod-e230ce4-20230215150705
  apps/civil/civil-service/civil-service.yaml
Owners: @hmcts/civil-admins

Update image policy for ITHC
  apps/adoption/adoption-cos-api/ithc.yaml
Owners: @hmcts/reform-adoption

hmctspublic.azurecr.io/wa/task-monitor:prod-75033cf-20230215153114
  apps/wa/wa-task-monitor/ithc.yaml
  apps/wa/wa-task-monitor/perftest.yaml
  apps/wa/wa-task-monitor/wa-task-monitor.yaml
Owners: @hmcts/work-allocation

Correcting appinsight instrumentation key
  apps/adoption/adoption-web/ithc.yaml
Owners: @hmcts/reform-adoption

hmctspublic.azurecr.io/adoption/cos-api:pr-677-1de8a7b-20230215155545 hmctspublic.azurecr.io/adoption/cos-api:pr-677-1de8a7b-20230215155545
  apps/adoption/adoption-cos-api/demo.yaml
  apps/adoption/adoption-cos-api/ithc.yaml
  apps/adoption/adoption-cron-draft-case-deletion-alert/demo.yaml
Owners: @hmcts/reform-adoption

hmctspublic.azurecr.io/ccpay/cpo-update-service:prod-a4e468d-20230215161334 hmctspublic.azurecr.io/ccpay/cpo-update-service:prod-a4e468d-20230215161334
  apps/fees-pay/ccpay-cpo-update-service-int/ccpay-cpo-update-service-int.yaml
  apps/fees-pay/ccpay-cpo-update-service-int/demo.yaml
  apps/fees-pay/ccpay-cpo-update-service/ccpay-cpo-update-service.yaml
  apps/fees-pay/ccpay-cpo-update-service/demo.yaml
Owners: @hmcts/Fees

hmctspublic.azurecr.io/et/sya:pr-562-2c5a068-20230215162625
  apps/et/et-sya/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/rd/commondata-api:prod-af6f894-20230215162743
  apps/rd/rd-commondata-api/rd-commondata-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/judicial-api:prod-708e776-20230215162745
  apps/rd/rd-judicial-api/demo.yaml
  apps/rd/rd-judicial-api/rd-judicial-api.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/rd/judicial-api:prod-708e776-20230215162745
  apps/rd/rd-judicial-api-integration/rd-judicial-api-integration.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/sptribs/case-api:prod-16cde9f-20230215163225
  apps/sptribs/sptribs-case-api/sptribs-case-api.yaml
Owners: @hmcts/platform-operations

updated image policy
  apps/fis/fis-hmc-api/ithc.yaml
  apps/fis/fis-hmc-api/perftest.yaml
Owners: @hmcts/family-integration

XUI demo-int update flag
  apps/xui/xui-webapp-integration/demo.yaml
Owners: @hmcts/xui

XUI demo-int update flag (#20983)
  apps/xui/xui-webapp-integration/demo.yaml
Owners: @hmcts/xui

SSCS-11381 - deploy sya to sscs demo
  apps/sscs/sscs-tya-notif/demo-image-policy.yaml
Owners: @hmcts/sscs

hmctsprivate.azurecr.io/docmosis:prod-4a694f3-338586
  apps/docmosis/docmosis/docmosis.yaml
Owners: @hmcts/platform-operations

SSCS-11381 - deploy sya to sscs demo
  apps/sscs/sscs-tya-notif/demo.yaml
Owners: @hmcts/sscs

Cmc-claim-store revert to prod
  apps/money-claims/cmc-claim-store/demo.yaml
Owners: @hmcts/cmc

add whitelist for OCMC demo
  apps/dm-store/dm-store/demo.yaml
Owners: @hmcts/evidence

hmctspublic.azurecr.io/sscs/tya-notif:pr-2266-ec5c353-20230214094704
  apps/sscs/sscs-tya-notif/demo.yaml
Owners: @hmcts/sscs

Update demo-01.yaml
  apps/rd/rd-location-ref-data-load/demo-01.yaml
Owners: @hmcts/ref-data

hmctspublic.azurecr.io/et/cos:pr-556-fdd1c88-20230215165100
  apps/et/et-cos/ithc.yaml
Owners: @hmcts/employment-tribunals

cmc-claim-store to prod
  apps/money-claims/cmc-claim-store/demo.yaml
Owners: @hmcts/cmc

update image policy
  apps/money-claims/cmc-claim-store/demo-image-policy.yaml
Owners: @hmcts/cmc

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control
