Repository hmcts/cnp-flux-config, changes with the owners that CODEOWNERS names for each.
All owners: @hmcts/platform-operations, @hmcts/bulk-print, @hmcts/cdm, @hmcts/cmc, @hmcts/immigration-asylum, @hmcts/divorce, @hmcts/financial-remedy, @hmcts/dts-dev, @hmcts/evidence, @hmcts/probate, @hmcts/ref-data, @hmcts/sscs, @hmcts/fpl-admins, @hmcts/reform-adoption, @hmcts/Fees, @hmcts/idam, @hmcts/am-devs, @hmcts/ethos, @hmcts/bulk-scan, @hmcts/xui, @hmcts/pcq-admins, @hmcts/lau-admins, @hmcts/civil-admins, @hmcts/work-allocation, @hmcts/fact, @hmcts/no-fault-divorce, @hmcts/private-law, @hmcts/employment-tribunals, @hmcts/family-integration, @hmcts/rse

Dtspo-10291 remove csi_driver
  apps/admin/ptl-intsvc/base/kustomization.yaml
Owners: @hmcts/platform-operations

DTSPO-10291 demo: remove csi_driver
  apps/admin/demo/base/kustomization.yaml
Owners: @hmcts/platform-operations

Update kustomization.yaml
  clusters/ptl-intsvc/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/nfdiv/case-api:prod-a7567ed-20230228113553 hmctspublic.azurecr.io/nfdiv/case-api:prod-a7567ed-20230228113553
  apps/nfdiv/nfdiv-case-api/demo.yaml
  apps/nfdiv/nfdiv-case-api/nfdiv-case-api.yaml
  apps/nfdiv/nfdiv-cron-alert-application-not-reviewed/nfdiv-cron-alert-application-not-reviewed.yaml
  apps/nfdiv/nfdiv-cron-applicant-can-sts-after-intention-fo/nfdiv-cron-applicant-can-sts-after-intention-fo.yaml
  apps/nfdiv/nfdiv-cron-application-approved-reminder/nfdiv-cron-application-approved-reminder.yaml
  apps/nfdiv/nfdiv-cron-bulk-list-create/nfdiv-cron-bulk-list-create.yaml
  apps/nfdiv/nfdiv-cron-eligible-for-switch-to-sole/nfdiv-cron-eligible-for-switch-to-sole.yaml
  apps/nfdiv/nfdiv-cron-js-disputed-answer-overdue/nfdiv-cron-js-disputed-answer-overdue.yaml
  apps/nfdiv/nfdiv-cron-migrate-bulk-cases/nfdiv-cron-migrate-bulk-cases.yaml
  apps/nfdiv/nfdiv-cron-migrate-cases/nfdiv-cron-migrate-cases.yaml
  apps/nfdiv/nfdiv-cron-notify-applicant-dispute-form-overdue/nfdiv-cron-notify-applicant-dispute-form-overdue.yaml
  apps/nfdiv/nfdiv-cron-notify-applicants-apply-co/nfdiv-cron-notify-applicants-apply-co.yaml
  apps/nfdiv/nfdiv-cron-notify-respondent-apply-final-order/nfdiv-cron-notify-respondent-apply-final-order.yaml
  apps/nfdiv/nfdiv-cron-partner-not-applied-for-final-order/nfdiv-cron-partner-not-applied-for-final-order.yaml
  apps/nfdiv/nfdiv-cron-process-cases-to-be-removed/nfdiv-cron-process-cases-to-be-removed.yaml
  apps/nfdiv/nfdiv-cron-process-failed-pronounced-cases/nfdiv-cron-process-failed-pronounced-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-scheduled-cases/nfdiv-cron-process-failed-scheduled-cases.yaml
  apps/nfdiv/nfdiv-cron-process-failed-to-unlink-cases/nfdiv-cron-process-failed-to-unlink-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-cases-to-aos-overdue/nfdiv-cron-progress-cases-to-aos-overdue.yaml
  apps/nfdiv/nfdiv-cron-progress-held-cases/nfdiv-cron-progress-held-cases.yaml
  apps/nfdiv/nfdiv-cron-progress-to-awaiting-final-order/nfdiv-cron-progress-to-awaiting-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-applicant2/nfdiv-cron-remind-applicant2.yaml
  apps/nfdiv/nfdiv-cron-remind-applicants-apply-for-fo/nfdiv-cron-remind-applicants-apply-for-fo.yaml
  apps/nfdiv/nfdiv-cron-remind-awaiting-joint-final-order/nfdiv-cron-remind-awaiting-joint-final-order.yaml
  apps/nfdiv/nfdiv-cron-remind-respondent-solicitor/nfdiv-cron-remind-respondent-solicitor.yaml
  apps/nfdiv/nfdiv-cron-resend-co-pronounced-cover-letters/nfdiv-cron-resend-co-pronounced-cover-letters.yaml
Owners: @hmcts/no-fault-divorce

hmctspublic.azurecr.io/cpo/case-payment-orders-api:prod-dbb3070-20230228114926
  apps/cpo/case-payment-orders-api-int/demo.yaml
  apps/cpo/case-payment-orders-api/case-payment-orders-api.yaml
Owners: @hmcts/cdm

hmctspublic.azurecr.io/hmc/cft-hearing-service:prod-e5efda9-20230228114959 hmctspublic.azurecr.io/hmc/cft-hearing-service:prod-e5efda9-20230228114959
  apps/hmc/hmc-cft-hearing-service-int/demo.yaml
  apps/hmc/hmc-cft-hearing-service/demo.yaml
  apps/hmc/hmc-cft-hearing-service/hmc-cft-hearing-service.yaml
Owners: @hmcts/cdm

DTSPO-10291 update csi-driver
  clusters/aat/base/kustomization.yaml
Owners: @hmcts/platform-operations

Update kustomization.yaml
  clusters/prod/base/kustomization.yaml
Owners: @hmcts/platform-operations

dtspo-10291 aat: remove csi_driver
  apps/admin/aat/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/civil/general-applications:prod-7af6053-20230228114833 hmctspublic.azurecr.io/ccd/user-profile-api:prod-cbca0b8-20230228120041
  apps/ccd/ccd-int/ccd-int.yaml
  apps/ccd/ccd-user-profile-api/ccd-user-profile-api.yaml
  apps/civil/civil-general-applications/civil-general-applications.yaml
  apps/civil/civil-general-applications/demo.yaml
  apps/money-claims/cmc-ccd/demo.yaml
Owners: @hmcts/cdm, @hmcts/civil-admins, @hmcts/cmc

Update kustomization.yaml
  apps/admin/prod/base/kustomization.yaml
Owners: @hmcts/platform-operations

Revert "dtspo-10291. csi_driver"
  clusters/demo/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/am/role-assignment-service:prod-6d78e4e-20230228120145
  apps/am/am-role-assignment-service/am-role-assignment-service.yaml
  apps/ccd/ccd-int/ccd-int.yaml
Owners: @hmcts/am-devs, @hmcts/cdm

Revert "dtspo-10291 Update csi_driver"
  clusters/ptl-intsvc/base/kustomization.yaml
Owners: @hmcts/platform-operations

Update demo.yaml
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

Update demo.yaml (#21247)
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/et/sya-api:pr-264-a085970-20230228122314
  apps/et/et-sya-api/demo.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/civil/service:pr-2323-0a8d818-20230228122148
  apps/civil/civil-service/demo.yaml
Owners: @hmcts/civil-admins

hmctspublic.azurecr.io/am/role-assignment-service:prod-9dafc23-20230228122121
  apps/am/am-role-assignment-service/am-role-assignment-service.yaml
  apps/ccd/ccd-int/ccd-int.yaml
Owners: @hmcts/am-devs, @hmcts/cdm

hmctspublic.azurecr.io/fpl/case-service:prod-9d9a96a-20230228121157 hmctspublic.azurecr.io/sscs/tribunals-api:prod-af0be3f-20230228121441
  apps/family-public-law/fpl-case-service/fpl-case-service.yaml
  apps/family-public-law/fpl-case-service/ithc.yaml
  apps/sscs/sscs-tribunals-api/sscs-tribunals-api.yaml
Owners: @hmcts/fpl-admins, @hmcts/sscs

hmctspublic.azurecr.io/xui/webapp:pr-2802-3b50aca-20230228121730
  apps/xui/xui-webapp-wa-integration/demo.yaml
Owners: @hmcts/xui

Trigger build
  apps/probate/probate-frontend/probate-frontend.yaml
Owners: @hmcts/probate

demo deployment for Release 3.5 demo branch.
  apps/private-law/prl-cos/demo.yaml
Owners: @hmcts/private-law

hmctspublic.azurecr.io/adoption/web:pr-956-405288e-20230228130316
  apps/adoption/adoption-web/demo.yaml
  apps/adoption/adoption-web/ithc.yaml
Owners: @hmcts/reform-adoption

hmctspublic.azurecr.io/div/pfe:prod-dc1b27a-20230228130607
  apps/divorce/div-pfe/div-pfe.yaml
Owners: @hmcts/divorce

hmctspublic.azurecr.io/am/org-role-mapping-service:prod-cf83200-20230228130935
  apps/am/am-org-role-mapping-service/am-org-role-mapping-service.yaml
Owners: @hmcts/am-devs

hmctspublic.azurecr.io/ia/case-api:pr-1273-117de97-20230228132047
  apps/ia/ia-case-api/demo.yaml
Owners: @hmcts/immigration-asylum

add identity for preview
  apps/ia/preview/base/kustomization.yaml
  apps/sscs/preview/base/kustomization.yaml
Owners: @hmcts/platform-operations

fix
  apps/ia/preview/base/kustomization.yaml
  apps/sscs/preview/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/et/sya-api:pr-242-212e7ad-20230228132457
  apps/et/et-sya-api/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/et/sya-api:pr-242-8501d01-20230228133006
  apps/et/et-sya-api/ithc.yaml
Owners: @hmcts/employment-tribunals

hmctspublic.azurecr.io/civil/service:prod-dd9f19f-20230228132756
  apps/civil/civil-service/civil-service.yaml
Owners: @hmcts/civil-admins

hmctsprivate.azurecr.io/docmosis:aat-f6c9e2a-345158 hmctsprivate.azurecr.io/docmosis:demo-f6c9e2a-345158 hmctsprivate.azurecr.io/docmosis:ithc-f6c9e2a-345158
  apps/docmosis/docmosis/aat.yaml
  apps/docmosis/docmosis/demo.yaml
  apps/docmosis/docmosis/ithc.yaml
Owners: @hmcts/platform-operations

Update ithc tag
  apps/xui/xui-webapp/ithc-image-policy.yaml
Owners: @hmcts/xui

hmctspublic.azurecr.io/adoption/web:pr-956-9e0685b-20230228135054
  apps/adoption/adoption-web/demo.yaml
  apps/adoption/adoption-web/ithc.yaml
Owners: @hmcts/reform-adoption

Update demo int1 tag
  apps/xui/xui-webapp-integration1/demo-image-policy.yaml
Owners: @hmcts/xui

hmctsprivate.azurecr.io/docmosis:prod-f6c9e2a-345158 hmctsprivate.azurecr.io/docmosis:perftest-f6c9e2a-345158 hmctsprivate.azurecr.io/docmosis:sandbox-f6c9e2a-345158
  apps/docmosis/docmosis/docmosis.yaml
  apps/docmosis/docmosis/perftest.yaml
  apps/docmosis/docmosis/sbox.yaml
Owners: @hmcts/platform-operations

fix
  apps/ia/preview/base/kustomization.yaml
Owners: @hmcts/platform-operations

hmctspublic.azurecr.io/fpl/case-service:prod-8129a69-20230228134720
  apps/family-public-law/fpl-case-service/fpl-case-service.yaml
  apps/family-public-law/fpl-case-service/ithc.yaml
Owners: @hmcts/fpl-admins

hmctspublic.azurecr.io/lau/case-backend:prod-4a4b6a8-20230228140302
  apps/lau/lau-case-backend-int/lau-case-backend-int.yaml
  apps/lau/lau-case-backend/lau-case-backend.yaml
Owners: @hmcts/lau-admins

CODEOWNERS:

# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/rpe/rpe-send-letter-service/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-new/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-zip/ @hmcts/bulk-print
apps/rpe/rpe-send-letter-service-container-proc/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/ccd-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/Fees

## bar
apps/bar/ @hmcts/Fees

# IDAM
apps/idam/ @hmcts/idam
apps/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals


## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### DTSSE
apps/dtsse/ @hmcts/rse

### Add new changes here

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Do not add after this, add before Kustomization control
